﻿@using PagedList.Mvc;
@using ProjectPertamina.Common;
@model PagedList.IPagedList<ProjectPertamina.Entities.Models.Broadcast>
<div class="container-content">
    <div class="title">
        TEAM ON DUTY
    </div>
    <div class="row isi-content">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <a class=" broadcast-thumb" href='@Url.Action("Detail", "Broadcast", new { @Id = item.Id})'>
                    <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.Broadcast, ImageName = item.Gambar })" />
                </a>
            </div>

        }
        <div class="col-md-12 paging">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>