﻿@using ProjectPertamina.Common;
<div class="container-content">
    @foreach (var item in Model)
    {
        <div class="isi-content">
            <h5><strong>@item.Judul</strong></h5>
            <a href="#" class="pop">
                <p><img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.Profile, ImageName = item.Gambar })" class="broadcast-thumb" /></p>
            </a>
            <p>@item.Deskripsi</p>
        </div>
    }
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>