﻿@*@model ProjectPertamina.Entities.Models.WebCustodyTransfer.CustodyTransfer*@
@model ProjectPertamina.Presentation.ViewModels.CustodyTransferViewModel

<div class="container-content">
    <div class="title-admin">
        @ViewBag.Title CUSTODY TRANSFER
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("CreateEdit", "CustodyTransfer", FormMethod.Post, new { id = "CreateEditForm", @class = "form-horizontal", role = "form" }))
            {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group required">
                        @Html.LabelFor(i => i.PerusahaanName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(i => i.PerusahaanName, new { @class = "form-control", @readonly = "" })
                            @Html.HiddenFor(i => i.PerusahaanKode)
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(i => i.Tanggal, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <div class='input-group datetimepicker'>
                                @Html.EditorFor(i => i.Tanggal, null, new { htmlAttributes = new { @class = "form-control", @readonly = "", onchange = "bindSGHidrogen()" } })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.Label("Tipe Produk", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @if (ViewBag.Title == "ADD")
                            {
                                @Html.DropDownListFor(i => i.Stream.TipeProdukId, new SelectList(ViewBag.TipeProdukList, "Id", "Deskripsi"), new { @class = "form-control", onchange = "bindStreamDropdown()" })
                            }
                            else
                            {
                                @Html.DropDownListFor(i => i.Stream.TipeProdukId, new SelectList(ViewBag.TipeProdukList, "Id", "Deskripsi"), new { @class = "form-control", @disabled = "disabled", onchange = "bindStreamDropdown()" })
                            }
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(i => i.StreamId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @if (ViewBag.Title == "ADD")
                            {
                                @Html.DropDownListFor(i => i.StreamId, new SelectList(ViewBag.StreamList, "Id", "StreamName"), new { @class = "form-control", onchange = "bindTagNumberTextBox()" })
                            }
                            else
                            {
                                @Html.DropDownListFor(i => i.StreamId, new SelectList(ViewBag.StreamList, "Id", "StreamName"), new { @class = "form-control", @disabled = "disabled", onchange = "bindTagNumberTextBox()" })
                                @Html.HiddenFor(i => i.StreamId)
                            }
                            @Html.ValidationMessageFor(model => model.StreamId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.Label("Tag Number", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(i => i.Stream.TagNumber, new { @class = "form-control", id = "TagNumber", @readonly = "" })
                            @*<input type="text" readonly="" class="form-control" />*@
                        </div>
                    </div>
                    <div class="form-group mtdiv">
                        @Html.LabelFor(i => i.MT, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(i => i.MT, new { @class = "form-control", type = "number", step = "0.00001", onchange = "MTOnChange()" })
                            @*@Html.TextBoxFor(i => i.MT, new { @class = "form-control ConvertCurreny" })*@
                            @Html.ValidationMessageFor(model => model.MT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group sgdiv">
                        @Html.LabelFor(i => i.SG, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(i => i.SG, new { @class = "form-control", type = "number", step = "0.0001", onchange = "SGOnChange()" })
                            @Html.ValidationMessageFor(model => model.SG, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group kwhdiv">
                        @Html.LabelFor(i => i.Kwh, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(i => i.Kwh, new { @class = "form-control", type = "number", step = "0.000000000000001" })
                            @Html.ValidationMessageFor(model => model.Kwh, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group densitydiv">
                        @Html.Label("Density", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("Density", "", new { @class = "form-control", @readonly = "" })
                            @Html.Hidden("DensityVal")
                        </div>
                    </div>
                    <div class="form-group literdiv">
                        @Html.Label("Liter 15 C", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("Liter", "", new { @class = "form-control", @readonly = "" })
                            @Html.Hidden("LiterVal")
                        </div>
                    </div>
                    <div class="form-group longdiv">
                        @Html.Label("Long Tons", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("Long", "", new { @class = "form-control", @readonly = "" })
                            @Html.Hidden("LongVal")
                        </div>
                    </div>
                    <div class="form-group cfdiv">
                        @Html.Label("CF Barrel to Barrel 60F", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("CF", "", new { @class = "form-control", @readonly = "" })
                            @Html.Hidden("CFVal")
                        </div>
                    </div>
                    <div class="form-group barreldiv">
                        @Html.Label("Barrel 60F", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("Barrel", "", new { @class = "form-control", @readonly = "" })
                            @Html.Hidden("BarrelVal")
                        </div>
                    </div>
                    <div class="form-group sghidrogendiv">
                        @Html.Label("SG Hidrogen", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("SGHidrogen", "", new { @class = "form-control", @readonly = "" })
                            @Html.Hidden("SGHidrogenVal")
                        </div>
                    </div>
                    @*<div class="form-group nm3div">
                        @Html.Label("NM3", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBox("NM3", "", new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>*@
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Save" />
                            @Html.ActionLink("Back", "Index", "CustodyTransfer", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <input type="hidden" id="hdalertsucces" value="@TempData["MessageSucces"]" />

        @*<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
                <div id="createContainer">
                </div>
            </div>*@
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#MT').on('input', function () {
                this.value = this.value.match(/\d{0,20}(\.\d{0,5})?/)[0];
                //console.log(this.value.match(/\d{0,10}(\.\d{0,4})?/));
            });

            $('#SG').on('input', function () {
                this.value = this.value.match(/\d{0,20}(\.\d{0,15})?/)[0];
                //console.log(this.value.match(/\d{0,10}(\.\d{0,4})?/));
            });
        });

        $('#CreateEditForm').submit(function () {
            // DO STUFF...

            var TipeProduk = $("#Stream_TipeProdukId option:selected").text().trim();
            if (TipeProduk == "Oil") {
                if ($("#DensityVal").val() == false) {
                    swal("Density", $("#Density").val(), "error");
                    return false;
                }
                else if ($("#LiterVal").val() == false) {
                    swal("Liter 15 C", $("#Liter").val(), "error");
                    return false;
                }
                else if ($("#LongVal").val() == false) {
                    swal("Long Tons", $("#Long").val(), "error");
                    return false;
                }
                else if ($("#CFVal").val() == false) {
                    swal("CF Barrel to Barrel 60F", $("#CF").val(), "error");
                    return false;
                }
                else if ($("#BarrelVal").val() == false) {
                    swal("Barrel 60F", $("#Barrel").val(), "error");
                    return false;
                }
                else if ($("#LiterVal").val() == false) {
                    swal("Error", $("#Liter").val(), "error");
                    return false;
                }
            }
            else if (TipeProduk == "Hidrogen") {
                if ($("#SGHidrogenVal").val() == false) {
                    swal("SG Hidrogen", $("#SGHidrogen").val(), "error");
                    return false;
                }
            }

            return true; // return false to cancel form action
        });

        $(document).ready(function () {
            var notif = $('#hdalertsucces').val();
            if (notif != '')
                Notifikasi(notif);

            bindHiddenShowbyTipeProduk();
            $('.datetimepicker').on('dp.change', TanggalOnChange);
        });


        //$("#CreateEditForm").validate({
        //    ignore: [],
        //    errorElement: "span",
        //    errorClass: "text-danger",
        //    rules: {
        //        SGHidrogen: {
        //            number: true
        //        },
        //        StreamId: {
        //            min: 1
        //        },
        //        DensityVal: {
        //            equalTo: "#Thetrue"
        //        }
        //    },
        //    messages: {
        //        SGHidrogen: {
        //            number: "SGHidrogen harus ada, rubah tanggal atau input master terlebih dahulu",
        //        },
        //        StreamId: {
        //            min: "Harap masukan stream",
        //        },
        //        DensityVal: {
        //            equalTo: "Harap perbaiki error diatas",
        //        }
        //    }
        //});


        function bindStreamDropdown() {
            var TipeProdukId = $("#Stream_TipeProdukId").val();
            $.getJSON('@Url.Action("getStreamDL", "CustodyTransfer")?TipeProdukId=' + TipeProdukId, function (data) {
                console.log(data);
                $('#StreamId').empty();
                $("#TagNumber").val("");
                $.each(data, function (index, item) {
                    console.log(item);
                    $('#StreamId').append(
                         $('<option></option>').val(item.Id).html(item.StreamName)
                     );
                });
            });

            bindHiddenShowbyTipeProduk();
        }

        function bindHiddenShowbyTipeProduk() {
            var TipeProduk = $("#Stream_TipeProdukId option:selected").text().trim();
            if (TipeProduk == "Oil") {
                $(".mtdiv").removeClass('hidden');
                $(".sgdiv").removeClass('hidden');
                $(".kwhdiv").addClass('hidden');
                $(".densitydiv").removeClass('hidden');
                $(".literdiv").removeClass('hidden');
                $(".longdiv").removeClass('hidden');
                $(".cfdiv").removeClass('hidden');
                $(".barreldiv").removeClass('hidden');
                $(".sghidrogendiv").addClass('hidden');
                //$(".nm3div").addClass('hidden');
                if ("@ViewBag.Title" == "EDIT") {
                    bindLiter15C();
                    bindDensity();
                    console.log("oke");
                }
            }
            else if (TipeProduk == "Hidrogen") {
                $(".mtdiv").removeClass('hidden');
                $(".sgdiv").addClass('hidden');
                $(".kwhdiv").addClass('hidden');
                $(".densitydiv").addClass('hidden');
                $(".literdiv").addClass('hidden');
                $(".longdiv").addClass('hidden');
                $(".cfdiv").addClass('hidden');
                $(".barreldiv").addClass('hidden');
                $(".sghidrogendiv").removeClass('hidden');
                //$(".nm3div").removeClass('hidden');
                //if ("@ViewBag.Title" == "EDIT") {
                    TanggalOnChange();
                //}
            }
            else if (TipeProduk == "Electricity") {
                $(".mtdiv").addClass('hidden');
                $(".sgdiv").addClass('hidden');
                $(".kwhdiv").removeClass('hidden');
                $(".densitydiv").addClass('hidden');
                $(".literdiv").addClass('hidden');
                $(".longdiv").addClass('hidden');
                $(".cfdiv").addClass('hidden');
                $(".barreldiv").addClass('hidden');
                $(".sghidrogendiv").addClass('hidden');
                //$(".nm3div").addClass('hidden');
            }
            else if (TipeProduk == "NSW") {
                $(".mtdiv").removeClass('hidden');
                $(".sgdiv").addClass('hidden');
                $(".kwhdiv").addClass('hidden');
                $(".densitydiv").addClass('hidden');
                $(".literdiv").addClass('hidden');
                $(".longdiv").addClass('hidden');
                $(".cfdiv").addClass('hidden');
                $(".barreldiv").addClass('hidden');
                $(".sghidrogendiv").addClass('hidden');
                //$(".nm3div").addClass('hidden');
            }
        }

        function bindTagNumberTextBox() {
            var StreamId = $("#StreamId").val();
            $.getJSON('@Url.Action("getStream", "CustodyTransfer")?StreamId=' + StreamId, function (data) {
                $("#TagNumber").val(data.TagNumber);
            });
        }

        //////
        function bindDensity() {
            var TipeProduk = $("#Stream_TipeProdukId option:selected").text().trim();
            if (TipeProduk == "Oil") {
                var SG = $("#SG").val();
                if (SG != 0)
                    $.getJSON('@Url.Action("GetDensityFromTabel21", "Tabel21")?sg=' + SG, function (data) {
                        if (data.val) {
                            //$("#Density").val(accounting.formatNumber(data.density, 4, ",", "."));
                            $("#Density").val(data.density);
                            $("#DensityVal").val(data.val);
                        }
                        else {
                            $("#Density").val(data.density);
                            $("#DensityVal").val(data.val);
                        }
                        bindLiter15C();
                    })
                else {
                    $("#Density").val("SG tidak boleh 0");
                    $("#DensityVal").val(false);
                    bindLiter15C();
                };
            }
        }

        function bindLiter15C() {
            var TipeProduk = $("#Stream_TipeProdukId option:selected").text().trim();
            if (TipeProduk == "Oil") {
                var MT = $("#MT").val();
                if (MT != 0) {
                    var density = accounting.unformat($("#Density").val());
                    console.log("density = " + $("#DensityVal").val());
                    if ($("#DensityVal").val() == "false") {
                        console.log("density = " + $("#DensityVal").val());
                        $("#Liter").val("Density tidak ada");
                        $("#LiterVal").val(false);
                        bindCFBarrel();
                        bindLongTons();
                    }
                        //else if (density == 0) {
                        //    $("#Liter").val("Density tidak boleh 0");
                        //    $("#LiterVal").val(false);
                        //    bindCFBarrel();
                        //    bindLongTons();
                        //}
                    else {
                        $.getJSON('@Url.Action("GetLiter15FromTabel56", "Tabel56")?mt=' + MT + '&density=' + density, function (data) {
                            if (data.val) {
                                $("#Liter").val(accounting.formatNumber(data.Liter15, 15, ",", "."));
                                //$("#Liter").val(data.Liter15);
                                $("#LiterVal").val(data.val);
                            }
                            else {
                                $("#Liter").val(data.Liter15);
                                $("#LiterVal").val(data.val);
                            }
                            bindCFBarrel();
                            bindLongTons();
                        });
                    }
                }
                else {
                    $("#Liter").val("MT tidak boleh 0");
                    $("#LiterVal").val(false);
                    bindCFBarrel();
                    bindLongTons();
                };

            }
        }

        function bindLongTons() {
            var TipeProduk = $("#Stream_TipeProdukId option:selected").text().trim();
            if (TipeProduk == "Oil") {
                var MT = $("#MT").val();
                var Liter15 = accounting.unformat($("#Liter").val());
                if (MT != 0) {
                    var density = accounting.unformat($("#Density").val());
                    //console.log("density = " + density);
                    if ($("#DensityVal").val() == "false") {
                        $("#Long").val("Density kosong");
                        $("#LongVal").val(false);
                    }
                        //else if (density == 0) {
                        //    $("#Long").val("Density tidak boleh 0");
                        //    $("#LongVal").val(false);
                        //}
                    else {
                        if (!$("#LiterVal").val()) {
                            $("#Long").val("Liter 15C kosong");
                            $("#LongVal").val(false);
                        }
                        else {
                            $.getJSON('@Url.Action("GetLongTonsFromTabel57", "Tabel57")?mt=' + MT + '&liter15=' + Liter15 + '&density=' + density, function (data) {
                                if (data.val) {
                                    $("#Long").val(accounting.formatNumber(data.LongTons, 15, ",", "."));
                                    //$("#Long").val(data.LongTons);
                                    $("#LongVal").val(data.val);
                                }
                                else {
                                    $("#Long").val(data.LongTons);
                                    $("#LongVal").val(data.val);
                                }
                            });
                        }
                    }
                }
                else {
                    $("#Long").val("MT tidak boleh 0");
                    $("#LongVal").val(false);
                };
            }
        }

        function bindCFBarrel() {
            var TipeProduk = $("#Stream_TipeProdukId option:selected").text().trim();
            if (TipeProduk == "Oil") {
                var SG = $("#SG").val();
                if (SG != 0) {
                    var density = accounting.unformat($("#Density").val());
                    if ($("#DensityVal").val() == "false") {
                        $("#CF").val("Density tidak ada");
                        $("#CFVal").val(false);
                        bindBarrel60F();
                    }
                        //else if (density == 0) {
                        //    $("#CF").val("Density tidak boleh 0");
                        //    $("#CFVal").val(false);
                        //    bindBarrel60F();
                        //}
                    else {
                        $.getJSON('@Url.Action("GetCFBarrelFromTabel52", "Tabel52")?sg=' + SG + '&density=' + density, function (data) {
                            if (data.val) {
                                $("#CF").val(accounting.formatNumber(data.cf, 15, ",", "."));
                                $("#CFVal").val(data.val);
                            }
                            else {
                                $("#CF").val(data.cf);
                                $("#CFVal").val(data.val);
                            }
                            bindBarrel60F();
                        });
                    }
                }
                else {
                    $("#CF").val("SG tidak boleh 0");
                    $("#CFVal").val(false);
                    bindBarrel60F();
                };
            }
        }

        function bindBarrel60F() {
            var TipeProduk = $("#Stream_TipeProdukId option:selected").text().trim();
            if (TipeProduk == "Oil") {
                var MT = $("#MT").val();
                if (MT != 0) {
                    if ($("#LiterVal").val() == "false") {
                        $("#Barrel").val("Liter 15C kosong");
                        $("#BarrelVal").val(false);
                    }
                    else if ($("#CFVal").val() == "false") {
                        $("#Barrel").val("CF Barrel kosong");
                        $("#BarrelVal").val(false);
                    }
                    else {
                        var Liter15 = accounting.unformat($("#Liter").val());
                        var CF = accounting.unformat($("#CF").val());

                        var barrel = (Liter15 * CF) / 1000;
                        $("#Barrel").val(accounting.formatNumber(barrel, 3, ",", "."));
                        $("#BarrelVal").val(true);
                    }
                }
                else {
                    $("#Barrel").val("MT tidak boleh 0");
                    bindLiter15C();
                    $("#BarrelVal").val(false);
                };
            }
        }

        function bindSGHidrogen() {
            var TipeProduk = $("#Stream_TipeProdukId option:selected").text().trim();
            if (TipeProduk == "Hidrogen") {
                var Tanggal = $("#Tanggal").val();
                $.getJSON('@Url.Action("getSGHidrogen", "SGHidrogen")?Tanggal=' + Tanggal, function (data) {
                    if (data.val) {
                        $("#SGHidrogen").val(accounting.formatNumber(data.SGHidrogen, 4, ",", "."));
                        $("#SGHidrogenVal").val(data.val);
                    }
                    else {
                        $("#SGHidrogen").val(data.LongTons);
                        $("#SGHidrogenVal").val(data.val);
                    }
                    //$("#SGHidrogen").val(data);
                });
            }
        }

        @*function bindNM3() {
            var TipeProduk = $("#Stream_TipeProdukId option:selected").text().trim();
            if (TipeProduk == "Hidrogen") {
                var Tanggal = $("#Tanggal").val();
                $.getJSON('@Url.Action("GetNM3", "CustodyTransfer")?Tanggal=' + Tanggal, function (data) {
                        $("#NM3").val(accounting.formatNumber(data, 3, ",", "."));
                });
            }
        }*@

        function TanggalOnChange() {
            bindSGHidrogen();
            //bindNM3();
        }

        function MTOnChange() {
            bindLiter15C();
        }
        function SGOnChange() {
            bindDensity();
        }
    </script>
}
