﻿@*@model ProjectPertamina.Entities.Models.WebCustodyTransfer.CustodyTransfer*@
<div class="container-content">
    <div class="title-admin">
        CUSTODY TRANSFER
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                <form class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Tanggal Dari", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("TanggalDari", null, "{0:dd MMM yyyy}", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tanggal Sampai", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("TanggalSampai", null, "{0:dd MMM yyyy}", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Perusahaan", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.DropDownList("Perusahaan", new SelectList(ViewBag.PerusahaanList, "Code", "Description"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tipe Produk", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.DropDownList("TipeProduk", new SelectList(ViewBag.TipeProdukList, "Id", "Deskripsi"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Stream", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBox("Stream", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tag Number", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBox("TagNumber", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @if (ViewBag.Create == true)
            {
            <div class="table-header">
                <input type="button" class="btn btn-primary btn-sm" value="Add Custody Transfer" onclick="location.href='@Url.Action("IndexDetail", "CustodyTransfer")'" />
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Upload", "CustodyTransfer")" id="btnUploadExcel">Import Excel</button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" id="ButtonDownload">Download Template</button>
                @*<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("ExportExcel", "CustodyTransfer")" id="BtnExportExcel">Export Excel</button>*@
                <a href="@Url.Action("ExportExcel", "CustodyTransfer")" class="btn btn-primary btn-sm" id="BtnExportExcel">Export Excel</a>
                @*@Html.ActionLink("Export Excel", "ExportExcel", "CustodyTransfer", null, new { @class = "btn btn-primary btn-sm", id = "BtnExportExcel" })*@
                @*<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("ExportExcel", "CustodyTransfer")" id="btnExportExcel">Export Excel</button>*@
            </div>
        }
        <input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
        <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />
        <input type="hidden" id="hdalertsucces" value="@TempData["MessageSucces"]" />
        <table id="Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

<script type="text/javascript">
    //Other Script
    $("#ButtonDownload").on("click", function (e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = 'ExcelTemplate/CustodyTransfer_Template.xlsx';
    });

    $("#BtnExportExcel").on("click", function (event) {
        event.preventDefault();

        var url = $(this).attr("href");

        if (Date.parse($("#TanggalDari").val()) == null) {
            swal("Error", "Tanggal Dari harus diisi", "error");
            return false;
        }

        if (Date.parse($("#TanggalSampai").val()) == null) {
            swal("Error", "Tanggal Sampai harus diisi", "error");
            return false;
        }

        console.log(Date.parse($("#TanggalDari").val()));
        console.log(Date.parse($("#TanggalSampai").val()));

        if (Date.parse($("#TanggalDari").val()) > Date.parse($("#TanggalSampai").val())) {
            swal("Error", "Tanggal Sampai harus lebih besar dari Tanggal dari", "error");
            return false;
        }

        $.ajax({
            url: url + "?TanggalDari=" + Date.parse($("#TanggalDari").val()).toISOString() + "&TanggalSampai=" + Date.parse($("#TanggalSampai").val()).toISOString() + "&Stream=" + $("#Stream").val(),
            type: "GET",
            //success: function (data) {
            //    window.location.href = '/CustodyTransfer/Download';
            //},
            error: function (err) {
                swal("Error", err, "error");
            }
        }).done(function (data) {
            window.location.href = '/CustodyTransfer/Download';
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var notif = $('#hdalertsucces').val();
        if (notif != '')
            Notifikasi(notif);
        console.log(notif);
    });
    //Table Script
    var assetListVM;
    //Login
    var edit = $('#hdActionedit').val();
    var hapus = $('#hdActiondelete').val();
    var visible = true;
    if (edit == "False" && hapus == "False")
        visible = false;
    //Login
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#Table').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "searching": false,
                    "ordering": false,
                    "ajax": {
                        "url": "@Url.Action("Get","CustodyTransfer")",
                        "data": function (data) {
                            //function search
                            if (Date.parse($("#TanggalDari").val()) != null)
                                data.TanggalDari = Date.parse($("#TanggalDari").val()).toISOString();
                            if (Date.parse($("#TanggalSampai").val()) != null)
                                data.TanggalSampai = Date.parse($("#TanggalSampai").val()).toISOString();
                            data.Perusahaan = $("#Perusahaan").val();
                            data.TipeProduk = $("#TipeProduk").val();
                            data.Stream = $("#Stream").val();
                            data.TagNumber = $("#TagNumber").val()
                        }
                    },
                    "columns": [
                        {
                            "className": "dt-center",
                            "width": "100px",
                            "title": "<span class='glyphicon glyphicon-cog'></span>",
                            "data": {
                                "Id": "Id",
                                "EditDeleteTampil": "EditDeleteTampil"
                            },
                            "sortable": false,
                            "render": function (data, type, full, meta) {
                                console.log(data.EditDeleteTampil);
                                var action = "";
                                if (edit == "True") {
                                    if (data.EditDeleteTampil)
                                    action = '<a class="btn btn-primary btn-sm editAsset" href="@Url.Action("IndexDetail", "CustodyTransfer")?Id=' + data.Id + '"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>';
                                }
                                if (hapus == "True") {
                                    if (data.EditDeleteTampil)
                                    action = action + ' <a href="@Url.Action("Delete", "CustodyTransfer")?Id=' + data.Id + '" class="delete btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                                return action;
                            }
                        },
                        { "title": "Tanggal", "data": "Tanggal", "sortable": false },
                        { "title": "Tipe Produk", "data": "TipeProduk", "sortable": false },
                        { "title": "Stream", "data": "Stream", "sortable": false },
                        { "title": "Mass Totalizer", "data": "MassTotalizer", "sortable": false },
                        { "title": "SG 60/60F", "data": "SG60", "sortable": false },
                        { "title": "KWH", "data": "KWH", "sortable": false },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": visible
                        },
                        {
                            "targets": [1],
                            "render": function (data, type, row) {
                                return '' + getDate(data) + '';
                            },
                        },
                        {
                            "targets": [4],
                            "render": function (data, type, row) {
                                return '' + accounting.formatNumber(data, 5, ",", ".") + '';
                            },
                        },
                        {
                            "targets": [5],
                            "render": function (data, type, row) {
                                return '' + accounting.formatNumber(data, 4, ",", ".") + '';
                            },
                        },
                        {
                            "targets": [6],
                            "render": function (data, type, row) {
                                return '' + accounting.formatNumber(data, 4, ",", ".") + '';
                            },
                        }
                    ],
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "dom": '<"top">rt<"bottom"lip><"clear">'
                });
            },

            refresh: function () {
                dt.ajax.reload();
            }
        }
        $('#btnSearch').on("click", assetListVM.refresh);

        assetListVM.init();

        $("#btnCreate").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        //$('#Table').on("click", ".editAsset", function (event) {

        //    event.preventDefault();

        //    var url = $(this).attr("href");

        //    $.get(url, function (data) {
        //        $('#createContainer').html(data);

        //        $('#createModal').modal('show');
        //    });

        //});

        $("#btnExportExcel").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $("#btnUploadExcel").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#Table').on("click", ".delete", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });
    });

</script>
