﻿@*@model ProjectPertamina.Presentation.ViewModels.ReportKKSuplyLossViewModel*@
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-content" id="OilMovement">
    <div class="title-admin">
        Laporan Berita Acara
    </div>
    <div class="isi-content">
        @using (Html.BeginForm("ExportExcel", "ReportKKSupplyLoss", FormMethod.Post))
        {
            <div class="row sorting-table">
                <div class="col-md-10">

                    @*<div class="modal-body">*@
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Bulan", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class='col-md-3'>
                                @Html.DropDownList("Bulan", new SelectList(ViewBag.ddlBulan, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Tahun", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class='col-md-3'>
                                @Html.DropDownList("Tahun", new SelectList(ViewBag.ddlTahun, "Value", "Text"), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-9">
                                <input type="button" class="btn btn-primary btn-sm" value="Process" id="btnSearch" />
                            </div>
                        </div>
                        @*</div>*@
                    </div>
                </div>
            </div>
        }
        <div class="table-header">
            <a class="btn btn-primary btn-sm" id="btnPrint" href="" onclick="addURL(this);" target="_blank">Print</a>

            @*<a class="btn btn-primary btn-sm" id="btnPrint"   onclick="return printReport();">Print</a>*@

            @*<input class="btn btn-primary btn-sm" onclick="addURL()" value="Print">*@
            @*<input type="button" class="btn btn-primary btn-sm" value="Print" onclick="return submitClick();" />*@
        </div>
        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>

        <div class="row sorting-table">
            <div class="col-md-10">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Nama 1", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Nama1", "", new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Label("Jabatan 1", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Jabatan1", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Nama 2", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Nama2", "", new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Label("Jabatan 2", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Jabatan2", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Nama 3", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Nama3", "", new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Label("Jabatan 3", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Jabatan3", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Nama 4", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Nama4", "", new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Label("Jabatan 4", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Jabatan4", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Nama 5", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Nama5", "", new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Label("Jabatan 5", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Jabatan5", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Nama 6", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Nama6", "", new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Label("Jabatan 6", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Jabatan6", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Nama 7", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Nama7", "", new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Label("Jabatan 7", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Jabatan7", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Nama 8", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Nama8", "", new { @class = "form-control" })
                            </div>
                        </div>
                        @Html.Label("Jabatan 8", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-2'>
                            <div class='input-group'>
                                @Html.TextBox("Jabatan8", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        function submitClick() {
            document.getElementById("btnSubmit").click();
        }

        //Table Script
        var assetListVM;

        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#grid').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("Get", "ReportBeritaAcara")",
                            "type": "GET",
                            "data": function (data) {
                                //function search
                                data.Bulan = $("#Bulan").val();
                                data.Tahun = $("#Tahun").val();
                            }
                        },
                        "columns": [
                           { "title": "Stream", "data": "Stream.StreamName", "sortable": false },
                           { "title": "Tag No", "data": "TagNo", "sortable": false },
                           { "title": "Mt Ton", "data": "MtTon", "sortable": false },
                           { "title": "Density", "data": "Density", "sortable": false },
                           { "title": "M3", "data": "M3", "sortable": false },
                           { "title": "NM3", "data": "NM3", "sortable": false },
                           { "title": "Barrels", "data": "Barrels", "sortable": false },
                           { "title": "US Gallon", "data": "USGallon", "sortable": false },
                           { "title": "Kwh", "data": "Kwh", "sortable": false },

                        ],
                        "columnDefs": [
                            {
                                "targets": [2],
                                "render": function (data) {
                                    if (data == 0)
                                        return '-';
                                    else
                                        return accounting.formatNumber(data, 3, ",", ".");
                                },
                            },
                            {
                                "targets": [3],
                                "render": function (data) {
                                    if (data == 0)
                                        return '-';
                                    else
                                        return accounting.formatNumber(data, 4, ",", ".");
                                },
                            },
                            {
                                "targets": [4],
                                "render": function (data) {
                                    if (data == 0)
                                        return '-';
                                    else
                                        return accounting.formatNumber(data, 3, ",", ".");
                                },
                            },
                            {
                                "targets": [5],
                                "render": function (data) {
                                    if (data == 0)
                                        return '-';
                                    else
                                        return accounting.formatNumber(data, 3, ",", ".");
                                },
                            },
                            {
                                "targets": [6],
                                "render": function (data) {
                                    if (data == 0)
                                        return '-';
                                    else
                                        return accounting.formatNumber(data, 3, ",", ".");
                                },
                            },
                            {
                                "targets": [7],
                                "render": function (data) {
                                    if (data == 0)
                                        return '-';
                                    else
                                        return accounting.formatNumber(data, 3, ",", ".");
                                },
                            },
                            {
                                "targets": [8],
                                "render": function (data) {
                                    if (data == 0)
                                        return '-';
                                    else
                                        return accounting.formatNumber(data, 3, ",", ".");
                                },
                            },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $("#btnSearch").on("click", function () {
                assetListVM.refresh();
            });

            assetListVM.init();
        });

    </script>

    <script>

        function addURL(element) {
            $(element).attr('href', function () {
                var Bulan = $("#Bulan").val();
                var Tahun = $("#Tahun").val();
                var Nama1 = $("#Nama1").val();
                var Nama2 = $("#Nama2").val();
                var Nama3 = $("#Nama3").val();
                var Nama4 = $("#Nama4").val();
                var Nama5 = $("#Nama5").val();
                var Nama6 = $("#Nama6").val();
                var Nama7 = $("#Nama7").val();
                var Nama8 = $("#Nama8").val();

                var Jabatan1 = $("#Jabatan1").val();
                var Jabatan2 = $("#Jabatan2").val();
                var Jabatan3 = $("#Jabatan3").val();
                var Jabatan4 = $("#Jabatan4").val();
                var Jabatan5 = $("#Jabatan5").val();
                var Jabatan6 = $("#Jabatan6").val();
                var Jabatan7 = $("#Jabatan7").val();
                var Jabatan8 = $("#Jabatan8").val();

                var querystring = 'bulanInput=' + Bulan + '&tahun=' + Tahun
                                 + '&nama1=' + Nama1 + '&jabatan1=' + Jabatan1
                                 +'&nama2=' + Nama2 + '&jabatan2=' + Jabatan2
                                 +'&nama3=' + Nama3 + '&jabatan3=' + Jabatan3
                                 +'&nama4=' + Nama4 + '&jabatan4=' + Jabatan4
                                 +'&nama5=' + Nama5 + '&jabatan5=' + Jabatan5
                                 +'&nama6=' + Nama6 + '&jabatan6=' + Jabatan6
                                 +'&nama7=' + Nama7 + '&jabatan7=' + Jabatan7
                                 +'&nama8=' + Nama8 + '&jabatan8=' + Jabatan8;


                console.log('@Url.Action("Print", "ReportBeritaAcara")' + '?' + querystring);
                return '@Url.Action("Print", "ReportBeritaAcara")' + '?' + querystring;
            });
        }
    </script>
}