﻿@model ProjectPertamina.Presentation.ViewModels.PDFReportBeritaAcaraViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportGenerate</title>
    <style>
        .noborder, .noborder tr, .noborder th, .noborder td {
            border: none;
        }

        .tableJudul {
            border-collapse: collapse;
            width: 100%;
        }

        .tableJudul, th, td {
            border: 0px;
        }

        .tablesatu {
            border-collapse: collapse;
            width: 95%;
        }

        .tablesatu, th, td {
            border: 1px solid black;
        }

        .head {
            font-family: Calibri;
            font-size: 12pt;
            font-weight: bold;
            text-align: center;
        }

        td {
            font-family: Calibri;
            font-size: 12pt;
        }

        .divjudul {
            margin-top: -30px;
        }

        .judul {
            font-family: 'Times New Roman';
            font-size: 12pt;
            font-weight: bold;
            margin-top: 30%;
            margin-bottom: 5%;
            text-align: center;
            /*padding-right: 300px;*/
        }

        .judulIPM {
            font-family: 'Times New Roman';
            font-size: 12pt;
            margin-top: 8%;
        }

        .judulkanan {
            float: right;
            padding-right: 100px;
            margin-top: -50px;
            border: none;
        }

        .divnote {
            height: 150px;
            width: 85%;
            border: solid;
            border-width: 1px;
            margin-top: 15px;
            font-family: Calibri;
            font-size: 12pt;
        }

        .paraf {
            margin-top: 65px;
            width: 95%;
            bottom: 20px;
            position: relative;
        }

        .kanan {
            /*float:right;*/
            font-family: 'Times New Roman';
            font-size: 10pt;
        }

        .kiri {
            float: left;
            font-family: 'Times New Roman';
            font-size: 10pt;
            width: 75.5%;
        }

        .note {
            margin-top: 5%;
            font-size: 9pt;
            padding-bottom: 5%;
        }
        /*footer {
            position: absolute;
            padding-bottom: 0;
            width: 100%;
            height: 60px;
            text-align: center;
        }*/
        html, body {
            margin: 0px;
            padding: 0px;
            min-height: 100%;
            height: 100%;
        }

        #wrapper {
            min-height: 100%;
            height: auto !important;
            margin-bottom: -50px; /* the bottom margin is the negative value of the footer's total height */
        }

            #wrapper:after {
                content: "";
                display: block;
                height: 50px; /* the footer's total height */
            }

        #content {
            height: 100%;
            margin-top: -15px;
        }

        #footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 20px;
            margin-top: 30px;
        }

        .divfooter {
            font-family: 'Times New Roman';
            font-size: 10pt;
        }

        .ttd {
            border: 0px !important;
            width: 100%;
        }

        /*.ttd, th, td {
            border: 0px;
        }*/

        .ttdtr td {
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="divjudul">
        <div class="judul">
            <p>
                CUSTODY TRANSFER <br />Between PATRA SK and PERTAMINA <br /> @Model.bulan @Model.tahun
            </p>
        </div>
    </div>
    <div id="wrapper">

        <div id="content" style="page-break-inside: avoid;">

            <table class="tablesatu">
                <tr>
                    <td class="head">No </td>
                    <td class="head">Stream</td>
                    <td class="head">Tag No</td>
                    <td class="head">Mt Ton</td>
                    <td class="head">Density</td>
                    <td class="head">M3</td>
                    <td class="head">NM3</td>
                    <td class="head">Barrels</td>
                    <td class="head">US Gallon</td>
                    <td class="head">KWh</td>
                </tr>

                <tbody>
                    @{
                        int i = 0;
                        foreach (var item in Model.listmodel)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.Stream.StreamName</td>
                                <td>@item.Stream.TagNumber</td>
                                @if (item.MtTon != 0)
                                {
                                    <td>@string.Format("{0:n3}", item.MtTon)</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                @if (item.Density != 0)
                                {
                                    <td>@string.Format("{0:n4}", item.Density)</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                @if (item.M3 != 0)
                                {
                                    <td>@string.Format("{0:n3}", item.M3)</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                @if (item.NM3 != 0)
                                {
                                    <td>@string.Format("{0:n3}", item.NM3)</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                @if (item.M3 != 0)
                                {
                                    <td>@string.Format("{0:n3}", item.Barrels)</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                @if (item.USGallon != 0)
                                {
                                    <td>@string.Format("{0:n3}", item.USGallon)</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                                @if (item.Kwh != 0)
                                {
                                    <td>@string.Format("{0:n3}", item.Kwh)</td>
                                }
                                else
                                {
                                    <td>-</td>
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="note">
                <i>Remarks:</i>
                <br />
                <i>1. Custody transfer measurement user metering orifice and Coriolls which has been and certified by DITMET and withnessed by MIGAS</i>
                <br />
                <i>2. Conversion from MTon to Barrel use Table T-52 and T-56 (ASTM-IP)</i>
                <br />
                <i>3.This documents only raw data for OCC meeting (can’t use for commercial invoice and tax purpose)</i>
            </div>
        </div>

        <div>Dumai, @DateTime.Now.ToString("dd MMMM yyyy")</div>
        <table class="tablesatu">
            <tr>
                <td class="head">PT. Pertamina, Refenery Unit II </td>
                <td class="head">PT. PATRA SK</td>
            </tr>
            <tr>
                <td>
                    <table class="ttd noborder" border="0">
                        <tr>
                            <td align="center">
                                @Model.jabatan1
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @Model.nama1
                            </td>
                            <td align="center">
                                @Model.jabatan2
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @Model.nama2
                            </td>
                            <td align="center">
                                @Model.jabatan3
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @Model.nama3
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                @Model.jabatan5
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @Model.nama5
                            </td>
                            <td align="center">
                                @Model.jabatan6
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @Model.nama6
                            </td>
                            <td align="center">
                                @Model.jabatan7
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @Model.nama7
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="ttd noborder" border="0">
                        <tr>
                            <td align="center">
                                @Model.jabatan4
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @Model.nama4
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                @Model.jabatan8
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @Model.nama8
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>
    <footer id="footer">
        <div style="width:50%;"></div>
    </footer>
</body>
</html>
