﻿@model ProjectPertamina.Presentation.ViewModels.ReportCargoLossesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-content" id="OilMovement">
    <div class="title-admin">
        LAPORAN CARGO LOSSES
    </div>
    <div class="isi-content">
        @using (Html.BeginForm("ExportExcel", "ReportCargoLosses", FormMethod.Post))
        {
            <div class="row sorting-table">
                <div class="col-md-10">

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Tanggal BL", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                     @Html.TextBoxFor(x => x.TanggalBL, new { @class = "form-control", id = "txtTanggalBlDari", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalBLSampai,new { @class = "form-control", id = "txtTanggalBlSampai", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tanggal Bongkar", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalBongkar, new { @class = "form-control", id = "txtTanggalBongkarDari", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalBongkarSampai,new { @class = "form-control", id = "txtTanggalBongkarSampai", @readonly ="" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Nama Kapal", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.NamaKapal, "", new { @id = "txtKapal", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Muatan", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.NamaKapal, "", new { @id = "txtMuatan", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Asal", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.Asal, "", new { @id = "txtAsal", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Export Excel" id="btnSubmit" hidden /> 
        }
        <div>
            <table>
                <tr>
                    <td>
                        <div id="containerBarChart" style="position:center;min-width: 800px; max-width :900px; height :600px; margin: 0 auto;"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-header">
            <input type="button" class="btn btn-primary btn-sm" value="Export Excel" onclick="return submitClick();" />
        </div>
        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">
        
        function submitClick()
        {
            document.getElementById("btnSubmit").click();
        }

        //Table Script
        var assetListVM;
     
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#grid').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("Get", "ReportCargoLosses")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                data.Muatan = $("#txtMuatan").val();
                                data.Asal = $("#txtAsal").val();
                                data.NamaKapal = $("#txtKapal").val();
                                data.TanggalBL = $("#txtTanggalBlDari").val();
                                data.TanggalBLSampai = $("#txtTanggalBlSampai").val();
                                data.TanggalBongkar = $("#txtTanggalBongkarDari").val();
                                data.TanggalBongkarSampai = $("#txtTanggalBongkarSampai").val();

                            }
                        },
                        "columns": [
                            { "title": "Tanggal BL", "data": "TglBL", "sortable": false },
                            { "title": "Tanggal Bongkar", "data": "TanggalBongkar", "sortable": false },
                            { "title": "Kurs Beli", "data": "KursBeli", "sortable": false },
                            { "title": "Price Ref", "data": "PriceRef", "sortable": false },
                            { "title": "Nama Kapal", "data": "NamaKapal", "sortable": false },
                            { "title": "Muatan", "data": "Muatan", "sortable": false },
                            { "title": "Asal", "data": "Asal", "sortable": false },
                            { "title": "No BL", "data": "NoBl", "sortable": false },
                        ],
                        "columnDefs": [
                                {
                                    "targets": [0],
                                    "render": function (data, type, row) {
                                        return '' + getDate(data) + '';
                                    },
                                },
                                {
                                    "targets": [1],
                                    "render": function (data, type, row) {
                                        return '' + getDate(data) + '';
                                    },
                                },
                                {
                                    "targets": [2],
                                    "render": function (data, type, row) {
                                        return accounting.formatNumber(data, 3, ",", ".");
                                    }
                                },
                                {
                                    "targets": [3],
                                    "render": function (data, type, row) {
                                        return accounting.formatNumber(data, 3, ",", ".");
                                    }
                                }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $("#btnSearch").on("click", function () {
                assetListVM.refresh();
                drawBarChartAjax();
            });
            assetListVM.init();
            drawBarChartAjax();

        });

    </script>
    <script src="~/Scripts/highcharts.js"></script>
    <script>
        function drawBarChartAjax() {
            
            var Muatan = $("#txtMuatan").val();
            var Asal = $("#txtAsal").val();
            var NamaKapal = $("#txtKapal").val();
            var TanggalBL = $("#txtTanggalBlDari").val();
            var TanggalBLSampai = $("#txtTanggalBlSampai").val();
            var TanggalBongkar = $("#txtTanggalBongkarDari").val();
            var TanggalBongkarSampai = $("#txtTanggalBongkarSampai").val();
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "ReportCargoLosses/barchart",
                data: "{Muatan:'" + Muatan + "', Asal :'" + Asal + "', NamaKapal :'" + NamaKapal
                       + "',TanggalBL :'" + TanggalBL + "',TanggalBLSampai :'" + TanggalBLSampai
                       + "',TanggalBongkar :'" + TanggalBongkar + "',TanggalBongkarSampai :'" + TanggalBongkarSampai + "'}",
                dataType: "json",
                cache: true,
                success: function (Result) {
                    console.log(Result);
                    drawBarChart(Result);
                },
                error: function (Result) {
                    alert("Error");
                }
            });
        }
        function drawBarChart(data) {
            $('#containerBarChart').highcharts({
                chart: {
                    type: 'column',
                    inverted: false
                },
                title: {
                    text: data.Title
                },
                subtitle: {
                    text: data.Subtitle
                },
                xAxis: {
                    categories: data.XAxisCategories,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: data.YAxisTitle
                    }
                    //,labels: {
                    //    overflow: 'justify'
                    //}
                },
                tooltip: {
                    //valueSuffix: data.YAxisTooltipValueSuffix
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    align: 'center',
                    verticalAlign: 'bottom',
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: data.Series
            });
        }
    </script>

}