﻿@model ProjectPertamina.Entities.Models.CargoLosses
<div class="container-content">
    <div class="title-admin">
        CARGO LOSSES
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <form class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(i => i.BlDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("BlDate", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("BlDateSampai", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.TanggalBongkar, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("TanggalBongkar", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("TanggalBongkarSampai", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Muatan", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBox("Muatan", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Asal", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBox("Asal", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Nama Kapal", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBox("NamaKapal", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("No BL", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBox("NoBl", "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </form>
        </div>


        @if (ViewBag.Process == true)
            {
            <div class="table-header">
                <input type="button" class="btn btn-primary btn-sm" value="Proses Data Cargo Losses" onclick="location.href='@Url.Action("CreateEdit", "CargoLosses")'" />
            </div>
        }
        @*<input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
            <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />*@
        <table id="Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>


<script type="text/javascript">
    //Table Script
    var assetListVM;
    //Login
    //var edit = $('#hdActionedit').val();
    //var hapus = $('#hdActiondelete').val();
    //var visible = true;
    //if (edit == "False" && hapus == "False")
    //    visible = false;
    //Login
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#Table').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "searching": false,
                    "ordering": false,
                    "ajax": {
                        "url": "@Url.Action("Get", "CargoLosses")",
                        "type": "POST",
                        "data": function (data) {
                            //function search
                            data.Muatan = $("#Muatan").val();
                            data.Asal = $("#Asal").val();
                            data.NamaKapal = $("#NamaKapal").val();
                            data.NoBl = $("#NoBl").val();
                            if (Date.parse($("#BlDate").val()) != null)
                                data.TanggalBL = Date.parse($("#BlDate").val()).toISOString();
                            if (Date.parse($("#BlDateSampai").val()) != null)
                                data.TanggalBLSampai = Date.parse($("#BlDateSampai").val()).toISOString();
                            if (Date.parse($("#TanggalBongkar").val()) != null)
                                data.TanggalBongkar = Date.parse($("#TanggalBongkar").val()).toISOString();
                            if (Date.parse($("#TanggalBongkarSampai").val()) != null)
                                data.TanggalBongkarSampai = Date.parse($("#TanggalBongkarSampai").val()).toISOString();
                        }
                    },
                    "columns": [
                        { "title": "Doc Date", "data": "DocDate", "sortable": false },
                        { "title": "Doc No", "data": "DocNo", "sortable": false },
                        { "title": "Tanggal BL", "data": "TanggalBl", "sortable": false },
                        { "title": "Nama Kapal", "data": "NamaKapal", "sortable": false },
                        { "title": "Muatan", "data": "Muatan", "sortable": false },
                        { "title": "Asal", "data": "Asal", "sortable": false },
                        { "title": "No BL", "data": "NoBl", "sortable": false },
                        { "title": "Tanggal Bongkar", "data": "TanggalBongkar", "sortable": false },
                        { "title": "Kurs Beli", "data": "KursBeli", "sortable": false },
                        { "title": "Price Ref", "data": "PriceRef", "sortable": false },
                    ],
                    "columnDefs": [
                            {
                                "targets": [0],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                            {
                                "targets": [2],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                            {
                                "targets": [7],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                            {
                                "targets": [8],
                                "render": function (data, type, row) {
                                    return accounting.formatNumber(data, 3, ",", ".");
                                }
                            },
                            {
                                "targets": [9],
                                "render": function (data, type, row) {
                                    return accounting.formatNumber(data, 3, ",", ".");
                                }
                            }
                    ],
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "dom": '<"top">rt<"bottom"lip><"clear">'
                });
            },

            refresh: function () {
                dt.ajax.reload();
            }
        }
        $('#btnSearch').on("click", assetListVM.refresh);

        assetListVM.init();


        $('#Table').on("click", ".editAsset", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#Table').on("click", ".delete", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

    });



</script>


