﻿@model ProjectPertamina.Presentation.ViewModels.KKSupplyLossViewModel

    <div class="container-content">
        <div class="title-admin">
            KERTAS KERJA SUPPLY LOSS
        </div>
        <div class="isi-content">
            <div class="row sorting-table">
                <form class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(i => i.TanggalBl, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class='col-md-4'>
                                <div class='input-group datetimepicker'>
                                    @Html.TextBox("BlDate", "", new { @class = "form-control", @readonly = "" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @Html.LabelFor(i => i.TanggalBlSampai, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class='col-md-4'>
                                <div class='input-group datetimepicker'>
                                    @Html.TextBox("BlDateSampai", "", new { @class = "form-control", @readonly = "" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(i => i.TanggalCQD, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class='col-md-4'>
                                <div class='input-group datetimepicker'>
                                    @Html.TextBox("TanggalBongkar", "", new { @class = "form-control", @readonly = "" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            @Html.LabelFor(i => i.TanggalCQDSampai, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class='col-md-4'>
                                <div class='input-group datetimepicker'>
                                    @Html.TextBox("TanggalBongkarSampai", "", new { @class = "form-control", @readonly = "" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(i => i.TipeTransportasi, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.DropDownListFor(I=>I.TipeTransportasi, new SelectList(Model.DataTipeTransportasi), new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(i => i.LoadingPort, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.TextBox("LoadingPort", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(i => i.NamaKapal, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.TextBox("NamaKapal", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(i => i.NoBL, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-5">
                                @Html.TextBox("NoBl", "", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            @*@if (ViewBag.Create == true)
                {*@
            <div class="table-header">
                <input type="button" class="btn btn-primary btn-sm" value="Proses Data Kertas Kerja Supply Loss" onclick="location.href='@Url.Action("CreateEdit", "KKSupplyLoss")'" />
            </div>
            @*        }*@
            @*<input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
                <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />*@
            <table id="Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
        </div>
    </div>

    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
        <div id="createContainer">
        </div>
    </div>

    <script type="text/javascript">
        //Table Script
        var assetListVM;
        //Login
        //var edit = $('#hdActionedit').val();
        //var hapus = $('#hdActiondelete').val();
        //var visible = true;
        //if (edit == "False" && hapus == "False")
        //    visible = false;
        //Login
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#Table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("Get", "KKSupplyLoss")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                data.TipeTransportasi = $("#TipeTransportasi").val();
                                data.LoadingPort = $("#LoadingPort").val();
                                data.NamaKapal = $("#NamaKapal").val();
                                data.NoBl = $("#NoBl").val();
                                if (Date.parse($("#BlDate").val()) != null)
                                    data.TanggalBL = Date.parse($("#BlDate").val()).toISOString();
                                if (Date.parse($("#BlDateSampai").val()) != null)
                                    data.TanggalBLSampai = Date.parse($("#BlDateSampai").val()).toISOString();
                                if (Date.parse($("#TanggalBongkar").val()) != null)
                                    data.TanggalBongkar = Date.parse($("#TanggalBongkar").val()).toISOString();
                                if (Date.parse($("#TanggalBongkarSampai").val()) != null)
                                    data.TanggalBongkarSampai = Date.parse($("#TanggalBongkarSampai").val()).toISOString();
                            }
                        },
                        "columns": [
                            { "title": "Doc Date", "data": "DocDate", "sortable": false },
                            { "title": "Doc No", "data": "DocNo", "sortable": false },
                            { "title": "Tipe Transport", "data": "TipeTransport", "sortable": false },
                            { "title": "BL Date", "data": "TanggalBl", "sortable": false },
                            { "title": "PO Number", "data": "PONumber", "sortable": false },
                            { "title": "No Bl", "data": "NoBl", "sortable": false },
                            { "title": "Muatan", "data": "Muatan", "sortable": false },
                            { "title": "BL Gross", "data": "BLGross", "sortable": false },
                            { "title": "AR Gross", "data": "ARGross", "sortable": false },
                            { "title": "OBQ Awal", "data": "OBQAwal", "sortable": false },
                            { "title": "OBQ Akhir", "data": "OBQAkhir", "sortable": false },
                        ],
                        "columnDefs": [
                                {
                                    "targets": [0],
                                    "render": function (data, type, row) {
                                        return '' + getDate(data) + '';
                                    },
                                },
                                {
                                    "targets": [3],
                                    "render": function (data, type, row) {
                                        return '' + getDate(data) + '';
                                    },
                                },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();


            $('#Table').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#Table').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

        });

    </script>
