﻿@model ProjectPertamina.Entities.Models.WebCustodyTransfer.Tabel56

@{
    Layout = null;
}

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title TABEL 56</h4>
        </div>
        @using (Ajax.BeginForm("CreateEdit", "Tabel56", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateSuccess" }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Density15, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            @if (ViewBag.Title == "ADD")
                            {
                                @Html.TextBoxFor(model => model.Density15, new { @class = "form-control", type = "number", step = "0.001" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Density15, new { @class = "form-control", type = "number", @readonly = "", step = "0.001" })
                            }
                            @Html.ValidationMessageFor(model => model.Density15, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(model => model.LiterMetricTon, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(i => i.LiterMetricTon, new { @class = "form-control", type = "number", step = "0.1" })
                            @Html.ValidationMessageFor(model => model.LiterMetricTon, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-sm" value="Save" />
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        }
    </div>
</div>