﻿@using ProjectPertamina.Common

@{
    Layout = null;
}

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">UPLOAD TABEL 56</h4>
        </div>
        <form id="FormPopup">
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @*<div class="form-group">
                            @Html.Label("DownloadFile", "Template Excel", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-3">
                                <input type="button" class="btn btn-primary btn-sm" value="Download" id="ButtonDownload"/>
                            </div>
                        </div>*@
                    <div class="form-group divgambar" data-provides="fileupload">
                        @Html.Label("NamaFile", "Excel", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            <input type="file" class="form-control" name="InputExcel" id="InputExcel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                            <p class="text-danger" id="ErrorMsg">@Html.Raw(ViewBag.Error)</p>
                            @Html.ValidationMessage("tes", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary btn-sm" value="Save" id="ButtonSave" data-url="@Url.Action("Upload","Tabel56")" />
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#ButtonSave").on("click", function () {
        LoadingBar();

        var url = $(this).data("url");

        var data = new FormData();
        var files1 = $("#InputExcel").get(0).files;
        if (files1.length > 0) {
            data.append("FileUpload", files1[0]);
        }
        else {
            $("#ErrorMsg").html("Harap masukan file Excel");
            return;
        }

        $.ajax({
            url: url + '?' + $("#FormPopup").serialize(),
            type: "POST",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                swal.close();
                CreateSuccess2(data);
            },
            error: function (err) {
                swal(err.statusText);
            }
        });

    });

</script>