﻿@model ProjectPertamina.Entities.Models.WebCustodyTransfer.Tabel56
<div class="container-content">
    <div class="title-admin">
        TABEL 56
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                <form class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(i => i.Density15, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBox("Density15", "", new { @class = "form-control", type = "number", step = "0,001" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.LiterMetricTon, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBox("LiterMetricTon", "", new { @class = "form-control", type = "number", step="0,1" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @if (ViewBag.Create == true)
            {
            <div class="table-header">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create", "Tabel56")" id="btnCreate">Add Tabel 56</button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Upload", "Tabel56")" id="btnUploadExcel">Upload Excel</button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" id="ButtonDownload">Download Template</button>
            </div>
        }
        <input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
        <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />
        <table id="Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

<script type="text/javascript">
    //Other Script
    $("#ButtonDownload").on("click", function (e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = 'ExcelTemplate/Tabel56_Template.xlsx';
    });
</script>

<script type="text/javascript">
    //Table Script
    var assetListVM;
    //Login
    var edit = $('#hdActionedit').val();
    var hapus = $('#hdActiondelete').val();
    var visible = true;
    if (edit == "False" && hapus == "False")
        visible = false;
    //Login
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#Table').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "searching": false,
                    "ordering": false,
                    "ajax": {
                        "url": "@Url.Action("Get","Tabel56")",
                        "data": function (data) {
                            //function search
                            data.Density = parseFloat($("#Density15").val() == "" ? 0 : $("#Density15").val());
                            data.Liter = parseFloat($("#LiterMetricTon").val() == "" ? 0 : $("#LiterMetricTon").val());
                        }
                    },
                    "columns": [
                        {
                            "className": "dt-center",
                            "width": "100px",
                            "title": "<span class='glyphicon glyphicon-cog'></span>",
                            "data": "Id",
                            "sortable": false,
                            "render": function (data, type, full, meta) {
                                var action = "";
                                if (edit == "True") {
                                    action = '<a class="btn btn-primary btn-sm editAsset" href="@Url.Action("Create", "Tabel56")?Id=' + data + '"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>';
                                }
                                if (hapus == "True") {
                                    action = action + ' <a href="@Url.Action("Delete", "Tabel56")?Id=' + data + '" class="delete btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                                return action;
                            }
                        },
                        { "title": "Density", "data": "Density", "sortable": false },
                        { "title": "Liter/Metric Ton", "data": "Liter", "sortable": false },
                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": visible
                        },
                        {
                            "targets": [1],
                            "render": function (data, type, row) {
                                return '' + accounting.formatNumber(data, 3, ",", ".") + '';
                            },
                        },
                        {
                            "targets": [2],
                            "render": function (data, type, row) {
                                return '' + accounting.formatNumber(data, 1, ",", ".") + '';
                            },
                        }
                    ],
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "dom": '<"top">rt<"bottom"lip><"clear">'
                });
            },

            refresh: function () {
                dt.ajax.reload();
            }
        }
        $('#btnSearch').on("click", assetListVM.refresh);

        assetListVM.init();

        $("#btnCreate").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#Table').on("click", ".editAsset", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $("#btnUploadExcel").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#Table').on("click", ".delete", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });
    });

</script>
