﻿@model ProjectPertamina.Entities.Models.Campaign

@{
    ViewBag.Title = "Index";
}
<div class="container-content">
    <div class="title-admin">
        CAMPAIGN
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("Get", "Campaign", FormMethod.Get, new { id = "frmSearch", @class = "form-horizontal", role = "form" }))
                {
                    <div class="modal-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Tipe, htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(x => x.Tipe, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "All", Value=""},
                                    new SelectListItem() {Text = "Gambar", Value="Gambar"},
                                    new SelectListItem() {Text = "Video", Value="Video"},
                                }, null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Tipe, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tanggal Dari", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBox("TanggalDari", "", new { @id = "TanggalDari", @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tanggal Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBox("TanggalSampai", "", new { @id = "TanggalSampai", @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row table-header">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create","Campaign")" id="btnCreate">Add Campaign</button>
            </div>
            <div class="col-md-11">
                @Html.Partial("_Alerts")
            </div>
        </div>
        <!-- Modal -->

        <table id="CampaignTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
        @*@Html.Partial("_CreateEdit")*@
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#CampaignTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","Campaign")",
                            "data": function (data) {
                                //function search
                                data.Tipe = $("#Tipe").val();
                                if (Date.parse($("#TanggalDari").val()) != null)
                                    data.TanggalDari = Date.parse($("#TanggalDari").val()).toISOString();
                                if (Date.parse($("#TanggalSampai").val()) != null)
                                    data.TanggalSampai = Date.parse($("#TanggalSampai").val()).toISOString();
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Edit","Campaign")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete", "Campaign")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Tipe", "data": "Tipe", "sortable": false },
                            { "title": "Nama File", "data": "NamaFile", "sortable": false }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#CampaignTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#CampaignTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });
        });


    </script>
}
