﻿@using ProjectPertamina.Common;
@model IEnumerable<ProjectPertamina.Entities.Models.SuratEdaran>
<div class="container-content">
    <div class="title">
        SURAT EDARAN
    </div>
    @foreach (var item in Model)
    {
        <div class="isi-content">
            <h5><strong>@item.Judul.ToUpper()</strong></h5>
            @if (item.Gambar != null)
            {
                <a href="#" class="pop">
                    <p><img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.SuratEdaran, ImageName = item.Gambar })" /></p>
                </a>
            }
            else
            {
            }

            @if (item.Attachment != null)
            {
                @Html.ActionLink("Download", "Download", "SuratEdaran", new { KeyKonfigParam = ConstantKonfigurasiParameter.SuratEdaran, FileName = item.Attachment });
                <p><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> @item.Judul</p>
            }
            else
            {
            }
        </div>

    }
</div>
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>