﻿@using System.Globalization;
@model IEnumerable<ProjectPertamina.Entities.ViewModel.SuratEdaranViewModel>
<div class="container-content">
    <div class="title">
        SURAT EDARAN
    </div>
    <div class="isi-content">
        @foreach (var item in Model)
        {
            System.Globalization.CultureInfo ci = new System.Globalization.CultureInfo("id-ID");
            System.Threading.Thread.CurrentThread.CurrentCulture = ci;

            <div class="periode-surat">
                SURAT EDARAN BULAN @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Bulan).ToUpper() - @item.Tahun
            </div>
            <div class="judul-surat">
                @foreach (var x in (ViewData["Surat"] as List<ProjectPertamina.Entities.Models.SuratEdaran>
                    ).Where(m => m.CreatedDate.Value.Month == item.Bulan && m.CreatedDate.Value.Year == item.Tahun))
                {
                    <p>@Html.ActionLink(x.Judul, "Detail", "SuratEdaran", new { @id = x.Id }, new { @class = "detail-content" })</p>
                }
            </div>
        }
    </div>
</div>