﻿@model ProjectPertamina.Presentation.ViewModels.LaporanOilCustodyViewModel

<div class="container-content">
    <div class="title-admin">
        LAPORAN OIL CUSTODY
    </div>
    <div class="isi-content">
        @using (Html.BeginForm("ExportExcel", "LaporanOilCustody", FormMethod.Post, new { id = "CreateEditForm", @class = "form-horizontal", role = "form" }))
            {
            <div class="row sorting-table">
                <div class="col-md-10">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(i => i.Tanggal, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-3'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBoxFor(i => i.Tanggal, new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.ShiftId, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-3'>
                            @Html.DropDownListFor(i => i.ShiftId, new SelectList(Model.Shifts, "Id", "Description"), "All", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.PICKeuanganId, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-3'>
                            @Html.DropDownListFor(i => i.PICKeuanganId, new SelectList(Model.PICKeuangans, "Id", "Nama"), "All", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PICKeuanganId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </div>
            </div>

            @*@if (ViewBag.Create == true)
                {*@
            <div class="table-header">
                <input type="submit" class="btn btn-primary btn-sm" value="Export Excel" />
                @*                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("ExportExcel", "LaporanOilCustody")" id="btnExport">Export Excel</button>*@
            </div>
            @*        }*@
            @*<input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
                <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />*@
        }

        <table id="Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

<script type="text/javascript">
    //$("#btnSearch").on("click", function () {

    //    if ($("#CreateEditForm").valid()) {
    //        alert("OK");
    //        //Ajax call here
    //    }

    //    //$.ajax({
    //    //    url: url,
    //    //    type: "GET",
    //    //    data: $("#LaporanOilCustodyForm").serialize(),
    //    //});
    //});

    var assetListVM;
    var visible = true;
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#Table').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "ordering": false,
                    "ajax": {
                        "url": "@Url.Action("Get", "LaporanOilCustody")",
                        "type": "POST",
                        "data": function (data) {
                            //function search
                            if (Date.parse($("#Tanggal").val()) != null)
                                data.Tanggal = Date.parse($("#Tanggal").val()).toISOString();
                            data.ShiftId = $("#ShiftId").val();
                            data.PICKeuanganId = $("#PICKeuanganId").val();
                        }
                    },
                    "columns": [
                        { "title": "No", "data": "No", "sortable": false, "width": "25px" },
                        { "title": "Tanggal", "data": "Tanggal", "sortable": false, "width": "100px" },
                        { "title": "OnCall", "data": "OnCall", "sortable": false, "width": "50px" },
                        { "title": "Status", "data": "Status", "sortable": false, "width": "100px" },
                        { "title": "Nama", "data": "Nama", "sortable": false, "width": "150px" },
                        { "title": "Tipe Aktivitas", "data": "TipeAktivitas", "sortable": false, "width": "80px" },
                        { "title": "Aktivitas", "data": "Aktivitas", "sortable": false },
                        { "title": "Catatan Follow Up", "data": "Catatan", "sortable": false },

                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "render": function (data, type, row) {
                                if (data != 0) {
                                    return data;
                                }
                                else {
                                    return '';
                                }
                            },
                        },
                        {
                            "targets": [1],
                            "render": function (data, type, row) {
                                if (data != null) {
                                    return moment(data).format('DD MMM YYYY');

                                }
                                else {
                                    return '';
                                }
                            },
                        },
                    //{
                    //    "targets": [5],
                    //    "render": function (data, type, row) {
                    //        if (data != 'Jetty/Dermaga' && data != 'Pipa' && data != 'Mobil Tangki') {
                    //            return '<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' + data + '</span>';

                    //        }
                    //        else {
                    //            return data;
                    //        }
                    //    },
                    //}
                    ],
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "dom": '<"top">rt<"clear">'
                });
            },

            refresh: function () {
                dt.ajax.reload();
            }
        }

        //$('#btnSearch').on("click", assetListVM.refresh);
        $("#btnSearch").on("click", function () {
            if ($("#CreateEditForm").valid()) {
                assetListVM.refresh();
            }
        });

        assetListVM.init();
    });
</script>

@section Scripts
{
    <script type="text/javascript">


    </script>
}