﻿@model ProjectPertamina.Entities.Models.WebCustodyTransfer.TipeProduk

@{
    Layout = null;
}

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title TIPE PRODUK</h4>
        </div>
        @using (Ajax.BeginForm("CreateEdit", "TipeProduk", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateSuccess" }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Kode, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            @if (ViewBag.Title == "ADD")
                            {
                                @Html.EditorFor(model => model.Kode, new { htmlAttributes = new { @class = "form-control", maxlength = "10" } })
                            }
                            else
                            {
                                @Html.EditorFor(model => model.Kode, new { htmlAttributes = new { @class = "form-control", maxlength = "10", @readonly = "" } })
                            }
                            @Html.ValidationMessageFor(model => model.Kode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Deskripsi, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Deskripsi, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                            @Html.ValidationMessageFor(model => model.Deskripsi, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-sm" value="Save" />
                @*                <input type="button" class="btn btn-primary btn-sm" value="Save" id="ButtonSave" data-url="@Url.Action("CreateEdit","Cargo")" />*@
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        }
    </div>
</div>