﻿@model ProjectPertamina.Entities.Models.WebCustodyTransfer.TipeProduk
<div class="container-content">
    <div class="title-admin">
        TIPE PRODUK
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                <form class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(i => i.Kode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBox("Kode", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Deskripsi, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBox("Deskripsi", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @*@if (ViewBag.Create == true)
        {
            <div class="table-header">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create", "Stream")" id="btnCreate">Add Stream</button>
            </div>
        }*@
        <input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
        <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />
        <table id="Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

<script type="text/javascript">
    //Table Script
    var assetListVM;
    //Login
    var edit = $('#hdActionedit').val();
    var hapus = $('#hdActiondelete').val();
    var visible = true;
    if (edit == "False" && hapus == "False")
        visible = false;
    //Login
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#Table').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "searching": false,
                    "ordering": false,
                    "ajax": {
                        "url": "@Url.Action("Get","TipeProduk")",
                        "data": function (data) {
                            //function search
                            data.Kode = $("#Kode").val();
                            data.Deskripsi = $("#Deskripsi").val();
                        }
                    },
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": visible
                        },
                    ],
                    "columns": [
                        {
                            "className": "dt-center",
                            "width": "100px",
                            "title": "<span class='glyphicon glyphicon-cog'></span>",
                            "data": "Id",
                            "sortable": false,
                            "render": function (data, type, full, meta) {
                                var action = "";
                                if (edit == "True") {
                                    action = '<a class="btn btn-primary btn-sm editAsset" href="@Url.Action("Create", "TipeProduk")?Id=' + data + '"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>';
                                }
                                @*if (hapus == "True") {
                                    action = action + ' <a href="@Url.Action("Delete", "Stream")?Id=' + data + '" class="delete btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }*@
                                return action;
                            }
                        },
                        { "title": "Kode", "data": "Kode", "sortable": false },
                        { "title": "Deskripsi", "data": "Deskripsi", "sortable": false },
                    ],
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "dom": '<"top">rt<"bottom"lip><"clear">'
                });
            },

            refresh: function () {
                dt.ajax.reload();
            }
        }
        $('#btnSearch').on("click", assetListVM.refresh);

        assetListVM.init();

        //$("#btnCreate").on("click", function () {

        //    var url = $(this).data("url");

        //    $.get(url, function (data) {
        //        $('#createContainer').html(data);

        //        $('#createModal').modal('show');
        //    });

        //});

        $('#Table').on("click", ".editAsset", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        //$('#Table').on("click", ".delete", function (event) {

        //    event.preventDefault();

        //    var url = $(this).attr("href");

        //    $.get(url, function (data) {
        //        $('#createContainer').html(data);

        //        $('#createModal').modal('show');
        //    });

        //});

    });

</script>


