﻿@using ProjectPertamina.Common

@model ProjectPertamina.Entities.Models.Profile
@{
    Layout = null;
}
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title Profile</h4>
        </div>
        <form id="FormPopup">
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.UpdatedDate)
                    <div class="form-group">
                        @Html.LabelFor(i => i.Judul, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(i => i.Judul, new { htmlAttributes = new { @class = "form-control", id = "Judul" } })
                            @Html.ValidationMessageFor(model => model.Judul, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Urutan, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(i => i.Urutan, new { htmlAttributes = new { @class = "form-control", id = "Penulis" } })
                            @Html.ValidationMessageFor(model => model.Urutan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-3  col-md-8">
                            @Html.HiddenFor(i => i.Gambar)
                            @Html.Hidden("Deleted", "false", new { @id = "Deleted" })
                            <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.Profile, ImageName = Model.Gambar })" class="img-responsive img-popup" id="ImgGambar"/>
                        </div>
                    </div>
                    <div class="form-group" data-provides="fileupload">
                        @Html.LabelFor(model => model.Gambar, htmlAttributes: new { @class = "control-label col-md-3 col-sm-2" })
                        <div class="col-md-7 col-sm-11">
                            <input type="file" class="form-control" name="InputGambar" id="InputGambar" accept="image/x-png,image/gif,image/jpeg" onclick="Upload()"/>
                            @Html.ValidationMessageFor(model => model.Gambar, "", new { @class = "text-danger" })
                        </div>
                        @if (ViewBag.Title == "Edit")
                        {
                            <label class="btn btn-danger btn-sm" onclick="DeleteGambar()">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" />
                            </label>
                        }
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Deskripsi, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.TextAreaFor(i => i.Deskripsi, new { @class = "form-control", @rows = "5" })
                            @Html.ValidationMessageFor(model => model.Deskripsi, "", new { @class = "text-danger required" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(x => x.Status, new List<SelectListItem>
                                {
                                    new SelectListItem() {Text = "Aktif", Value="true"},
                                    new SelectListItem() {Text = "Tidak Aktif", Value="false"},
                                }, null, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-primary btn-sm" value="Save" id="ButtonSave" data-url="@Url.Action("CreateEdit","Profile")" />
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $("#ButtonSave").on("click", function () {
        var url = $(this).data("url");

        var data = new FormData();
        var files1 = $("#InputGambar").get(0).files;
        if (files1.length > 0) {
            data.append("inputFile", files1[0]);
        }

        $.ajax({
            url: url + '?' + $("#FormPopup").serialize(),
            type: "POST",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                CreateSuccess(data);
            },
            error: function (err) {
                alert(err.statusText);
            }
        });
    });

    function DeleteGambar() {
        $("#ImgGambar").attr("src", "");
        $("#Deleted").val("true");
    }

    function Upload() {
        $("#Deleted").val("false");
    }
</script>