﻿@model ProjectPertamina.Entities.Models.Profile

<div class="container-content">
    <div class="title-admin">
        Profile
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                <div class="modal-body">
                    <form class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(i => i.Judul, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.EditorFor(i => i.Judul, new { htmlAttributes = new { @class = "form-control", id = "Judul" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-9">
                                <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row table-header">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("CreateEdit","Profile")" id="btnCreate">Add Profile</button>
            </div>
        </div>
        <!-- Modal -->

        <table id="ProfileTable" class="table table-striped table-bordered" cellspacing="0" style="width:100%;"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
        @*@Html.Partial("_CreateEdit")*@
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#ProfileTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","Profile")",
                            "data": function (data) {
                                //function search
                                data.Judul = $("#Judul").val();
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("CreateEdit", "Profile")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete", "Profile")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Judul Profile", "data": "Judul", "sortable": false },
                            { "title": "Urutan", "data": "Urutan", "sortable": false }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#ProfileTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#ProfileTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });
            });
        });
    </script>
}
