﻿@import url('style.css');

body {
    margin-top: 10px;
    font-family: Segoe UI;
    font-size: 12px;
}

.body-container {
    width: 95%;
    margin: auto;
    background: #fffff;
}

.container-fluid {
    padding: 0px;
    display: flex;
}

.header-left {
    padding: 0px;
}

.header-right {
    padding: 0px;
}

div#OilCustody {
    float: right;
    margin-top: 15px;
    font-size: 20px;
    font-family: Cuprum-Bold, 'san-serif';
    /*padding-right:10px;*/
    /*max-width:100%;*/
}

.menuakun {
    text-align: right;
    padding-left: 10px;
}

.img-logo {
    padding-right: 10px;
}

    .img-logo img {
        max-width: 100%;
    }

a.dropdown-toggle {
    color: black;
}

    a.dropdown-toggle:hover {
        text-decoration: none;
    }

ul#accountsubmenu li a {
    color: black;
    font-size: 12px;
}

.logo {
    width: 30%;
}

.top-search {
    padding: 0;
}

.header-menu {
    height: 40px;
    background: #0673ba;
}

ul.nav.navbar-nav {
    max-height: 100%;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: #0673ba;
}

.navbar-nav > li > a {
    padding-top: 10px;
    color: white;
    font-size: 14px;
    font-family: Berlin Sans FB;
}

@font-face {
    font-family: 'Cuprum-Bold';
    src: url('fonts/Cuprum-Bold.ttf') format('truetype');
}

/*k*/
li.dropdown {
    max-height: 40px;
}

li.active {
    max-height: 40px;
    overflow: hidden;
}

li.admin-menu {
    max-height: 40px;
    overflow: hidden;
}

.dropdown-menu {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

    .dropdown-menu li > a {
        color: #0673ba;
    }

.header-menu-dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu-large {
    width: 100%;
    height: auto;
    z-index: 1000;
    position: absolute;
    top: auto;
    float: left;
    background-color: #fff;
    display: none;
}

sup {
    animation: example 0.5s infinite;
    color: red;
}

@-moz-keyframes example {
    50% {
        color: red;
    }

    50% {
        color: white;
    }
}

@-webkit-keyframes example {
    50% {
        color: red;
    }

    50% {
        color: white;
    }
}

@keyframes example {
    50% {
        color: red;
    }

    50% {
        color: white;
    }
}

.sub-menu-large {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 15px;
    font-size: 14px;
    color: #0673ba;
    font-weight: bold;
    vertical-align: top;
}

    .sub-menu-large li ul {
        list-style: none;
        padding-left: 2px;
    }

        .sub-menu-large li ul li a {
            color: #0673ba;
            font-weight: normal;
        }

#sliderCampaign .carousel-inner > .item > a > img {
    height: 265px;
    margin: auto;
}

.img-preview-frontend {
    width: 80%;
}

video {
    height: 265px;
}

#sliderCampaign .carousel-inner > .item {
    background: black;
}

.slider {
    height: 265px;
    padding: 0px;
}

#sliderCampaign {
    max-height: 100%;
    overflow: hidden;
    padding-right: 15px;
}

.logo-app {
    padding: 0px;
    height: 265px;
}

/*.container-logo-app {
    width: 80%;
    height: 50px;
    margin: auto;
    text-align: center;
    margin-top: 3px;
}*/

.gambar-logo-app {
    height: 53px;
    /*width: 100%;*/
    display: block;
    margin: auto;
}

.carousel-control {
    /*text-shadow: 0 3px 5px rgba(0, 0, 0, .6);*/
    text-shadow: none;
    color: #0673ba;
    opacity: 100;
}

    .carousel-control.right {
        right: -45px;
        background: none;
    }

    .carousel-control.left {
        left: -45px;
        background: none;
    }

.left-content {
    margin-top: 10px;
    padding: 0px;
}

/*#sliderBroadcast .carousel.vertical .item {
    width: 300px;
    height: 200px;
    display: block;
    position: relative;
    overflow: hidden;
}

.carousel-inner > .item > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}*/

.title {
    width: 100%;
    height: 25px;
    background-color: rgba(215, 231, 244, 1);
    padding-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: bold;
}

.info-pekerja {
    width: 100%;
    height: 200px;
    border: solid 1px rgba(6, 115, 186, 0.16);
    margin-top: 5px;
    border-radius: 5px 5px 0 0;
}

.isi-pekerja {
    padding: 10px;
}

.img-pekerja {
    height: 70px;
    overflow: hidden;
    padding: 0;
}

#info-pekerja {
    background: #A1E600;
}

.pejabat-sementara {
    width: 100%;
    height: auto;
    border: solid 1px rgba(6, 115, 186, 0.16);
    margin-top: 5px;
    text-align: center;
}

#sliderPejabatSementara {
    width: 113.385827px;
    height: 151.181102px;
    margin: auto;
}


.nama-pejabat {
    text-align: center;
    margin-top: 5px;
}

    .nama-pejabat p {
        margin: 0px;
    }

.time-on-duty {
    width: 100%;
    height: auto;
    border: solid 1px rgba(6, 115, 186, 0.16);
    margin-top: 5px;
    text-align: center;
}


a.detail-content {
    color: black;
    text-decoration: none;
}


.isi-timonduty {
    padding-top: 10px;
}

.broadcast {
    width: 100%;
    height: auto;
    border: solid 1px rgba(6, 115, 186, 0.16);
    margin-top: 5px;
}

.surat-edaran {
    width: 100%;
    height: auto;
    border: solid 1px rgba(6, 115, 186, 0.16);
    margin-top: 5px;
}

.isi-surat {
    padding: 10px;
}

.periode-surat {
    font-size: 14px;
    font-weight: bold;
}

.judul-surat {
    margin: 20px 0 20px 0;
}

.right-content {
    margin-top: 10px;
    padding: 0px;
}

.energia {
    width: 100%;
    height: 100px;
}

    .energia img {
        max-width: 100%;
    }

.rapat-hari-ini {
    width: 100%;
    height: 250px;
    border: solid 1px rgba(6, 115, 186, 0.16);
    margin-top: 5px;
}

.isi-rapat {
    max-height: 80%;
    padding: 10px;
    overflow-y: scroll;
}

.telepon-penting {
    width: 100%;
    height: auto;
    border: solid 1px rgba(6, 115, 186, 0.16);
    margin-top: 5px;
    text-align: center;
    position: relative;
}

img.bg-no-telp {
    width: 100%;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.detail-no-telp {
    position: absolute;
    top: 45%;
    left: 20%;
}

.pejabat-sementara, .tim-on-duty, .broadcast, .surat-edaran, .rapat-hari-ini, .telepon-penting, .container-content {
    border-radius: 4px;
    padding-bottom: 5px;
}

.vertical .carousel-inner {
    height: 100%;
}


div#sliderBroadcast {
    /*width: 225px;*/
    height: 150px;
    overflow: no-display;
    margin: auto;
    max-height: 100%;
}

#sliderBroadcast .carousel-inner > .item > img {
    height: 135px;
    margin: auto;
}

.viewall {
    margin-top: 10px;
    text-align: right;
}

    .viewall a {
        color: black;
        text-decoration: none;
    }

.broadcast-thumb {
    display: flex;
    justify-content: center;
    height: 300px;
    margin-bottom: 20px;
}

.detail {
    width: 100%;
}

.broadcast-thumb img {
    max-height: 300px;
    width: 100%;
}

.paging {
    text-align: center;
}

.carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
    left: 0;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 400px;
}

.carousel.vertical .prev {
    top: -400px;
}

    .carousel.vertical .next.left,
    .carousel.vertical .prev.right {
        top: 0;
    }

.carousel.vertical .active.left {
    top: -400px;
}

.carousel.vertical .active.right {
    top: 400px;
}


/*CONTENT*/
.container-img {
    margin-left: 0px;
}

.img-berita {
    max-width: 135px;
    height: 135px;
    overflow: hidden;
    margin-right: 6px;
}

    .img-berita img {
        max-height: 100%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }

.myCarousel .carousel-control {
    padding-top: 5%;
}

.myCarousel a.left.carousel-control {
    position: absolute;
    left: 55px;
}

.myCarousel a.right.carousel-control {
    position: absolute;
    right: 65px;
}

.container-content {
    margin-top: 15px;
    /*background: #f6f5f5;*/
    border: solid 1px rgba(6, 115, 186, 0.16);
}

.isi-content {
    padding: 10px;
    text-align: justify;
    min-height: 200px;
    margin: 0;
}
/*FOOTER*/


.border-footer {
    padding: 15px 0px 15px 0px;
}

.footer p {
    font-family: Gill Sans MT;
}

.red {
    border-top: solid 2px #ec2027;
}

.green {
    border-top: solid 2px #a4cd39;
}

.blue {
    border-top: solid 2px #0673ba;
}

.footer {
    height: 125px;
    font-family: Gill Sans MT;
}

/*ADMIN*/

.title-admin {
    width: 100%;
    height: 25px;
    opacity: 50;
    padding-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
    text-transform: uppercase;
}

.sorting-table {
    width: 100%;
    height: auto;
    background-color: rgba(215, 231, 244, 1);
    margin: 0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.table-header {
    width: 100%;
    height: auto;
    background-color: rgba(215, 231, 244, 1);
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0px;
    margin-bottom: 10px;
}

.table-footer {
    width: 100%;
    height: auto;
    background-color: rgba(215, 231, 244, 1);
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

label.col-sm-3.control-label {
    padding-left: 0;
}

table.table.table-responsive.table-bordered {
    margin: 0;
}

.form-alert {
    padding: 7px;
    margin-bottom: 0;
}

.input-gambar {
    width: 100px;
    margin-bottom: 10px;
}

.img-popup {
    width: 150px;
}

.required label:after {
    color: #e32;
    content: ' *';
    display: inline;
}

.notificationbox {
    display: none;
    top: 50%;
    left: 50%;
    width: 100%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    transition: height .2s;
    position: fixed;
    background: rgba(0,0,0,.6);
    z-index: 999;
    left: 0px;
    font-size: large;
}

#NotificationBox p {
    color: yellow;
    vertical-align: central;
    padding-top: 50px;
    padding-bottom: 50PX;
    font-size: 1.4em;
}

.loader {
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

.loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {
        left: -200px;
        width: 30%;
    }

    50% {
        width: 30%;
    }

    70% {
        width: 70%;
    }

    80% {
        left: 50%;
    }

    95% {
        left: 120%;
    }

    to {
        left: 100%;
    }
}

.alertValidation{
    border: 1px solid #d9534f;
}

.remove-width {
    width: 120px !important;
}

    /* fix datetable */
/* th, td { white-space: nowrap; } */
.dt-center {
    text-align: center;
}
