﻿@{
    ViewBag.Title = "Index";
}
<div class="container-content">
    <div class="title-admin">
        Main Aplikasi
    </div>
    <div class="isi-content">

        <div class="row table-header">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("CreateEdit","MainApp")" id="btnCreate">Add Main App</button>
            </div>
            <div class="col-md-11">
                @Html.Partial("_Alerts")
            </div>
        </div>

        <table id="MainAppTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#MainAppTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","MainApp")",
                            "data": function (data) {
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("CreateEdit", "MainApp")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete", "MainApp")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Link", "data": "Link", "sortable": false },
                            { "title": "Urutan", "data": "Urutan", "sortable": false },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                if ($('#MainAppTable').children('tbody').children('tr').length < 5) {
                    $.get(url, function (data) {
                        $('#createContainer').html(data);

                        $('#createModal').modal('show');
                    });
                }
                else
                    alert("Maaf Main App sudah maksimal.")
            });

            $('#MainAppTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#MainAppTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });
        });

    </script>
}
