﻿@model ProjectPertamina.Entities.Models.PejabatSementara

@{
    ViewBag.Title = "Index";
}
<div class="container-content">
    <div class="title-admin">
        Pejabat Sementara
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                <form class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(i => i.NoPek, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.TextBox("Nama Pejabat", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-9">
                            <input type="submit" class="btn btn-primary btn-sm" value="Search" />
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-header">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create","PejabatSementara")" id="btnCreate">Add Pejabat Sementara</button>
        </div>
        <!-- Modal -->

        <table id="PejabatSementaraTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
        @Html.Partial("_CreateEdit")
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#PejabatSementaraTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("Get","PejabatSementara")",
                            "data": function (data) {
                                //function search
                                //data.FacilitySite = $("#FacilitySite").val();
                                //data.Building = $("#Building").val();
                                //data.Manufacturer = $("#Manufacturer").val();
                                //data.Status = $("#Status").val();
                            }
                        },
                        "columns": [
                            {
                                "className" : "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Edit","PejabatSementara")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete","PejabatSementara")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Nama Pejabat", "data": "Nopek", "searchable": true },
                            { "title": "Jabatan", "data": "Jabatan", "searchable": true },
                            { "title": "Tanggal Mulai", "data": "TanggalMulai", "searchable": true },
                            { "title": "Tanggal Selesai", "data": "TanggalSelesai", "searchable": true }
                        ],
                        "columnDefs": [
                            {
                                "targets": [2],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#PejabatSementaraTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#PejabatSementaraTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#PejabatSementaraTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

        });

    </script>
}
