﻿@using ProjectPertamina.Entities.Models
@{
    var alerts = TempData.ContainsKey(Alert.TempDataKey)
                ? (List<Alert>)TempData[Alert.TempDataKey]
                : new List<Alert>();

    foreach (var alert in alerts)
    {
        <div class="alert alert-@alert.AlertStyle form-alert">
            <strong>@alert.Info</strong>@alert.Message
        </div>
    }

}
