﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="body-container">
        <div class="row container-fluid">
            <div class="col-md-6 header-left">
                <img class="logo" src="~/Content/Image/logo.png" />
            </div>
            <div class="col-md-6 header-right">
                <div id="OilCustody">
                    <b>OIL CUSTODY INFORMATION SYSTEM</b>
                </div>
            </div>
        </div>
        <div class="row header-menu">
            <ul class="nav navbar-nav">
                @*<li class="dropdown header-menu-dropdown">
                        @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "dropdown-toggle" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Campaign", "Index", "Campaign")</li>
                            <li>@Html.ActionLink("Kategori Pejabat Sementara", "Index", "KategoriPejabatSementara")</li>
                            <li>@Html.ActionLink("Pejabat Sementara", "Index", "PejabatSementara")</li>
                            <li>@Html.ActionLink("Rapat", "Index", "Rapat")</li>
                            <li>@Html.ActionLink("Team On Duty", "Index", "TimOnDuty")</li>
                            <li>@Html.ActionLink("Broadcast", "Index", "Broadcast")</li>
                            <li>@Html.ActionLink("Surat Edaran", "Index", "SuratEdaran")</li>
                            <li>@Html.ActionLink("Background No. Telelpon Penting", "Index", "BackgroundNoTelp")</li>
                            <li>@Html.ActionLink("No. Telelpon Penting", "Index", "NoTelp")</li>
                            <li>@Html.ActionLink("Main Aplikasi", "Index", "MainApp")</li>
                        </ul>
                    </li>*@
                <li class="active">@Html.ActionLink("HOME", "Index", "Home")</li>
                <li class="active">@Html.ActionLink("ROAS", "Index", "Profile")</li>
                @*<li class="active">@Html.ActionLink("OIL CUSTODY", "Index", "Profile")</li>*@
                <li class="dropdown header-menu-dropdown">
                    @Html.ActionLink("OIL CUSTODY", null, null, null, new { @class = "dropdown-toggle" })
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Finance - Pipa", "Index", "FinancePipa", null, new { @class = "dropdown-toggle" })</li>
                        <li>@Html.ActionLink("Finance - Jetty", "Index", "FinanceJetty", null, new { @class = "dropdown-toggle" })</li>
                        <li>@Html.ActionLink("Finance - Tangki", "Index", "FinanceTangki", null, new { @class = "dropdown-toggle" })</li>
                        <li>@Html.ActionLink("Oil Movement", "Index", "OilMovement", null, new { @class = "dropdown-toggle" })</li>
                    </ul>
                </li>
                <li class="dropdown header-menu-dropdown">
                    @Html.ActionLink("SUPPLY LOSS", null, null, null, new { @class = "dropdown-toggle" })
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Cargo Losses", "Index", "KategoriBerita", null, new { @class = "dropdown-toggle" })</li>
                        <li>@Html.ActionLink("Supply Loss Supply", "Index", "Berita", null, new { @class = "dropdown-toggle" })</li>
                        <li>@Html.ActionLink("Supply Loss Discharge", "Index", "Berita", null, new { @class = "dropdown-toggle" })</li>
                        <li>@Html.ActionLink("Kertas Kerja Supply Loss", "Index", "Berita", null, new { @class = "dropdown-toggle" })</li>
                        <li>@Html.ActionLink("Supply Loss", "Index", "Berita", null, new { @class = "dropdown-toggle" })</li>
                    </ul>
                </li>
                <li class="active">@Html.ActionLink("LAPORAN", "Index", "Produk")</li>
                <li class="active">@Html.ActionLink("MASTER", "Index", "Produk")</li>
            </ul>
        </div>
        <div class="row bottom-content">
            @RenderBody()
        </div>
        <div class="row border-footer">
            <div class="col-md-4 red"></div>
            <div class="col-md-4 green"></div>
            <div class="col-md-4 blue"></div>
        </div>
        <div class="row footer">
            <div class="col-md-4">
                <p>PT. PERTAMINA Refenery Unit II</p>
                <p>JL Raya Kilang Putri Tujuh, 28815, Tj. Palas, Dumai Tim., Kota Dumai, Riau</p>
                <p>(0765) 31244</p>
            </div>
            <div class="col-md-4 col-md-offset-4 text-right">
                <p class="text-footer">Hak Cipta &copy;  2012 PT Pertamina. Semua Hak telah Diberikan</p>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
        <div id="createContainer">
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")
    @Styles.Render("~/Content/datetimepicker")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/datejs")
    @Styles.Render("~/Content/bootstraptoggle")
    @Scripts.Render("~/bundles/bootstraptoggle")


    @RenderSection("scripts", required: false)
</body>
</html>
