﻿@using ProjectPertamina.Common;

@model ProjectPertamina.Entities.Models.FinanceTangki

<link href="~/Content/select2/select2.min.css" rel="stylesheet" />
<style type="text/css">
    /*.webGrid {
        margin: 4px;
        border-collapse: collapse;
        width: 100%;
        font-family: Tahoma;
    }

    .grid-header {
        background-color: White;
        font-weight: bold;
        color: White !important;
    }

    .webGrid th a {
        color: White;
        text-decoration: none;
    }

    .webGrid th, .webGrid td {
        border: 1px solid black;
        padding: 5px;
    }

    .alt {
        background-color: #F4EFEF;
    }

    .webGrid th a:hover {
        text-decoration: underline;
    }

    .to-the-right {
        text-align: right;
    }*/
</style>
<div class="container-content">
    <div class="title-admin">
        @ViewBag.Title Mobil TANGKI
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("CreateEdit", "FinanceTangki", FormMethod.Post, new { id = "CreateEditForm", @class = "form-horizontal", role = "form" }))
            {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id, new { id = "FinanceTangkiId" })
                    <div class="form-group required">
                        @Html.LabelFor(i => i.Tanggal, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <div class='input-group datetimepicker'>
                                @Html.EditorFor(i => i.Tanggal, new { htmlAttributes = new { @class = "form-control", id = "Tanggal", @readonly = "" } })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(i => i.NoPO, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(i => i.NoPO, new { htmlAttributes = new { @class = "form-control", maxlength = "20" } })
                            @Html.ValidationMessageFor(model => model.NoPO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.Label("Shift", "Shift/On Call", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(i => i.ShiftId, new SelectList(ViewBag.shift, "Id", "Description"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.Label("PICKeuangan", "PIC Keuangan", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(i => i.PICKeuanganId, new SelectList(ViewBag.picKeuangan, "Id", "Nama"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PICKeuanganId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.Label("NomorTangki", "Nomor Tangki", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(i => i.TangkiId, new SelectList(ViewBag.tangki, "Id", "Code"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.TangkiId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.Label("NamaCargo", "Nama Cargo", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(i => i.CargoId, new SelectList(ViewBag.Cargo, "Id", "Description"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CargoId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(i => i.Qty, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.EditorFor(i => i.Qty, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01"} })
                            @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(i => i.FromTo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(i => i.FromTo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FromTo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(i => i.keterangan, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.EditorFor(i => i.keterangan, new { htmlAttributes = new { @class = "form-control", maxlength = "500" } })
                            @Html.ValidationMessageFor(model => model.keterangan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(i => i.Catatan, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(i => i.Catatan, new { @class = "form-control", rows = "5", maxlength = "500" })
                            @Html.ValidationMessageFor(model => model.Catatan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-primary" value="Save" />
                            @Html.ActionLink("Back", "Index", "FinanceTangki", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
        </div>
        <input type="hidden" id="hdalertsucces" value="@TempData["MessageSucces"]" />

        <table id="Table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <tfoot>
                <tr>
                    <th>
                        <button class="save-user btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        </button><input type="hidden" id="Id" value='0' />
                    </th>
                    <th>
                        <input type="text" id="NoPolisi" value="" class="add-mode" required />
                        @Html.ValidationMessage("NoPolisiAdd", new { @class = "text-danger" })
                    </th>
                    <th>
                        <input type="number" id="JumlahKL" value="0" class="add-mode" />
                        @Html.ValidationMessage("JumlahKLAdd", new { @class = "text-danger" })
                    </th>
                    <th>
                        <input type="text" id="NoDO" value="" class="add-mode" required />
                        @Html.ValidationMessage("NODOAdd", new { @class = "text-danger" })
                    </th>
                    <th>
                        <input type="text" id="NoShipment" value="" class="add-mode" required />
                        @Html.ValidationMessage("NoShipmentAdd", new { @class = "text-danger" })
                    </th>
                </tr>
            </tfoot>
        </table>

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
            <div id="createContainer">
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var notif = $('#hdalertsucces').val();
            if (notif != '')
                Notifikasi(notif);
            console.log(notif);
        });
        //Table Script
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#Table').DataTable({
                        //"scrollY": '300px',
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("GetDetail", "FinanceTangki")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                data.Id = $("#FinanceTangkiId").val();
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<button class="edit-user display-mode btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button> ' +
                                            '<a href="@Url.Action("DeleteDetail", "FinanceTangki")?Id=' + data + '" class="btn btn-danger btn-sm delete delete-user display-mode"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>' +
                                            //'<button class="delete-user display-mode btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>' +
                                            '<button class="save-user edit-mode btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></button> ' +
                                            '<button class="cancel-user edit-mode btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>' +
                                            '<input type="hidden" id="Id" value=' + data + '>';
                                }
                            },
                            {
                                "title": "No Polisi", "data": "NoPolisi", "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return ' <span class="display-mode">' + data +
                                            //'<label id="lblNoPolisi">' + data + '</label>' +
                                            '</span>' +
                                            '<input type="text" id="NoPolisi" value="' + data + '" class="edit-mode" />';
                                }
                            },
                            {
                                "title": "Jumlah(KL)", "data": "JumlahKL", "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return ' <span class="display-mode">' + data +
                                        //'<label id="lblJumlahKL">' + data + '</label>' +
                                        '</span>' +
                                        '<input type="text" id="JumlahKL" value="' + data + '" class="edit-mode" />';
                                }
                            },
                            {
                                "title": "No DO", "data": "NoDO", "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return ' <span class="display-mode">' + data +
                                        //'<label id="lblNoDO">' + data + '</label>' +
                                        '</span>' +
                                        '<input type="text" id="NoDO" value="' + data + '" class="edit-mode" />';
                                }
                            },
                            {
                                "title": "No Shipment", "data": "NoShipment", "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return ' <span class="display-mode">' + data +
                                        //'<label id="lblNoShipment">' + data + '</label>' +
                                        '</span>' +
                                        '<input type="text" id="NoShipment" value="' + data + '" class="edit-mode" />';
                                }
                            },
                        ],
                        //"lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        //"dom": '<"top">rt<"bottom"lip><"clear">',
                        "dom": '<"top">rt<"clear">',
                        "initComplete": function (settings, json) {
                            $('.edit-mode').hide();
                        }
                    });
                },

                refresh: function () {
                    dt.ajax.reload(function () {
                        $('.edit-mode').hide();
                    });
                },
            }

            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $('#Table').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#Table').on('click', '.edit-user, .cancel-user', function () {

                $('.display-mode:hidden, .edit-mode:visible').toggle();

                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });

            $('#Table').on('click', '.cancel-user', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });

            $('#Table').on('click', '.save-user', function () {
                var tr = $(this).parents('tr:first');

                var FinanceTangkiId = $("#FinanceTangkiId").val();
                if (FinanceTangkiId == "0") {// check sudah ada header apa belum
                    alert("Harap masukan Header terlebih dahulu");
                    return;
                }

                var Id = tr.find("#Id").val();
                var NoPolisi = tr.find("#NoPolisi").val().trim();
                if (NoPolisi == "") {
                    alert("No Polisi Harus diisi");
                    return;
                }
                var JumlahKL = tr.find("#JumlahKL").val().trim();
                if (JumlahKL == "") {
                    alert("Jumlah KL Harus diisi");
                    return;
                }
                var NoDO = tr.find("#NoDO").val().trim();
                if (NoDO == "") {
                    alert("No DO Harus diisi");
                    return;
                }
                var NoShipment = tr.find("#NoShipment").val().trim();
                if (NoShipment == "") {
                    alert("No Shipment Harus diisi");
                    return;
                }

                //if (Id == 0) { //check data sudah ada apa belum
                var valid = true;
                $('#Table > tbody  > tr').each(function () {
                    var trCheck = $(this);
                    if (NoPolisi == trCheck.find("#NoPolisi").val() && Id != trCheck.find("#Id").val() //&&
                        //JumlahKL == trCheck.find("#JumlahKL").val() &&
                        //NoDO == trCheck.find("#NoDO").val() &&
                        //NoShipment == trCheck.find("#NoShipment").val()
                        ) {
                        valid = false;
                        return;
                    }
                });

                if (!valid) {
                    alert("Data Sudah Ada");
                    return;
                }
                //}

                var Model =
                  {
                      "Id": Id,
                      "FinanceTangkiId": FinanceTangkiId,
                      "NoPolisi": NoPolisi,
                      "JumlahKl": JumlahKL,
                      "NoDO": NoDO,
                      "NoShipment": NoShipment,
                  };

                $.ajax({
                    url: '@Url.Action("SaveDetail", "FinanceTangki")',
                    data: JSON.stringify(Model),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        Notifikasi(successMessage());
                        assetListVM.refresh();
                        tr.find('.edit-mode, .display-mode').toggle();
                        $('.add-mode').val("");
                    },
                    error: function (data) {
                        alert(data.statusText);
                    }
                });
            });
        });

    </script>
}
