﻿@model ProjectPertamina.Entities.Models.BeritaDetail

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title Berita Detail</h4>
        </div>
        @using (Ajax.BeginForm("CreateEdit", "Campaign", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateSuccess" }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.UpdatedDate)
                    <div class="form-group" data-provides="fileupload">
                        @Html.LabelFor(model => model.Gambar, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            <span class="btn btn-default btn-sm btn-file">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg" multiple/>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-sm" value="Save" />
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        }
    </div>

</div>
