﻿@model ProjectPertamina.Entities.Models.BeritaDetail

@{
    ViewBag.Title = "Delete";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete Asset</h4>
            <h3>Are you sure you want to delete this Record?</h3>
            <img src="/UploadedFiles/+@Model.Gambar" width="100" />

        </div>

        <div class="modal-body">
            @using (Ajax.BeginForm("DeleteDetail", "Berita", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "DeleteSuccess" }, new { @class = "form-horizontal", role = "form" }))
            {

                <div class="form-actions no-color">
                    @Html.HiddenFor(x => x.Id)
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index", null, new { data_dismiss = "modal" })
                </div>
            }
        </div>
    </div>
</div>
