﻿@using ProjectPertamina.Common;

@model ProjectPertamina.Entities.Models.Berita

<div class="container-content">
    <div class="title-admin">
        @ViewBag.Title
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("CreateEdit", "Berita", FormMethod.Post, new { id = "CreateEditForm", @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id, new { id = "BeritaIdHidden" })
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.UpdatedDate)
                    <div class="form-group">
                        @Html.LabelFor(i => i.Judul, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-9">
                            @Html.EditorFor(i => i.Judul, new { htmlAttributes = new { @class = "form-control", id = "Judul" } })
                            @Html.ValidationMessageFor(model => model.Judul, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.KategoriBerita.Kategori, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.DropDownListFor(i => i.KategoriBeritaId, new SelectList(ViewBag.Kategori, "Id", "Kategori"), new { @class = "form-control", id = "Kategori" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Tanggal, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            <div class='input-group datetimepicker'>
                                @Html.EditorFor(i => i.Tanggal, "{0:dd MMM yyyy}", new { htmlAttributes = new { @class = "form-control", id = "Tanggal" } })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Penulis, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.EditorFor(i => i.Penulis, new { htmlAttributes = new { @class = "form-control", id = "Penulis" } })
                            @Html.ValidationMessageFor(model => model.Penulis, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Sumber, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.EditorFor(i => i.Sumber, new { htmlAttributes = new { @class = "form-control", id = "Sumber" } })
                            @Html.ValidationMessageFor(model => model.Sumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.IsiBerita, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-9">
                            @Html.TextAreaFor(i => i.IsiBerita, new { htmlAttributes = new { @class = "form-control", id = "IsiBerita" } })
                            @Html.ValidationMessageFor(model => model.IsiBerita, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Status, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @{
                                List<SelectListItem> list = new List<SelectListItem>();
                                list.Add(new SelectListItem() { Text = "yes", Value = "1" });
                                list.Add(new SelectListItem() { Text = "no", Value = "0" });
                            }
                            @Html.CheckBoxFor(i => i.Status, new { id = "status", data_toggle = "toggle", data_onstyle = "success", data_offstyle = "danger", data_size = "small", data_on = "aktif", data_off = "tidak aktif", @checked = "" })
                        </div>
                    </div>
                    <div class="form-group" data-provides="fileupload">
                        @Html.Label("Gambar", "Gambar", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-8">
                            <span class="btn btn-default btn-sm btn-file">
                                <input type="file" name="files" id="files" multiple="multiple" accept="image/x-png,image/gif,image/jpeg" />
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-11">
                            <input type="submit" class="btn btn-primary" value="Save" />
                            @Html.ActionLink("Back", "index", "Berita", new { @class = "btn btn-default" })
                            @Html.Partial("_Alerts")
                        </div>
                    </div>
                                }
            </div>
        </div>

        <div class="row">
            <div class="panel-body">
                <table id="BeritaDetailTable" class="table table-striped table-bordered" style="width:50%;"></table>
            </div>
        </div>
        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
            <div id="createContainer">
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="~/scripts/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var a = Date.parse($("#Tanggal").val()).toString("dd MMM yyyy");
        });

        // Initialize your tinyMCE Editor with your preferred options
        tinyMCE.init({
            // General options
            selector: 'textarea',
            branding: false,
            height: 300,
            menubar: false,
            plugins: [
              'advlist autolink lists link image charmap print preview anchor textcolor',
              'searchreplace visualblocks code fullscreen',
              'insertdatetime media table contextmenu paste code help'
            ],
            toolbar: 'insert | undo redo |  formatselect | bold italic backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
        });
    </script>

    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#BeritaDetailTable').DataTable({
                        "ordering": false,
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("GetDetail", "Berita")",
                            "data": function (data) {
                                console.log('hidden = ' + $("#BeritaIdHidden").val());
                                data.BeritaId = $("#BeritaIdHidden").val();
                            }
                        },
                        "columnDefs": [
                            {
                                "targets": [1],
                                "render": function (data, type, row) {
                                    //console.log('data = ' + data + '\nType = ' + type + '\nrow = ' + row);
                                    console.log('data = ' + data);
                                    return '<img class="img-responsive" width="100px" src="@Url.Action("imagerRDP", "Base")?KeyKonfigParam=Berita&ImageName=' + data + '"/>';

                                },
                                //"render": function (data, type, row) {
                                //    return '<img height="75%" width="75%" src="' + full[7] + '"/>';
                            }
                        ],
                        "columns": [
                            {
                                "title": "",
                                "data": "Id",
                                "className": "dt-center",
                                "width": "100px",
                                "searchable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("DeleteDetail","Berita")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Gambar", "data": "Gambar", "searchable": true },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }

            //$('#btnPerformAdvancedSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#BeritaDetailTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

        });

    </script>
}