﻿@model ProjectPertamina.Entities.Models.Berita

<div class="container-content">
    <div class="title-admin">
        BERITA
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("Get", "Berita", FormMethod.Get, new { id = "frmSearch", @class = "form-horizontal", role = "form" }))
                {
                    <div class="form-group">
                        @Html.LabelFor(i => i.KategoriBerita.Kategori, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.DropDownList("Kategori", new SelectList(ViewBag.Kategori, "Id", "Kategori"), new { @class = "form-control", id = "Kategori" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Judul, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-9">
                            @Html.EditorFor(i => i.Judul, new { htmlAttributes = new { @class = "form-control", id = "Judul" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tanggal", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-3'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("DateFrom", new { @class = "form-control", id = "Tanggal" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-3'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("DateTo", new { @class = "form-control", id = "Sampai" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Penulis, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.EditorFor(i => i.Penulis, new { htmlAttributes = new { @class = "form-control", id = "Penulis" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Sumber, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.EditorFor(i => i.Sumber, new { htmlAttributes = new { @class = "form-control", id = "Sumber" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.IsiBerita, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-9">
                            @Html.EditorFor(i => i.IsiBerita, new { htmlAttributes = new { @class = "form-control", id = "IsiBerita" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-9">
                            <input type="button" id="btnSearch" class="btn btn-primary" value="Search" />
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="table-header">
            <input type="button" class="btn btn-primary btn-sm" value="Add Berita" onclick="location.href='@Url.Action("IndexDetail", "Berita")'" />
        </div>

        <div class="row">
            <div class="panel-body">
                <table id="BeritaTable" class="table table-striped table-bordered" style="width:100%;"></table>
            </div>
        </div>

        <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
            <div id="createContainer">
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#BeritaTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","Berita")",
                            "data": function (data) {
                                //function search
                                data.Kategori = $("#Kategori").val();
                                data.JudulBerita = $("#JudulBerita").val();
                                if (Date.parse($("#Tanggal").val()) != null)
                                    data.Tanggal = Date.parse($("#Tanggal").val()).toISOString();
                                if (Date.parse($("#Sampai").val()) != null)
                                    data.Sampai = Date.parse($("#Sampai").val()).toISOString();
                                data.Penulis = $("#Penulis").val();
                                data.Sumber = $("#Sumber").val();
                                data.IsiBerita = $("#IsiBerita").val();
                            }
                        },
                        "columnDefs": [
                            {
                                "targets": [3],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                        ],
                        "columns": [
                            {
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "className": "dt-center",
                                "width": "100px",
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("IndexDetail", "Berita")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete","Berita")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Kategori", "data": "Kategori", "sortable": false },
                            { "title": "Judul", "data": "Judul", "sortable": false },
                            { "title": "Tanggal", "data": "Tanggal", "sortable": false },
                            { "title": "Penulis", "data": "Penulis", "sortable": false },
                            { "title": "Sumber", "data": "Sumber", "sortable": false },
                            { "title": "Isi", "data": "Isi", "sortable": false }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }

            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            //$("#btnCreate").on("click", function () {

            //    var url = $(this).data("url");

            //    $.get(url, function (data) {
            //        $('#createContainer').html(data);

            //        $('#createModal').modal('show');
            //    });

            //});

            $('#BeritaTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

        });

        //function CreateSuccess(data) {

        //    if (data != "success") {
        //        $('#createContainer').html(data);
        //        return;
        //    }
        //    alert("Save has been success...")
        //    $('#createModal').modal('hide');
        //    $('#createContainer').html("");
        //    assetListVM.refresh();

        //}
        //function DeleteSuccess(data) {

        //    if (data != "success") {
        //        $('#createContainer').html(data);
        //        return;
        //    }
        //    $('#createModal').modal('hide');
        //    $('#createContainer').html("");
        //    assetListVM.refresh();

        //}

    </script>
}
