﻿@model ProjectPertamina.Presentation.ViewModels.ReportKKSuplyLossViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-content" id="OilMovement">
    <div class="title-admin">
        LAPORAN KERTAS KERJA SUPPLY LOSS
    </div>
    <div class="isi-content">
        @using (Html.BeginForm("ExportExcel", "ReportKKSupplyLoss", FormMethod.Post))
        {
            <div class="row sorting-table">
                <div class="col-md-10">

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Tanggal BL", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalBL, new { @class = "form-control", id = "txtTanggalBlDari", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalBLSampai, new { @class = "form-control", id = "txtTanggalBlSampai", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tanggal CQD", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalCQD, new { @class = "form-control", id = "txtTanggalCQD", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalCQDSampai, new { @class = "form-control", id = "txtTanggalCQDSampai", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Loading Port", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.LoadingPort, "", new { @id = "txtLoadingPort", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Produk", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.Produk, "", new { @id = "txtProduk", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Vessel", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.Vessel, "", new { @id = "txtVessel", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Export Excel" id="btnSubmit" hidden />
        }
        <div>
            <table>
                <tr>
                    <td>
                        <div id="containerBarChart1" style="position:center;min-width: 950px; max-width :1050px; height :750px; margin: 0 auto;"></div>
                        
                        <div id="containerBarChart2" style="position:center;min-width: 950px; max-width :1050px; height :750px; margin: 0 auto;"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-header">
            <input type="button" class="btn btn-primary btn-sm" value="Export Excel" onclick="return submitClick();" />
        </div>
        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        function submitClick() {
            document.getElementById("btnSubmit").click();
        }

        //Table Script
        var assetListVM;

        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#grid').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("Get", "ReportKKSupplyLoss")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                data.LoadingPort = $("#txtLoadingPort").val();
                                data.Produk = $("#txtProduk").val();
                                data.Vessel = $("#txtVessel").val();
                                data.TanggalBL = $("#txtTanggalBlDari").val();
                                data.TanggalBLSampai = $("#txtTanggalBlSampai").val();
                                data.TanggalCQD = $("#txtTanggalCQD").val();
                                data.TanggalCQDSampai = $("#txtTanggalCQDSampai").val();
                            }
                        },
                        "columns": [
                           {
                               "title": "Produk",
                               "data": function (data) {
                                   return data.Produk;
                               },
                               "sortable": false
                           },
                           {
                               "title": "Vessel",
                               "data": function (data) {
                                   return data.Vessel;
                               },
                               "sortable": false
                           },
                           {
                               "title": "B/L Date",
                               "data": function (data) {
                                   return getDate(data.BLDate);
                               },
                               "sortable": false
                           },
                           {
                               "title": "CQD Date",
                               "data": function (data) {
                                   return getDate(data.CQDDate);
                               },
                               "sortable": false
                           },
                           {
                               "title": "Loadport",
                               "data": function (data) {
                                   return data.LoadPort;
                               },
                               "sortable": false
                           },
                           {
                               "title": "Dischport",
                               "data": function (data) {
                                   return data.Dischport;
                               },
                               "sortable": false
                           },
                           {
                               "title": "PO MySAP",
                               "data": function (data) {
                                   return data.PoMySAP;
                               },
                               "sortable": false
                           },
                           {
                               "title": "DO Number / INBOUND",
                               "data": function (data) {
                                   return data.DONumberInbound;
                               },
                               "sortable": false
                           },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $("#btnSearch").on("click", function () {
                assetListVM.refresh();
                drawBarChartAjax();
            });
            assetListVM.init();
            drawBarChartAjax();

        });

    </script>
    <script src="~/Scripts/highcharts.js"></script>
    <script>
        function drawBarChartAjax() {

            var LoadingPort = $("#txtLoadingPort").val();
            var Produk = $("#txtProduk").val();
            var Vessel = $("#txtVessel").val();
            var TanggalBL = $("#txtTanggalBlDari").val();
            var TanggalBLSampai = $("#txtTanggalBlSampai").val();
            var TanggalCQD = $("#txtTanggalCQD").val();
            var TanggalCQDSampai = $("#txtTanggalCQDSampai").val();


            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "ReportKKSupplyLoss/barchart",
                data: "{LoadingPort:'" + LoadingPort + "', Produk :'" + Produk + "', Vessel :'" + Vessel
                       + "',TanggalBL :'" + TanggalBL + "',TanggalBLSampai :'" + TanggalBLSampai
                       + "',TanggalCQD :'" + TanggalCQD + "',TanggalCQDSampai :'" + TanggalCQDSampai + "'}",
                dataType: "json",
                cache: true,
                success: function (Result) {
                    console.log(Result);
                    drawBarChart1(Result.chart1);
                    drawBarChart2(Result.chart2)
                },
                error: function (Result) {
                    alert("Error");
                }
            });
        }
        function drawBarChart1(data) {
            $('#containerBarChart1').highcharts({
                chart: {
                    type: 'column',
                    width: 1000,
                    height: 600,
                    inverted: false
                },
                title: {
                    text: data.Title
                },
                subtitle: {
                    text: data.Subtitle
                },
                xAxis: {
                    categories: data.XAxisCategories,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: data.YAxisTitle
                    }
                    //,labels: {
                    //    overflow: 'justify'
                    //}
                },
                tooltip: {
                    //valueSuffix: data.YAxisTooltipValueSuffix
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    align: 'center',
                    verticalAlign: 'bottom',
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: data.Series
            });
        }

        function drawBarChart2(data) {
            $('#containerBarChart2').highcharts({
                chart: {
                    type: 'column',
                    width: 1000,
                    height: 600,
                    inverted: false
                },
                title: {
                    text: data.Title
                },
                subtitle: {
                    text: data.Subtitle
                },
                xAxis: {
                    categories: data.XAxisCategories,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: data.YAxisTitle
                    }
                    //,labels: {
                    //    overflow: 'justify'
                    //}
                },
                tooltip: {
                    //valueSuffix: data.YAxisTooltipValueSuffix
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    align: 'center',
                    verticalAlign: 'bottom',
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: data.Series
            });
        }
    </script>


}