﻿@model ProjectPertamina.Entities.Models.MenuAplikasi

@{
    ViewBag.Title = "Index";
}
<div class="container-content">
    <div class="title-admin">
        Menu Aplikasi
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("Get", "MenuAplikasi", FormMethod.Get, new { id = "frmSearch", @class = "form-horizontal", role = "form" }))
                {
                    <div class="modal-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })                            
                            <div class="form-group">
                                @Html.LabelFor(i => i.MenuName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(i => i.MenuName, new { htmlAttributes = new { @class = "form-control", id = "MenuName" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(i => i.UrlFile, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.EditorFor(i => i.UrlFile, new { htmlAttributes = new { @class = "form-control", id = "UrlFile" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(i => i.KategoriMenuAplikasi.Kategori, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-3">
                                    @Html.DropDownList("Kategori", new SelectList(ViewBag.Kategori, "Id", "Kategori"), new { @class = "form-control", id = "Kategori" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-3">
                                    <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="row table-header">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create","MenuAplikasi")" id="btnCreate">Add Menu Aplikasi</button>
            </div>
            <div class="col-md-11">
                @Html.Partial("_Alerts")
            </div>
        </div>
        <!-- Modal -->

        <table id="MenuAplikasiTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#MenuAplikasiTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","MenuAplikasi")",
                            "data": function (data) {
                                //function search
                                data.MenuName = $("#MenuName").val();
                                data.UrlFile = $("#UrlFile").val();
                                data.Kategori = $("#Kategori").val();

                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Create", "MenuAplikasi")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete","MenuAplikasi")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Nama Menu", "data": "MenuName", "sortable": false },
                            { "title": "Kategori", "data": "Kategori", "sortable": false },
                            { "title": "Parent", "data": "Parent", "sortable": false },
                            { "title": "Link", "data": "UrlFile", "sortable": false },
                            { "title": "Order", "data": "Orders", "sortable": false },
                            { "title": "Deskripsi", "data": "ModuleDescr", "sortable": false },
                            { "title": "Status", "data": "Status", "sortable": false }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#MenuAplikasiTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#MenuAplikasiTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });
        });


    </script>
}
