﻿@model ProjectPertamina.Entities.Models.Rapat
@{
    Layout = null;
}
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title Rapat</h4>
        </div>
        @using (Ajax.BeginForm("CreateEdit", "Rapat", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateSuccess" }, new { @class = "form-horizontal", role = "form" }))
            {
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.UpdatedDate)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Judul, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Judul, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Judul, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Tanggal Rapat", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-8'>
                            <div class='input-group datetimepicker'> @*function ada di bawah*@
                                @Html.TextBoxFor(model => model.TanggalRapat, "{0:dd MMM yyyy}", new { @class = "form-control", id = "TanggalRapat" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @Html.ValidationMessageFor(model => model.TanggalRapat, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Link, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-sm" value="Save" />
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        }
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        var a = Date.parse($("#TanggalRapat").val()).toString("dd MMM yyyy");

        $('.datetimepicker').datetimepicker({
            format: 'DD MMM YYYY',
            //minDate: new Date()
        });
    });
</script>