﻿
@{
    ViewBag.Title = "Index";
}
<div class="container-content" id="OilMovement">
    <div class="title-admin">
        OIL MOVEMENT
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("Get", "OilMovement", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Tanggal Dari", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBox("TanggalDari", null, "{0:dd MMM yyyy}", new { @id = "TanggalDari", @class = "form-control", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tanggal Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBox("TanggalSampai", null, "{0:dd MMM yyyy}", new { @id = "TanggalSampai", @class = "form-control", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tujuan", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBox("Tujuan", "", new { @id = "Tujuan", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @if (ViewBag.Create == true)
        {
            <div class="row table-header">
                <div class="col-md-1">
                    <input type="button" class="btn btn-primary btn-sm" value="Add Oil Movement" onclick="location.href='@Url.Action("IndexDetail", "OilMovement")'" />
                </div>
            </div>
        }

        <input type="hidden" id="hdalertsucces" value="@TempData["MessageSucces"]" />
        <input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
        <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />
        <table id="OilMovementTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var notif = $('#hdalertsucces').val();
            if (notif != '')
                Notifikasi(notif);
            console.log(notif);
        });

        var assetListVM;
        var edit = $('#hdActionedit').val();
        var hapus = $('#hdActiondelete').val();
        var visible = true;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#OilMovementTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("Get","OilMovement")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                if (Date.parse($("#TanggalDari").val()) != null)
                                    data.TanggalDari = Date.parse($("#TanggalDari").val()).toISOString();
                                if (Date.parse($("#TanggalSampai").val()) != null)
                                    data.TanggalSampai = Date.parse($("#TanggalSampai").val()).toISOString();
                                data.Tujuan = $("#Tujuan").val();
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    //return '<a href="@Url.Action("IndexDetail", "OilMovement")?Id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete", "OilMovement")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';

                                    var action = "";
                                    if (edit == "True") {
                                        action = '<a href="@Url.Action("IndexDetail", "OilMovement")?Id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>';
                                    }
                                    if (hapus == "True") {
                                        action = action + ' <a href="@Url.Action("Delete", "OilMovement")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                    }
                                    return action;
                                }
                            },
                            { "title": "Tanggal", "data": "Tanggal", "sortable": false },
                            { "title": "No PO", "data": "NoPo", "sortable": false },
                            { "title": "Jam Mulai", "data": "JamMulai", "sortable": false },
                            { "title": "Jam Selesai", "data": "JamSelesai", "sortable": false },
                            { "title": "No Polisi", "data": "NoPolisi", "sortable": false },
                            { "title": "Tujuan", "data": "Tujuan", "sortable": false },
                            { "title": "Meter Awal", "data": "MeterAwal", "sortable": false },
                            { "title": "Meter Akhir", "data": "MeterAkhir", "sortable": false },
                            { "title": "Kap. Bridger", "data": "KapBridger", "sortable": false },

                        ],
                        "columnDefs": [
                            {
                                "targets": [1],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                            {
                                "targets": [3],
                                "render": function (data, type, row) {
                                    return moment(data).format('HH:mm');
                                },
                            },
                            {
                                "targets": [4],
                                "render": function (data, type, row) {
                                    return moment(data).format('HH:mm');
                                },
                            },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#OilMovementTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            //$('#OilMovementTable').on("click", ".editAsset", function (event) {

            //    event.preventDefault();

            //    var url = $(this).attr("href");

            //    $.get(url, function (data) {
            //        $('#createContainer').html(data);

            //        $('#createModal').modal('show');
            //    });

            //});
        });


    </script>
}


