﻿@using ProjectPertamina.Common;

@model ProjectPertamina.Entities.Models.OilMovement

<link href="~/Content/select2/select2.min.css" rel="stylesheet" />
@*<div class="container-content">*@
<div class="title-admin">
    @ViewBag.Title OIL MOVEMENT
</div>
<div class="isi-content">
    <div class="row sorting-table">
        <div class="col-md-10">
            @using (Html.BeginForm("CreateEdit", "OilMovement", FormMethod.Post, new { id = "CreateEditForm", @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group required">
                    @Html.LabelFor(i => i.Tanggal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group datetimepicker'>
                            @Html.EditorFor(i => i.Tanggal, new { htmlAttributes = new { @class = "form-control", id = "Tanggal", @readonly = "" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.NoPO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.NoPO, new { htmlAttributes = new { @class = "form-control", maxlength = "20" } })
                        @Html.ValidationMessageFor(model => model.NoPO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.JamMulai, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group timepicker' id="EstimasiDateFrom">
                            @Html.EditorFor(i => i.JamMulai, new { htmlAttributes = new { @class = "form-control", id = "JamMulai" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.JamMulai, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.JamSelesai, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group timepicker' id="EstimasiDateTo">
                            @Html.EditorFor(i => i.JamSelesai, "23:00:00", new { htmlAttributes = new { @class = "form-control", id = "JamSelesai" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.JamSelesai, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.NoPolisi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.NoPolisi, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
                        @Html.ValidationMessageFor(model => model.NoPolisi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.Tujuan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.Tujuan, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                        @Html.ValidationMessageFor(model => model.Tujuan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.MeterAwal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.MeterAwal, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                        @Html.ValidationMessageFor(model => model.MeterAwal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.MeterAkhir, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.MeterAkhir, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                        @Html.ValidationMessageFor(model => model.MeterAkhir, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.KapBridger, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.KapBridger, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                        @Html.ValidationMessageFor(model => model.KapBridger, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        @Html.ActionLink("Back", "Index", "OilCustody", new { @class = "btn btn-default" })
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
        <div id="createContainer">
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        //$(document).ready(function () {
        //    $('#EstimasiDateTo').data('DateTimePicker').minDate($("#JamMulai").val());
        //    $('#EstimasiDateFrom').data('DateTimePicker').maxDate($("#JamSelesai").val());
        //});

        //$(function () {
        //    //alert($("#EstimasiStart").val());
        //    $("#EstimasiDateFrom").on('dp.change', function (e) {
        //        $('#EstimasiDateTo').data('DateTimePicker').minDate(e.date);
        //    });

        //    $("#EstimasiDateTo").on('dp.change', function (e) {
        //        $('#EstimasiDateFrom').data('DateTimePicker').maxDate(e.date);
        //    });
        //});
    </script>
}