﻿@model ProjectPertamina.Entities.Models.FinancePipa

<link href="~/Content/select2/select2.min.css" rel="stylesheet" />

<div class="title-admin">
    @ViewBag.Title FINANCE PIPA
</div>
<div class="isi-content">
    <div class="row sorting-table">
        <div class="col-md-10">
            @using (Html.BeginForm("CreateEdit", "FinancePipa", FormMethod.Post, new { id = "CreateEditForm", @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="form-group required">
                    @Html.LabelFor(i => i.Tanggal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group datetimepicker'>
                            @Html.EditorFor(i => i.Tanggal, new { htmlAttributes = new { @class = "form-control", id = "Tanggal", @readonly = "" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.NoPO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.NoPO, new { htmlAttributes = new { @class = "form-control", maxlength = "20" } })
                        @Html.ValidationMessageFor(model => model.NoPO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.Label("Shift", "Shift/On Call", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(i => i.ShiftId, new SelectList(ViewBag.shift, "Id", "Description"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group required">
                    @Html.Label("PICKeuangan", "PIC Keuangan", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(i => i.PICKeuanganId, new SelectList(ViewBag.picKeuangan, "Id", "Nama"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PICKeuanganId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.JumlahTangki, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @{
                            var JumlahTangki = new List<SelectListItem>();
                            JumlahTangki.Add(new SelectListItem() { Text = "1", Value = "1" });
                            JumlahTangki.Add(new SelectListItem() { Text = "2", Value = "2" });
                            JumlahTangki.Add(new SelectListItem() { Text = "3", Value = "3" });
                            JumlahTangki.Add(new SelectListItem() { Text = "4", Value = "4" });
                            JumlahTangki.Add(new SelectListItem() { Text = "5", Value = "5" });
                            JumlahTangki.Add(new SelectListItem() { Text = "6", Value = "6" });
                        }
                        @Html.DropDownListFor(i => i.JumlahTangki, JumlahTangki, new { @class = "form-control", id = "JumlahTangkiDropDown" })
                        @Html.ValidationMessageFor(model => model.JumlahTangki, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.Label("NomorTangki", "Nomor Tangki", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.ListBoxFor(i => i.FinancePipaDetailSelect, new SelectList(ViewBag.tangki, "Id", "Code"), new { @class = "form-control", id = "NomorTangki" })
                        @Html.ValidationMessageFor(model => model.FinancePipaDetailSelect, "", new { @class = "text-danger", id = "ValMsgNomorTangki" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.Label("NamaCargo", "Nama Cargo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(i => i.CargoId, new SelectList(ViewBag.Cargo, "Id", "Description"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CargoId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.PumpRate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.PumpRate, new { htmlAttributes = new { @class = "form-control", type = "number", step = 0.01 } })
                        @Html.ValidationMessageFor(model => model.PumpRate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.Qty, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.Qty, new { htmlAttributes = new { @class = "form-control", type = "number", step = 0.01 } })
                        @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    @Html.LabelFor(i => i.EstimasiStart, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group' id="EstimasiDateFrom">
                            @Html.EditorFor(i => i.EstimasiStart, "{0:dd MMM yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.EstimasiStart, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    @Html.LabelFor(i => i.EstimasiStop, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group' id="EstimasiDateTo">
                            @Html.EditorFor(i => i.EstimasiStop, "{0:dd MMM yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.EstimasiStop, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    @Html.LabelFor(i => i.RealisasiStart, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group' id="RealisasiDateFrom">
                            @Html.EditorFor(i => i.RealisasiStart, "{0:dd MMM yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.RealisasiStart, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group ">
                    @Html.LabelFor(i => i.RealisasiStop, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group' id="RealisasiDateTo">
                            @Html.EditorFor(i => i.RealisasiStop, "{0:dd MMM yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.RealisasiStop, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.FromTo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(i => i.FromTo, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                        @Html.ValidationMessageFor(model => model.FromTo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.Catatan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(i => i.Catatan, new { @class = "form-control", rows = "5", maxlength = "500" })
                        @Html.ValidationMessageFor(model => model.Catatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        @Html.ActionLink("Back", "Index", "FinancePipa", null, new { @class = "btn btn-default" })
                    </div>
                </div>
                            }
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
        <div id="createContainer">
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/select2/select2.full.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.select2.defaults.set('language', {
                maximumSelected: function (e) {
                    var t = "Anda hanya dapat memilih " + e.maximum + " Tangki";

                    return t;
                },
            });

            $("#NomorTangki").select2({
                maximumSelectionLength: $("#JumlahTangkiDropDown").val()
            });
        });

        $("#JumlahTangkiDropDown").change(function () {
            $("#NomorTangki").val(null).trigger("change");
            $("#NomorTangki").select2({
                maximumSelectionLength: $("#JumlahTangkiDropDown").val(),
            });
        });

        $(function () {
            setFromDateTimePicker("#EstimasiDateFrom", $("#EstimasiStop").val(), 'DD MMM YYYY HH:mm');
            setToDateTimePicker("#EstimasiDateTo", $("#EstimasiStart").val(), 'DD MMM YYYY HH:mm');
            setFromDateTimePicker("#RealisasiDateFrom", $("#RealisasiStop").val(), 'DD MMM YYYY HH:mm');
            setToDateTimePicker("#RealisasiDateTo", $("#RealisasiStart").val(), 'DD MMM YYYY HH:mm');

            $("#EstimasiDateFrom").on('dp.change', function (e) {
                $('#EstimasiDateTo').data('DateTimePicker').minDate(e.date)
            });

            $("#EstimasiDateTo").on('dp.change', function (e) {
                $('#EstimasiDateFrom').data('DateTimePicker').maxDate(e.date)
            });

            $("#RealisasiDateFrom").on('dp.change', function (e) {
                $('#RealisasiDateTo').data('DateTimePicker').minDate(e.date)
            });

            $("#RealisasiDateTo").on('dp.change', function (e) {
                $('#RealisasiDateFrom').data('DateTimePicker').maxDate(e.date)
            });


        });

        // Try it yourself clicky demo:
        //var $demoValue = $('#demo-number-value');

        //$demoValue.bind('blur', function () {
        //    var result = accounting.formatNumber(
        //            $demoValue.val(), 2, ",", "."
        //        );
        //    //console.log(result);
        //    $demoValue.val(result);
        //});

        //$demoValue.bind('keydown keyup keypress focus blur paste change', function () {
        //    var result = accounting.formatNumber(
        //            $demoValue.val(), 0, ",", "."
        //        );
        //    //console.log(result);
        //    $demoValue.val(result);
        //});

    </script>
}