﻿@model ProjectPertamina.Entities.Models.TimOnDuty

@{
    ViewBag.Title = "Index";
}
<div class="container-content">
    <div class="title-admin">
        Team On Duty
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(i => i.Judul, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.TextBox("Judul", "", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Tanggal", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class='col-md-3'>
                                <div class='input-group datetimepicker'>
                                    @Html.TextBox("DateFrom",  new { @class = "form-control", id = "TanggalDari" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class='col-md-3'>
                                <div class='input-group datetimepicker'>
                                    @Html.TextBox("DateTo", new { @class = "form-control", id = "TanggalSampai" })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-9">
                                <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-header">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Create","TimOnDuty")" id="btnCreate">Add Tim On Duty</button>
        </div>
        <!-- Modal -->

        <table id="TimOnDutyTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,
                init: function () {
                    dt = $('#TimOnDutyTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searchable": false,
                        "ajax": {
                            "url": "@Url.Action("Get","TimOnDuty")",
                            "data": function (data) {
                                //function search
                                data.Judul = $("#Judul").val();
                                if (Date.parse($("#TanggalDari").val()) != null)
                                    data.TanggalDari = Date.parse($("#TanggalDari").val()).toISOString();
                                if (Date.parse($("#TanggalSampai").val()) != null)
                                    data.TanggalSampai = Date.parse($("#TanggalSampai").val()).toISOString();
                            }
                        },
                        "columnDefs": [
                            {
                                "targets": [3],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                        ],
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Edit","TimOnDuty")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete","TimOnDuty")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Nama Tim", "data": "NamaTim", "sortable": false },
                            { "title": "Attachment", "data": "Attachment", "sortable": false },
                            { "title": "Tanggal Input", "data": "Tanggal", "sortable": false }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },
                refresh: function () {
                    dt.ajax.reload();
                }
            }

            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();
        });


        $("#btnCreate").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#TimOnDutyTable').on("click", ".delete", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#TimOnDutyTable').on("click", ".editAsset", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#TimOnDutyTable').on("click", ".delete", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        //function myFunction() {
        //    var x = $('#Tipe').value;
        //    console.log(x);
        //    document.getElementById(x).disabled = true;
        //}

    </script>
}

