﻿
@using ProjectPertamina.Common
<div id="sliderBroadcast" class="carousel slide vertical">
    <!-- Carousel items -->
    <div class="carousel-inner">
        @{
            int i = 0;
            foreach (var item in ViewData["Broadcast"] as List<ProjectPertamina.Entities.Models.Broadcast>)
            {
                <div class="item @if (i == 0)
                    {<text>active</text>}">
                    <a href='@Url.Action("Detail", "Broadcast", new { @Id = item.Id})'>
                        <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.Broadcast, ImageName = item.Gambar })" class="img-responsive pop" />
                    </a>
                </div>
                i++;
            }
        }
    </div>
    
</div>