﻿@using ProjectPertamina.Common
<div id="sliderCampaign" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    @*<ol class="carousel-indicators">
            <li data-target="#sliderCampaign" data-slide-to="0" class="active"></li>
            <li data-target="#sliderCampaign" data-slide-to="1"></li>
            <li data-target="#sliderCampaign" data-slide-to="2"></li>
        </ol>*@

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @{
            int i = 0;
            foreach (var item in ViewData["Campaign"] as List<ProjectPertamina.Entities.Models.Campaign>)
            {
                <div class="item @if (i == 0)
                    {<text>active</text>}">
                    <a href="#" class="pop">
                        <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.Campaign, ImageName = item.NamaFile })" />
                    </a>
                </div>
                i++;
            }
        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#sliderCampaign" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#sliderCampaign" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog img-preview-frontend">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>