﻿<div id="sliderCampaign" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        <div class="item active">
            @{
                int i = 0;
                foreach (var item in ViewData["Campaign"] as List<ProjectPertamina.Entities.Models.Campaign>)
                {
                    <div class="item @if (i == 0)
                    {<text>active</text>}">
                        <div align="center">
                            <video autoplay loop>
                                <source src="@item.NamaFile" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                    i++;
                }
            }
            
        </div>        
        <a class="left carousel-control" href="#carouselHelp" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselHelp" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>