﻿<div class="row footer">
    @foreach (var item in ViewData["Footer"] as List<ProjectPertamina.Entities.Models.Footer>)
    {
        <div class="col-md-4">
            <p>@item.Company</p>
            <p>@item.Address</p>
            <p>@item.Phone</p>
        </div>
        <div class="col-md-4 col-md-offset-4 text-right">
            <p class="text-footer">@Html.Raw(HttpUtility.HtmlDecode(item.Copyright))</p>
        </div>
    }
</div>