﻿@using ProjectPertamina.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="body-container">
        <div class="row container-fluid">
            <div class="col-md-6 header-left">
                <img class="logo" src="~/Content/Image/logo.png" />
            </div>
            <div class="col-md-6 header-right">
                <div class="dropdown" id="accountmenu">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        Welcome @User.Identity.Name Total user: @ApplicationInstance.Application["Totaluser"]
                    </a>
                    <ul class="dropdown-menu" id="accountsubmenu" role="menu" aria-labelledby="accountmenu">
                        <li role="presentation">@Html.ActionLink("Halaman User", "Index", "Home", new { Area = "User" }, null)</li>
                        <li role="presentation">@Html.ActionLink("Halaman Admin","Index", "Home", new { Area = "Admin" },null)</li>
                    </ul>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-8 top-search">
                        <input class="form-control input-sm" type="text" placeholder="Cari Artikel">
                    </div>
                </div>
            </div>
        </div>
        <div class="row header-menu">
            @Html.Action("MenuPartial", "Base")
        </div>
        @Html.Action("LinkAplikasiPartial", "Base")
        <div class="row top-content">
            <div class="col-md-10 slider">
                @Html.Action("CampaignPartial", "Base")
            </div>
            <div class="col-md-2 logo-app">
                @Html.Action("MainAppPartial", "Base")
            </div>
        </div>
        <div class="row bottom-content">
            <div class="col-md-2 left-content">
                <div class="info-pekerja">
                    <div class="title" id="info-pekerja">
                        INFO JUMLAH PEKERJA
                    </div>
                    <div class="isi-pekerja">
                        <div class="col-md-6">
                            <div class="img-pekerja">
                                @*<img src="https://images.dagelan.co/old/2017/02/angka.jpg" />*@
                            </div>
                            <div class="img-pekerja">
                                @*<img src="https://images.dagelan.co/old/2017/02/angka.jpg" />*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="img-pekerja">
                                @*<img src="https://images.dagelan.co/old/2017/02/angka.jpg" />*@
                            </div>
                            <div class="img-pekerja">
                                @*<img src="https://images.dagelan.co/old/2017/02/angka.jpg" />*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pejabat-sementara">
                    <div class="title">
                        PEJABAT SEMENTARA
                    </div>
                    <div id="sliderPejabatSementara" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        @*<ol class="carousel-indicators">
                                <li data-target="#sliderPejabatSementara" data-slide-to="0" class="active"></li>
                                <li data-target="#sliderPejabatSementara" data-slide-to="1"></li>
                                <li data-target="#sliderPejabatSementara" data-slide-to="2"></li>
                            </ol>*@

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#sliderPejabatSementara" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#sliderPejabatSementara" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <div class="nama-pejabat">
                        <p>Nama Pejabat</p>
                        <p>Jabatan</p>
                    </div>
                </div>
                <div class="time-on-duty">
                    <div class="title">
                        TIM ON DUTY
                    </div>
                    <div class="isi-timonduty">
                        @Html.Action("TimOnDutyPartial", "Base")
                    </div>
                </div>
                <div class="broadcast">
                    <div class="title">
                        BROADCAST
                    </div>
                    @Html.Action("BroadcastPartial", "Base")
                    <div class="viewall">
                        @Html.ActionLink("Broadcast lainnya....", "Index", "Broadcast")
                    </div>
                </div>
            </div>
            <div class="col-md-8 middle-content">
                @RenderBody()
            </div>
            <div class="col-md-2 right-content">
                <div class="energia">
                    <img src="/Content/Image/logo_energia.png" />
                </div>
                <div class="rapat-hari-ini">
                    <div class="title">
                        RAPAT HARI INI
                    </div>
                    <div class="isi-rapat">
                        @Html.Action("RapatPartial", "Base")
                    </div>
                </div>
                <div class="surat-edaran">
                    <div class="title">
                        SURAT EDARAN
                    </div>
                    <div class="isi-surat">
                        @Html.Action("SuratEdaranPartial", "Base")
                    </div>
                    <div class="viewall">
                        @Html.ActionLink("Surat edaran lainnya....", "Index", "SuratEdaran")
                    </div>
                </div>
                @Html.Action("NoTelpPartial", "Base")
            </div>

        </div>
        <div class="row border-footer">
            <div class="col-md-4 red"></div>
            <div class="col-md-4 green"></div>
            <div class="col-md-4 blue"></div>
        </div>
        @Html.Action("FooterPartial", "Base")
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")
    @*@Scripts.Render("~/bundles/datatables")*@
    @Styles.Render("~/Content/datetimepicker")
    @Scripts.Render("~/bundles/datetimepicker")

    @RenderSection("scripts", required: false)
</body>
</html>
