﻿@using ProjectPertamina.Common
@foreach (var item in ViewData["MainApp"] as List<ProjectPertamina.Entities.Models.MainApp>)
{
    <a href="@item.Link">
        <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.MainApp, ImageName = item.Gambar })" class="gambar-logo-app"  />
    </a>
}