﻿<ul class="nav navbar-nav">
    <li class="active">@Html.ActionLink("HOME", "Index", "Home")</li>
    <li class="dropdown header-menu-dropdown">
        @Html.ActionLink("PROFILE", null, null, null, new { @class = "dropdown-toggle" })
        <ul class="dropdown-menu">
            @foreach (var profile in ViewData["Profile"] as List<ProjectPertamina.Entities.Models.Profile>)
            {
                <li>@Html.ActionLink(profile.Judul, "Index", "Profile", new { @id = profile.Id }, new { @class = "dropdown-toggle" })</li>
            }
        </ul>
    </li>
    <li class="dropdown header-menu-dropdown">
        @Html.ActionLink("BERITA & INFO", null, null, null, new { @class = "dropdown-toggle" })
        <ul class="dropdown-menu">
            @foreach (var kat in ViewData["KategoriBerita"] as List<ProjectPertamina.Entities.Models.KategoriBerita>)
            {
                <li>@Html.ActionLink(kat.Kategori, "Index", "Berita", new { @id = kat.Id }, new { @class = "dropdown-toggle" })</li>
            }
        </ul>
    </li>
    <li class="dropdown header-menu-dropdown">
        @Html.ActionLink("PRODUK", null, null, null, new { @class = "dropdown-toggle" })
        <ul class="dropdown-menu">
            @foreach (var produk in ViewData["Produk"] as List<ProjectPertamina.Entities.Models.Produk>)
            {
                <li>@Html.ActionLink(produk.Judul, "Index", "Produk", new { @id = produk.Id }, new { @class = "dropdown-toggle" })</li>
            }
        </ul>
    </li>
    <li class="dropdown-large">
        @Html.ActionLink("LINK APLIKASI", null, null, null, new { @class = "dropdown-toggle" })
    </li>

    @foreach (var itemDetail in (ViewData["MenuAplikasi"] as List<ProjectPertamina.Entities.Models.MenuAplikasi>).Where(m => m.Parent == 0).OrderBy(m => m.Orders).ThenBy(m=>m.MenuName))
        {
            <li>@Html.ActionLink(itemDetail.MenuName.ToUpper(), null, null, null)</li>
        }
</ul>