﻿<div class="row dropdown-menu-large">
    @foreach (var item in (ViewData["KatMenuAplikasi"] as List<ProjectPertamina.Entities.Models.KategoriMenuAplikasi>).OrderBy(m=>m.Kategori))
        {
            <ul class="sub-menu-large">
                <li>
                    @item.Kategori
                    <ul>
                        @foreach (var itemDetail in (ViewData["MenuAplikasi"] as List<ProjectPertamina.Entities.Models.MenuAplikasi>).Where(m => m.KategoriMenuAplikasiId == item.Id))
                        {
                            <li>
                                <a class="detail-content" href="#">
                                    @itemDetail.MenuName@if (itemDetail.CreatedDate == ViewBag.MaxTanggal)
                                    {
                                        <sup class="newest">New</sup>
                                    }
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            </ul>
          }    
</div>
