﻿@using ProjectPertamina.Common
<div class="telepon-penting">    
    <div class="title">
        NOMOR TELEPON PENTING
    </div>
    @foreach (var item in ViewData["BgNoTelp"] as List<ProjectPertamina.Entities.Models.BackgroundNoTelp>)
    {
        <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.BackgroundNoTel, ImageName = item.Gambar })" class="bg-no-telp" />
    }
    <div class="detail-no-telp">
        @foreach (var item in ViewData["NoTelp"] as List<ProjectPertamina.Entities.Models.NoTelp>)
        {
            <p>@item.Judul - @item.Telp</p>
        }
    </div>
</div>