﻿@foreach (var item in ViewData["RapatHariIni"] as List<ProjectPertamina.Entities.Models.Rapat>)
{
    <p>Hari Ini :</p>
    <a class="detail-content" href='@item.Link'>
        <p>@item.Judul</p>
    </a>

}
<hr />
@foreach (var item in ViewData["RapatBesok"] as List<ProjectPertamina.Entities.Models.Rapat>)
{
    <p>Besok :</p>
    <a class="detail-content" href='@item.Link'>
        <p>@item.Judul</p>
    </a>
}
