﻿@foreach (var item in ViewData["SuratEdaran"] as List<ProjectPertamina.Entities.Models.SuratEdaran>)
{
    <p>@Html.ActionLink(item.Judul, "Detail", "SuratEdaran", new { @id = item.Id }, new { @class = "detail-content" })</p>
}