﻿@foreach (var item in ViewData["TimOnDuty"] as List<ProjectPertamina.Entities.Models.TimOnDuty>)
{
    <p>@Html.ActionLink(item.Judul, "Index", "TimOnDuty", new { @id = item.Id }, new { @class = "detail-content" })</p>
}

