﻿@model ProjectPertamina.Entities.Models.WebCustodyTransfer.Tabel57

@{
    Layout = null;
    ViewBag.Title = "Delete";
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Delete</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h4>Apakah Anda yakin menghapus (Density 15 =  @string.Format("{0:n3}", Model.Density15))?</h4>

        </div>

        <div class="modal-body">
            @using (Ajax.BeginForm("Delete", "Tabel57", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "DeleteSuccess" }, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="form-actions no-color">
                    @Html.HiddenFor(x => x.Id)
                    <input type="submit" value="Delete" class="btn btn-default btn-sm" />
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>
