﻿<div class="container-content">

    <div class="title-admin">
        PROSES SUPPLY LOSS SUPPLY
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-12 form-horizontal">
                <div class="form-group required">
                    @Html.Label("Tipe Proses", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @{
                            var TipeProses = new List<SelectListItem>();
                            if (ViewBag.Create)
                            {
                                TipeProses.Add(new SelectListItem() { Text = "Baru", Value = "Baru" });
                            }
                            if (ViewBag.Edit)
                            {
                                TipeProses.Add(new SelectListItem() { Text = "Edit", Value = "Edit" });
                            }
                        }
                        @Html.DropDownList("TipeProses", TipeProses, new { @class = "form-control", onchange = "TipeProsesChange()" })
                        @Html.Hidden("TipeProsesHidden", "")
                    </div>
                </div>
                <div class="form-group required hidden" id="TanggalBLDiv">
                    @Html.Label("Tanggal BL", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class='col-md-2'>
                        <div class='input-group datetimepicker'>
                            @Html.TextBox("TanggalBongkar", "", new { @class = "form-control", @readonly = "" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class='col-md-2'>
                        <div class='input-group datetimepicker'>
                            @Html.TextBox("TanggalBongkarSampai", "", new { @class = "form-control", @readonly = "" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-primary" value="Tampilkan Data" id="btnSearch" />
                    </div>
                </div>

            </div>
            <input type="hidden" id="hdalertsucces" value="@TempData["MessageSucces"]" />
        </div>
        <form class="cmxform" id="gridDetail" method="get" action="">
            <fieldset>
                <table id="Table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    @*<tfoot class="footertable">
                            <tr>
                                <th><button class="save-user btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button><input type="hidden" id="Id" value='0' /></th>
                                <th><select id="ddlNomorTangki" class="form-control ddlNomorTangki"></select></th>
                                <th><select id="ddlNamaCargo" class="form-control ddlCargo"></select></th>
                            </tr>
                        </tfoot>*@
                </table>
            </fieldset>
        </form>
        <div class="row">
            <div class="col-md-12 form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <input type="button" class="btn btn-primary" value="Save" id="BtnSave" />
                        @Html.ActionLink("Back", "Index", "SupplyLossSupply", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            TipeProsesChange();
        });

        //Table Script
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#Table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("GetSupplyLossSupplyRoas", "SupplyLossSupply")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                data.TipeProses = $("#TipeProses").val();
                                if ($("#TipeProses").val() == "Edit") {
                                    if (Date.parse($("#TanggalBongkar").val()) != null)
                                        data.TanggalBongkar = Date.parse($("#TanggalBongkar").val()).toISOString();
                                    if (Date.parse($("#TanggalBongkarSampai").val()) != null)
                                        data.TanggalBongkarSampai = Date.parse($("#TanggalBongkarSampai").val()).toISOString();
                                }
                            }
                        },
                        "columns": [
                            {
                                "title": "Doc Date",
                                "data": {
                                    "DocDate": "DocDate",
                                    "Id": "Id",
                                },
                                "width": "80px",
                                "sortable": false,
                            },
                            { "title": "Doc No", "data": "DocNo", "sortable": false },
                            { "title": "Tanggal Bl", "data": "TanggalBl", "width": "80px", "sortable": false },
                            { "title": "Tipe Transport", "data": "TipeTransport", "sortable": false },
                            { "title": "Nama Kapal", "data": "NamaKapal", "sortable": false },
                            { "title": "Muatan", "data": "Muatan", "sortable": false },
                            { "title": "Discharge Port", "data": "DischargePort", "sortable": false },
                            { "title": "NoBL", "data": "NoBl", "sortable": false },
                            {
                                "title": "Tanggal Bongkar",
                                "data": "TanggalBongkar",
                                "sortable": false,
                                "width": "200px",
                                "render": function (data, type, full, meta) {
                                    return '<div class="input-group datetimepicker">' +
                                            '<input class="form-control" readonly="" id="TanggalBongkar" type="text" value="' + getDate(data) + '">' +
                                            '<span class="input-group-addon">' +
                                            '<span class="glyphicon glyphicon-calendar"></span>' +
                                            '</span>' +
                                            '</div>';
                                }
                            },
                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "render": function (data, type, row) {
                                    return getDate(data.DocDate) +
                                            '<input type="hidden" id="Id" value="' + data.Id + '">';
                                },
                            },
                            {
                                "targets": [2],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                            //{
                            //    "targets": [7],
                            //    "render": function (data, type, row) {
                            //        return '' + getDate(data) + '';
                            //    },
                            //},
                        ],

                        //"lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"clear">',
                        "drawCallback": function () {
                            $('.datetimepicker').datetimepicker({
                                defaultDate: Date.today(),
                                ignoreReadonly: true,
                                format: 'DD MMM YYYY',
                                //useCurrent: false
                            });
                        }
                    });
                },

                refresh: function () {
                    dt.ajax.reload();

                },

            }

            $('#btnSearch').on("click", function () {
                if (!$.fn.DataTable.isDataTable('#Table'))
                    assetListVM.init();
                else {
                    assetListVM.refresh();
                }


                $('.datetimepicker').datetimepicker({
                    //defaultDate : Date.today(),
                    ignoreReadonly: true,
                    format: 'DD MMM YYYY',
                    useCurrent: false
                });

                $("#TipeProsesHidden").val($("#TipeProses").val());
            });

            $('#Table').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#BtnSave').on("click", function () {
                var ArrayObject = [];

                if ($("#TipeProsesHidden").val() == "") {
                    swal("Error", "Harap tampilkan data terlebih dahulu.", "error");
                    return;
                }

                if ($("#TipeProsesHidden").val() != $("#TipeProses").val()) {
                    swal("Error", "Harap tampilkan data kembali.", "error");
                    return;
                }

                //if ($('#Table > tbody  > tr').length == 1) {
                if (dt.data().count() == 0) {
                    swal("Error", "Data tidak ada yang perlu disimpan.", "error");
                    return;
                }

                $('#Table > tbody  > tr').each(function () {
                    var trCheck = $(this);

                    var CargoLosses =
                  {
                      "Id": trCheck.find("#Id").val(),
                      "TanggalBongkar": trCheck.find("#TanggalBongkar").val(),
                      "KursBeli": trCheck.find("#KursBeli").val(),
                      "PriceRef": trCheck.find("#PriceRef").val(),
                  };
                    ArrayObject.push(CargoLosses);
                });

                LoadingBar();

                $.ajax({
                    url: '@Url.Action("SaveSupplyLossSupply", "SupplyLossSupply")',
                    data: JSON.stringify({ Item: ArrayObject, TipeProses: $("#TipeProses").val() }),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        swal.close();
                        Notifikasi(successMessage());
                        assetListVM.refresh();
                    },
                    error: function (data) {
                        swal("Error", data.statusText, "error");
                        //alert(data.statusText);
                    }
                });
            });

        });

        function TipeProsesChange() {
            if ($("#TipeProses").val() == "Baru")
                $("#TanggalBLDiv").addClass("hidden");
            else if ($("#TipeProses").val() == "Edit")
                $("#TanggalBLDiv").removeClass("hidden");
        }

    </script>

}
