﻿@model ProjectPertamina.Entities.Models.KategoriPejabatSementara

@{
    ViewBag.Title = "Index";
}
<div class="container-content">
    <div class="title-admin">
        Kategori Pejabat Sementara
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                <form class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(i => i.Kategori, htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class="col-md-3">
                                @Html.TextBox("Kategori", "", new { @id = "Kategori", @class = "form-control" })
                                @*@Html.DropDownList("Kategori", new SelectList(ViewBag.Kategori, "Id", "Kategori"), new { @class = "form-control", id = "Kategori" })*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-9">
                                <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row table-header">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("CreateEdit","KategoriPejabatSementara")" id="btnCreate">Add Kategori</button>
            </div>
            <div class="col-md-11">
                @*@Html.Partial("_Alerts")*@
            </div>
        </div>
        <!-- Modal -->

        <table id="KategoriPejabatSementaraTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
        @*@Html.Partial("_CreateEdit")*@
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#KategoriPejabatSementaraTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","KategoriPejabatSementara")",
                            "data": function (data) {
                                //function search
                                data.Kategori = $("#Kategori").val();
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "searchable": true,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("CreateEdit", "KategoriPejabatSementara")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete","KategoriPejabatSementara")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Kategori", "data": "Kategori", "searchable": true, "sortable": false },
                            { "title": "Status", "data": "Status", "searchable": true, "sortable": false }
                        ],
                        "columnDefs": [
                            {
                                "targets": [2],
                                "render": function (data, type, row) {
                                    if (data == true) {
                                        status = "Aktif"
                                    } else {
                                        status = "Tidak Aktif"
                                    }
                                    return status;
                                },
                            },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }

            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#KategoriPejabatSementaraTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#KategoriPejabatSementaraTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

        });

    </script>
}
