﻿@model ProjectPertamina.Presentation.ViewModels.ReportRankViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-content" id="OilMovement">
    <div class="title-admin">
        RANK 10 LOSSES TERBESAR
    </div>
    <div class="isi-content">
        @using (Html.BeginForm("ExportExcel", "ReportRank", FormMethod.Post))
        {
            <div class="row sorting-table">
                <div class="col-md-10">
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Tanggal BL", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalBL, new { @class = "form-control", id = "txtTanggalBlDari", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalBLSampai, new { @class = "form-control", id = "txtTanggalBlSampai", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tampilan R", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    @Html.DropDownListFor(m => m.TampilR, new List<SelectListItem>
                                    {
                                        new SelectListItem() {Text = "R1", Value="R1"},
                                        new SelectListItem() {Text = "R2", Value="R2"},
                                        new SelectListItem() {Text = "R3", Value="R3"},
                                        new SelectListItem() {Text = "R4Nett", Value="R4Nett"},
                                    }, new { @class = "form-control", id = "ddlTampilanR" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tipe Supply Loss", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    @Html.DropDownListFor(m => m.TipeSupplyLoss, new List<SelectListItem>
                                    {
                                        new SelectListItem() {Text = "Supply", Value="Supply"},
                                        new SelectListItem() {Text = "Discharge", Value="Discharge"}
                                    },"Pilih Tipe Supply Loss", new { @class = "form-control", id = "ddlTipeSupplyLoss" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Transport Type", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    @Html.DropDownListFor(m => m.TransportType, new SelectList(ViewBag.ddlTransportType, "Key", "Key"), new { @class = "form-control", id = "ddlTransportType" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Material", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.NamaProduk, "", new { @id = "txtMaterial", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Export Excel" id="btnSubmit" hidden />
        }
        <div>
            <table>
                <tr>
                    <td>
                        <div id="containerBarChart" style="position:center;min-width: 950px; max-width :1050px; height :750px; margin: 0 auto;"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-header">
            <input type="button" class="btn btn-primary btn-sm" value="Export Excel" onclick="return submitClick();" />
        </div>
        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        function submitClick() {
            document.getElementById("btnSubmit").click();
        }
        
        //Table Script
        var assetListVM;

        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#grid').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("Get", "ReportRank")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                data.TampilanR = $('#ddlTampilanR').val();
                                data.TipeSupplyLoss = $("#ddlTipeSupplyLoss").val();
                                data.TransportType = $("#ddlTransportType").val();
                                data.Material = $("#txtMaterial").val();
                                data.TanggalBL = $("#txtTanggalBlDari").val();
                                data.TanggalBLSampai = $("#txtTanggalBlSampai").val();

                            }
                        },
                        "columns": [
                            { "title": "Tipe Supply Loss", "data": "TipeSupplyLoss", "sortable": false },
                            { "title": "Tanggal BL", "data": "BLDate", "sortable": false },
                            { "title": "Transport Name", "data": "TransportName", "sortable": false },
                            { "title": "Material Desc", "data": "MatirialDesc", "sortable": false },
                            { "title": "R1", "data": "R1", "sortable": false },
                            { "title": "%R1", "data": "PercR1", "sortable": false },
                            { "title": "R2", "data": "R2", "sortable": false },
                            { "title": "%R2", "data": "PercR2", "sortable": false },
                            { "title": "R3", "data": "R3", "sortable": false },
                            { "title": "%R3", "data": "PercR3", "sortable": false },
                            { "title": "R4", "data": "R4", "sortable": false }
                        ],
                        "columnDefs": [
                                {
                                    "targets": [1],
                                    "render": function (data, type, row) {
                                        return '' + getDate(data) + '';
                                    },
                                }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $("#btnSearch").on("click", function () {
                assetListVM.refresh();
                drawBarChartAjax();
            });
            assetListVM.init();
            drawBarChartAjax();

        });

    </script>
    <script src="~/Scripts/highcharts.js"></script>
    <script>
        function drawBarChartAjax() {
            var TampilanR = $('#ddlTampilanR').val();
            var TipeSupplyLoss = $("#ddlTipeSupplyLoss").val();
            var TransportType = $("#ddlTransportType").val();
            var Material = $("#txtMaterial").val();
            var TanggalBL = $("#txtTanggalBlDari").val();
            var TanggalBLSampai = $("#txtTanggalBlSampai").val();

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "ReportRank/barchart",
                data: "{TampilanR :'" + TampilanR + "', TipeSupplyLoss:'" + TipeSupplyLoss + "', TransportType :'" + TransportType + "', Material :'" + Material
                       + "',TanggalBL :'" + TanggalBL + "',TanggalBLSampai :'" + TanggalBLSampai + "'}",
                dataType: "json",
                cache: true,
                success: function (Result) {
                    console.log(Result);
                    drawBarChart(Result);
                },
                error: function (Result) {
                    alert("Error");
                }
            });
        }
        function drawBarChart(data) {
            $('#containerBarChart').highcharts({
                chart: {
                    type: 'column',
                    width: 1000,
                    height: 600,
                    inverted: false
                },
                title: {
                    text: data.Title
                },
                subtitle: {
                    text: data.Subtitle
                },
                xAxis: {
                    categories: data.XAxisCategories,
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: data.YAxisTitle
                    }
                    //,labels: {
                    //    overflow: 'justify'
                    //}
                },
                tooltip: {
                    //valueSuffix: data.YAxisTooltipValueSuffix
                },
                plotOptions: {
                    column: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                    shadow: true
                },
                credits: {
                    enabled: false
                },
                series: data.Series
            });
        }
    </script>


}