﻿@using ProjectPertamina.Common

@model ProjectPertamina.Entities.Models.SupplyLoss
@{
    Layout = null;
}
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title Supply Loss</h4>
        </div>
        <form id="FormPopup">
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group required">
                        @Html.LabelFor(model => model.Loading, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-7">
                            @Html.DropDownListFor(i => i.LoadingId, new SelectList(ViewBag.Loading, "Id", "Description"), new { @class = "form-control", id = "Loading" })
                            @*@Html.ValidationMessageFor(model => model.LoadingId, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Keterangan Losses", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            @Html.TextAreaFor(i => i.Keterangan, new { @class = "form-control", id = "Keterangan" })
                        </div>
                    </div>
                    <div class="form-group divgambar" data-provides="fileupload">
                        @Html.Label("Berita Acara", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-7">
                            <input type="file" class="form-control" name="InputBeritaAcara" id="InputBeritaAcara" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"  onclick="Upload()" />
                            <i class="text-danger">Format file .pdf, .xls, .xlxs, .doc, atau .docx</i>
                            @Html.Hidden("Deleted", "false", new { @id = "Deleted" })
                            <br />
                            <label id="DisplayAttachment">@Model.BeritaAcara</label>
                        </div>
                        <label class="btn btn-danger btn-sm" onclick="DeleteAttachment()">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true" />
                        </label>
                    </div>
                    @*<div class="form-group">
                            <div class="col-lg-offset-3  col-md-8">
                                @Html.HiddenFor(i => i.Attachment, new { @id = "HiddenAttachment" })
                                @Html.Hidden("Deleted", "false", new { @id = "Deleted" })
                                <label id="DisplayAttachment">@Model.Attachment</label>

                            </div>
                        </div>*@
                    @*<div class="form-group" data-provides="fileupload">
                            @Html.LabelFor(model => model.Attachment, htmlAttributes: new { @class = "control-label col-md-3 col-sm-2" })
                            <div class="col-md-7 col-sm-11">
                                <input type="file" class="form-control" name="InputAttachment" id="InputAttachment" accept="application/msword, application/vnd.ms-excel, application/pdf"  onclick="Upload()"/>
                                @Html.ValidationMessageFor(model => model.Attachment, "", new { @class = "text-danger" })
                            </div>
                            @if (ViewBag.Title == "Edit")
                            {
                                <label class="btn btn-danger btn-sm" onclick="DeleteAttachment()">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true" />
                                </label>
                            }
                        </div>*@

                    @*<div class="form-group">
                            @Html.LabelFor(model => model.Sumber, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-sm-8">
                                @Html.EditorFor(model => model.Sumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Sumber, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary btn-sm" value="Save" id="ButtonSave" data-url="@Url.Action("Edit","SupplyLoss")" />
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>

</div>

<script>
    $("#ButtonSave").on("click", function () {
        var url = $(this).data("url");

        var data = new FormData();
        var files1 = $("#InputBeritaAcara").get(0).files;
        if (files1.length > 0) {
            data.append("InputBeritaAcara", files1[0]);
        }

        $.ajax({
            url: url + '?' + $("#FormPopup").serialize(),
            type: "POST",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                CreateSuccess(data);
            },
            error: function (err) {
                alert(err.statusText);
            }
        });

    });

    function DeleteAttachment() {
        $("#DisplayAttachment").html("");
        $("#Deleted").val("true");
    }

    function Upload() {
        $("#Deleted").val("false");
    }

    //var uploadField = document.getElementById("InputGambar");

    //uploadField.onchange = function () {
    //    if (this.files[0].size > 2097152) {
    //        alert("Ukuran file terlalu besar !");
    //        this.value = "";
    //    };
    //};

    //var uploadField1 = document.getElementById("InputAttachment");

    //uploadField1.onchange = function () {
    //    if (this.files[0].size > 2097152) {
    //        alert("Ukuran file terlalu besar !");
    //        this.value = "";
    //    };
    //};
    //$(document).ready(function () {
    //    $("#Judul").maxlength();
    //});
</script>