﻿@model string

    @{
        Layout = null;
        ViewBag.Title = "Delete";
    }

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>

            <div class="modal-body">
                <iframe src="@Url.Action("PDFPreview", "SupplyLoss")?NamaFile=' + Model + '" width="550" height="500"> </iframe>
            </div>
        </div>
    </div>
