﻿<div class="container-content">

    <div class="title-admin">
        ADD SUPPLY LOSS
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Tanggal", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("Tanggal", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("TanggalSampai", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.Label("Nama Kapal", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.DropDownList("NamaKapal", new SelectList(ViewBag.NamaKapal), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </div>

            </div>
            @*<input type="hidden" id="hdalertsucces" value="@TempData["MessageSucces"]" />*@
        </div>
        <table id="Table" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
        <div class="row sorting-table" style="margin-top:15px">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group required">
                        @Html.Label("Loading Master", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.DropDownList("Loading", new SelectList(ViewBag.Loading, "Id", "Description"), new { @class = "form-control", id = "Loading" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Keterangan Losses", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.TextArea("Keterangan", new { @class = "form-control", id = "Keterangan" })
                        </div>
                    </div>
                    <div class="form-group divgambar" data-provides="fileupload">
                        @Html.Label("Berita Acara", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            <input type="file" class="form-control" name="InputBeritaAcara" id="InputBeritaAcara" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel" />
                            <i class="text-danger">Format file .pdf, .xls, .xlxs, .doc, atau .docx</i>
                            <p class="text-danger" id="ErrorMsg">@Html.Raw(ViewBag.Error)</p>
                            @Html.ValidationMessage("tes", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-5">
                        <input type="submit" class="btn btn-primary" value="Save" id="BtnSave" />
                        @Html.ActionLink("Back", "Index", "SupplyLoss", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        //Table Script
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#Table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "scrollY": "200px",
                        "ajax": {
                            "url": "@Url.Action("GetSupplyLoss", "SupplyLoss")",
                            //"type": "POST",
                            "data": function (data) {
                                //function search
                                data.NamaKapal = $("#NamaKapal").val();
                                if (Date.parse($("#Tanggal").val()) != null)
                                    data.Tanggal = Date.parse($("#Tanggal").val()).toISOString();
                                if (Date.parse($("#TanggalSampai").val()) != null)
                                    data.TanggalSampai = Date.parse($("#TanggalSampai").val()).toISOString();
                            },
                            "error": function (data) {
                                //swal("Error", data.responseText, "error");

                                swal({
                                    title: "Error",
                                    text: data.responseText,
                                    type: "error"
                                }, function () {
                                    window.location = "@Url.Action("Index", "SupplyLoss")";
                                });
                                //alert(data.statusText);
                            }
                        },
                        "columns": [
                            {
                                "title": "Doc Date",
                                "data": {
                                    "DocDate": "DocDate",
                                    "Id": "Id",
                                    "Type": "Type",
                                    "NamaKapal": "NamaKapal"
                                },
                                "width": "80px",
                                "sortable": false,
                            },
                            { "title": "Doc No", "data": "DocNo", "sortable": false },
                            { "title": "No BL", "data": "NoBL", "sortable": false },
                            { "title": "Nama Kapal", "data": "NamaKapal", "sortable": false },
                            { "title": "Nama Kargo", "data": "NamaKargo", "sortable": false },
                            { "title": "Nilai Toleransi per Kargo", "data": "NilaiToleransi", "sortable": false },
                            { "title": "Berita Acara", "data": "BeritaAcara", "sortable": false },
                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "render": function (data, type, row) {
                                    return getDate(data.DocDate) + "  <input type='hidden' Id='Id' value='" + data.Id + "'> <input type='hidden' Id='Type' value='" + data.Type + "'> <input type='hidden' Id='NamaKapal' value='" + data.NamaKapal + "'> <input type='hidden' Id='DocDate' value='" + data.DocDate + "'>";
                                },
                            },
                                {
                                    "targets": [6],
                                    "render": function (data) {
                                        return '<a class="pdf" href="@Url.Action("GetPDF", "SupplyLoss")?NamaFile=' + data + '" target="_blank"> ' + data + '</a>';
                                    }
                                }
                        ],

                        //"lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"clear">',
                        "drawCallback": function () {
                            $('.datetimepicker').datetimepicker({
                                defaultDate: Date.today(),
                                ignoreReadonly: true,
                                format: 'DD MMM YYYY',
                                //useCurrent: false
                            });
                        }
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }

            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $('#BtnSave').on("click", function () {
                LoadingBar();

                //if ($('#Table > tbody  > tr').length == 1) {
                if (dt.data().count() == 0) {
                    swal("Error", "Data tidak ada. Search terlebih dahulu", "error");
                    return;
                }

                if ($("#Loading").val() == 0) {
                    swal("Error", "Harap isi Loading Master", "error");
                    return;
                }

                //if ($("#Keterangan").val() == "") {
                //    swal("Error", "Harap isi Keterangan Losses", "error");
                //    return;
                //}

                var data1 = new FormData();
                var files1 = $("#InputBeritaAcara").get(0).files;
                if (files1.length > 0) {
                    data1.append("InputBeritaAcara", files1[0]);
                }
                //else {
                //    swal("Error", "Harap masukan Berita Acara.", "error");
                //    return;
                //}

                var i = 0;
                $('#Table > tbody  > tr').each(function () {
                    var trCheck = $(this);

                    data1.append('SupplyLoss[' + i + '].Id', trCheck.find("#Id").val());
                    data1.append('SupplyLoss[' + i + '].Type', trCheck.find("#Type").val());
                    data1.append('SupplyLoss[' + i + '].NamaKapal', trCheck.find("#NamaKapal").val());
                    data1.append('SupplyLoss[' + i + '].Tanggal', getDate(trCheck.find("#DocDate").val()));
                    i++;
                });

                data1.append("Loading", $("#Loading").val());
                data1.append("Keterangan", $("#Keterangan").val());

                //for (var asd of data1.entries()) {
                //    console.log(asd);
                //}
                //console.log("Loading = " + $("#Loading").val());
                //console.log("Keterangan = " + $("#Keterangan").val());

                $.ajax({
                    url: '@Url.Action("SaveSupplyLoss", "SupplyLoss")',
                    data: data1,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        swal.close();
                        Notifikasi(successMessage());
                        assetListVM.refresh();
                    },
                    error: function (data) {
                        swal("Error", data.responseText, "error");
                        //alert(data.statusText);
                    }
                });

            });

        });

    </script>

}
