﻿@model ProjectPertamina.Presentation.ViewModels.SupplyLossViewModel

<div class="container-content">
    <div class="title-admin">
        SUPPLY LOSS
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <form class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(i => i.TanggalDari, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBoxFor(i => i.TanggalDari, "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.LabelFor(i => i.TanggalSampai, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBoxFor(i => i.TanggalSampai, "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(i => i.LoadingMaster, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.DropDownListFor(i => i.LoadingMaster, new SelectList(Model.LoadingMasterList, "Id", "Description"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Keterangan, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBoxFor(i => i.Keterangan, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </div>
            </form>
        </div>


        @if (ViewBag.Create == true)
            {
            <div class="table-header">
                <input type="button" class="btn btn-primary btn-sm" value="Add Supply Loss" onclick="location.href='@Url.Action("CreateEdit", "SupplyLoss")'" />
            </div>
        }
        <input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
        <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />
        <table id="Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>


<script>
    //Table Script
    var assetListVM;
    //Login
    var edit = $('#hdActionedit').val();
    var hapus = $('#hdActiondelete').val();
    var visible = true;
    if (edit == "False" && hapus == "False")
        visible = false;
    //Login
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#Table').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "searching": false,
                    "ordering": false,
                    "ajax": {
                        "url": "@Url.Action("Get","SupplyLoss")",
                        "data": function (data) {
                            //function search
                            data.LoadingId = $("#LoadingMaster").val();
                            data.Keterangan = $("#Keterangan").val();
                            if (Date.parse($("#TanggalDari").val()) != null)
                                data.TanggalDari = Date.parse($("#TanggalDari").val()).toISOString();
                            if (Date.parse($("#TanggalSampai").val()) != null)
                                data.TanggalDari = Date.parse($("#TanggalSampai").val()).toISOString();
                        }
                    },
                    // "columnDefs": [
                    //     {
                    //         "targets": [0],
                    //         "visible": visible
                    //     },
                    // ],
                    "columns": [
                        {
                            "className": "dt-center",
                            "width": "100px",
                            "title": "<span class='glyphicon glyphicon-cog'></span>",
                            "data": "Id",
                            "sortable": false,
                            "render": function (data, type, full, meta) {
                                var action = "";
                                if (edit == "True") {
                                    action = '<a class="btn btn-primary btn-sm editAsset" href="@Url.Action("Edit", "SupplyLoss")?Id=' + data + '"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>';
                                }
                                if (hapus == "True") {
                                    action = action + ' <a href="@Url.Action("Delete", "SupplyLoss")?Id=' + data + '" class="delete btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                                return action;
                                @*return '<a class="btn btn-primary btn-sm editAsset" href="@Url.Action("Edit", "SupplyLoss")?Id=' + data + '"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> ' +
                                '<a href="@Url.Action("Delete", "SupplyLoss")?Id=' + data + '" class="delete btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';*@

                            }
                        },
                        { "title": "Tanggal", "data": "Tanggal", "sortable": false },
                        { "title": "Loading Master", "data": "LoadingMaster", "sortable": false },
                        { "title": "Keterangan Losses", "data": "KeteranganLosses", "sortable": false },
                        { "title": "Berita Acara", "data": "BeritaAcara", "sortable": false },

                    ],
                    "columnDefs": [
                        {
                            "targets": [0],
                            "visible": visible
                        },
                            {
                                "targets": [1],
                                "render": function (data, type, row) {
                                    return getDate(data);
                                },
                            },
                             {
                                 "targets": [4],
                                 "render": function (data) {
                                     return '<a class="pdf" href="@Url.Action("GetPDF", "SupplyLoss")?NamaFile=' + data + '" target="_blank"> ' + data + '</a>';
                                 }
                             }
                    ],
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "dom": '<"top">rt<"bottom"lip><"clear">'
                });
            },

            refresh: function () {
                dt.ajax.reload();
            }
        }
        $('#btnSearch').on("click", assetListVM.refresh);

        assetListVM.init();

        $("#btnCreate").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $("#btnUploadExcel").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#Table').on("click", ".editAsset", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#Table').on("click", ".delete", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

    });
</script>