﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Get", "Role", FormMethod.Get, new { id = "frmSearch", @class = "form-horizontal", role = "form" }))
{

    <div class="modal-body">
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.Label("lblDescription", "Role Name", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8">
                    @Html.TextBox("txtDescription", null, new { @class = "form-control" })
                    @Html.TextBox("asd", null, new { @class = "form-control", @style = "display:none;" })

                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button id="btnPerformAdvancedSearch" type="button" class="btn btn-default btn-success" data-dismiss="modal">Search</button>
        <button id="btnCancel" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
}
<button type="button" class="btn btn-default btn-md" data-toggle="modal" data-url="@Url.Action("Create","Role")" id="btnCreate">
    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span> Add Asset
</button>
<div class="row">
    <div class="panel-body">
        <table id="RoleTable" class="table table-striped table-bordered" style="width:100%;"></table>
    </div>
</div>
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        var roleList;
        $(function () {
            roleList = {
                dt: null,

                init: function () {
                    dt = $('#RoleTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ordering": false,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","Role")",
                            "data": function (data) {
                                //function search
                                data.Description = $("#txtDescription").val();
                            }
                        },
                        "columns": [
                            { "title": "Role Name", "data": "RoleName", "searchable": true },
                            {
                                "title": "Actions",
                                "data": "Id",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Edit","Role")?id=' + data + '" class="editAsset">Edit</a>  | <a href="@Url.Action("Delete","Role")?Id=' + data + '" class="delete">Delete</a>';
                                }
                            }
                        ],
                        "lengthMenu": [[2, 25, 50, 100], [10, 25, 50, 100]],
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }

            $('#btnPerformAdvancedSearch').on("click", roleList.refresh);

            roleList.init();



            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#RoleTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#RoleTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

        });

        function CreateSuccess(data) {

            if (data != "success") {
                $('#createContainer').html(data);
                return;
            }
            alert("Save has been success...")
            $('#createModal').modal('hide');
            $('#createContainer').html("");
            roleList.refresh();

        }

        function UpdateSuccess(data) {

            if (data != "success") {
                $('#createContainer').html(data);
                return;
            }
            alert("Update has been success...")
            $('#createModal').modal('hide');
            $('#createContainer').html("");
            roleList.refresh();

        }

        function DeleteSuccess(data) {

            if (data != "success") {
                $('#createContainer').html(data);
                return;
            }
            $('#createModal').modal('hide');
            $('#createContainer').html("");
            roleList.refresh();

        }


    </script>
}

