﻿@using ProjectPertamina.Presentation.Common
<!DOCTYPE html>
<html>
<head>
    <title>Oil Custody</title>
    <link href="~/Content/Image/pertamina.ico"rel="shortcut icon" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="body-container">
        <div class="row container-fluid">
            <div class="col-md-6 header-left">
                <img class="logo" src="~/Content/Image/logo.png" />
            </div>
            @*<div class="col-md-6 header-right">
                <div id="OilCustody">
                    <b>OIL CUSTODY INFORMATION SYSTEM </b>
                </div>
            </div>*@
            <div class="col-md-6 header-right" style="padding:0px">
                <div class="col-md-10 menuakun">
                    <div class="dropdown" id="accountmenu">
                        Welcome, @User.Identity.Name
                    </div>
                    <div id="OilCustody">
                        <b>OIL CUSTODY INFORMATION SYSTEM</b>
                    </div>
                </div>
                <div class="col-md-2 img-logo">
                    <img src="~/Content/Image/userlogo.png" />
                    @*<i class="glyphicon glyphicon-user logo-green"></i>
                <i class="glyphicon glyphicon-user logo-blue"></i>
                <i class="glyphicon glyphicon-user logo-red"></i>*@
                </div>
            </div>
        </div>
        <div class="row header-menu">
            <ul class="nav navbar-nav">
                @Html.Raw(Html.Menu("navbar-nav", "WEB OIL CUSTODY"))
                @*<li class="active">@Html.ActionLink("HOME", "Index", "Home")</li>
                    <li class="active">@Html.ActionLink("ROAS", "Index", "Profile")</li>
                    <li class="dropdown header-menu-dropdown">
                        @Html.ActionLink("OIL CUSTODY", null, null, null, new { @class = "dropdown-toggle" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Finance - Pipa", "Index", "FinancePipa", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Finance - Jetty", "Index", "FinanceJetty", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Finance - Tangki", "Index", "FinanceTangki", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Oil Movement", "Index", "OilMovement", null, new { @class = "dropdown-toggle" })</li>
                        </ul>
                    </li>
                    <li class="dropdown header-menu-dropdown">
                        @Html.ActionLink("SUPPLY LOSS", null, null, null, new { @class = "dropdown-toggle" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cargo Losses", "Index", "KategoriBerita", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Supply Loss Supply", "Index", "Berita", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Supply Loss Discharge", "Index", "Berita", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Kertas Kerja Supply Loss", "Index", "Berita", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Supply Loss", "Index", "Berita", null, new { @class = "dropdown-toggle" })</li>
                        </ul>
                    </li>
                    <li class="active">@Html.ActionLink("LAPORAN", "Index", "Produk")</li>
                    <li class="dropdown header-menu-dropdown">
                        @Html.ActionLink("MASTER", null, null, null, new { @class = "dropdown-toggle" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cargo", "Index", "Cargo", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Port", "Index", "Port", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Nilai", "Index", "Nilai", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("PIC Keuangan", "Index", "PICKeuangan", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Loading", "Index", "Loading", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Shift", "Index", "Shift", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("Tangki", "Index", "Tangki", null, new { @class = "dropdown-toggle" })</li>
                            <li>@Html.ActionLink("PIC Loading Master", "Index", "PICLoadingMaster", null, new { @class = "dropdown-toggle" })</li>
                        </ul>
                    </li>*@
            </ul>
        </div>
        <div class="row bottom-content">
            @RenderBody()
        </div>
        <div class="row border-footer">
            <div class="col-md-4 red"></div>
            <div class="col-md-4 green"></div>
            <div class="col-md-4 blue"></div>
        </div>
        <div class="row footer">
            <div style="float:left">
                PT. Pertamina (Persero) Refinery Unit II<br />
                JL Raya Kilang Putri Tujuh, 28815, Tj. Palas, Dumai Timur, Kota Dumai<br />
                Riau<br />
                Phone : (0765) 31244<br />
            </div>
            <div style="float:right; text-align:right;">
                Hak Cipta &copy;  2017 Pertamina<br />
                Corporate Shared Service <br />
                Email : helpdesk.ru2@pertamina.com<br />
                Phone : 6666<br />
            </div>
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
        <div id="createContainer">
        </div>
    </div>
    <div id="NotificationBox" class="notificationbox" style="display: none;width:100%;">
        <label id="message" style="color:yellow;" for="message"></label>
    </div>
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusiveajax")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/datatables")
    @Styles.Render("~/Content/datetimepicker")
    @Scripts.Render("~/bundles/datetimepicker")
    @Scripts.Render("~/bundles/datejs")
    @Scripts.Render("~/bundles/accountingjs")
    @Styles.Render("~/Content/sweetalert")
    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/bundles/jquerymask")
    @*@Scripts.Render("~/bundles/datatablesFixColumns")*@

    @RenderSection("scripts", required: false)
</body>
</html>
