﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="row container-fluid">
        <div class="col-md-6 header-left">
            <img class="logo" src="~/Content/Image/logo.png" />
        </div>
        <div class="col-md-6" style="padding:0px">
            <p style="text-align:right">Welcome Firda</p>
            <input class="form-control input-sm top-search" type="text" placeholder="Cari Artikel">
        </div>
    </div>
    <div class="row header-menu">

    </div>
    <div class="row top-content">
        <div class="col-md-10 slider">
            <div id="sliderCampaign" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#sliderCampaign" data-slide-to="0" class="active"></li>
                    <li data-target="#sliderCampaign" data-slide-to="1"></li>
                    <li data-target="#sliderCampaign" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Image/Campigne-1.jpg" />
                    </div>

                    <div class="item">
                        <img src="~/Content/Image/Campigne-2.jpg" />
                    </div>

                    <div class="item">
                        <img src="~/Content/Image/Campigne-3.jpg" />
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#sliderCampaign" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#sliderCampaign" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-2 logo-app">
            <div class="container-logo-app">
                <img class="gambar-logo-app" src="~/Content/Image/logo.png" />
            </div>
            <div class="container-logo-app">
                <img class="gambar-logo-app" src="~/Content/Image/logo.png" />
            </div>
            <div class="container-logo-app">
                <img class="gambar-logo-app" src="~/Content/Image/logo.png" />
            </div>
            <div class="container-logo-app">
                <img class="gambar-logo-app" src="~/Content/Image/logo.png" />
            </div>
            <div class="container-logo-app">
                <img class="gambar-logo-app" src="~/Content/Image/logo.png" />
            </div>
        </div>
    </div>
    <div class="row bottom-content">
        <div class="col-md-2 left-content">
            <div class="pejabat-sementara">
                <div class="title">
                    PEJABAT SEMENTARA
                </div>
                <div id="sliderPejabatSementara" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#sliderPejabatSementara" data-slide-to="0" class="active"></li>
                        <li data-target="#sliderPejabatSementara" data-slide-to="1"></li>
                        <li data-target="#sliderPejabatSementara" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/Content/Image/pejabat_1.jpg" alt="Los Angeles" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="~/Content/Image/pejabat_1.jpg" alt="Chicago" style="width:100%;">
                        </div>

                        <div class="item">
                            <img src="~/Content/Image/pejabat_1.jpg" alt="New york" style="width:100%;">
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#sliderPejabatSementara" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#sliderPejabatSementara" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="nama-pejabat">
                    <p>Nama Pejabat</p>
                    <p>Jabatan</p>
                </div>
            </div>
            <div class="time-on-duty">
                <div class="title">
                    TIM ON DUTY
                </div>
                <p>Januari - Juli Tim Management</p>
                <p>Januari - Juli Tim Management</p>
                <p>Januari - Juli Tim Management</p>
            </div>
            <div class="broadcast">
                <div class="title">
                    BROADCAST
                </div>
                <div id="sliderBroadcast" class="carousel slide vertical">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <img src="~/Content/Image/Campigne-1.jpg" />
                        </div>
                        <div class="item">
                            <img src="~/Content/Image/broadcast-1.jpg" />
                        </div>
                        <div class="item">
                            <img src="~/Content/Image/Campigne-2.jpg" />
                        </div>
                    </div>

                    <!-- Carousel nav -->
                    <a class="left carousel-control" href="#sliderBroadcast" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                    <a class="right carousel-control" href="#sliderBroadcast" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>

                </div>
            </div>
            <div class="surat-edaran">
                <div class="title">
                    SURAT EDARAN
                </div>
                <div class="isi-surat">
                    <p>Surat abcd</p>
                    <p>Surat abcd</p>
                    <p>Surat abcd</p>
                    <p>Surat abcd</p>
                    <p>Surat abcd</p>
                </div>
            </div>
        </div>
        <div class="col-md-8 middle-content">
            @RenderBody()
        </div>
        <div class="col-md-2 right-content">
            <div class="energia">
                <img src="~/Content/Image/logo_energia.png" />
            </div>
            <div class="rapat-hari-ini">
                <div class="title">
                    RAPAT HARI INI
                </div>
                <div class="isi-rapat">
                    <p>Hari Ini :</p>
                    <p>Rapat Penyelenggaraan Acara Agustusan 2017</p>
                    <p>Rapat Penyerahan Jabatan</p>
                    <p>Rapat Pembangunan Kilang Minyak 2017-2018</p>
                    <p>Rapat Acara Penyambutan Presiden Joko Widodo bersama syukuran</p>
                    <hr />
                    <p>Besok :</p>
                    <p>Rapat Penyelenggaraan Acara Agustusan 2017</p>
                    <p>Rapat Penyerahan Jabatan</p>
                    <p>Rapat Pembangunan Kilang Minyak 2017-2018</p>
                    <p>Rapat Acara Penyambutan Presiden Joko Widodo bersama syukuran</p>
                </div>
            </div>
            <div class="telepon-penting">
                <div class="title">
                    NOMOR TELEPON PENTING
                </div>
                <p>Nomor Telepon 0xx - xxxxxx</p>
                <p>Nomor Telepon 0xx - xxxxxx</p>
                <p>Nomor Telepon 0xx - xxxxxx</p>
                <p>Nomor Telepon 0xx - xxxxxx</p>
                <p>Nomor Telepon 0xx - xxxxxx</p>
                <p>Nomor Telepon 0xx - xxxxxx</p>
                <p>Nomor Telepon 0xx - xxxxxx</p>
            </div>

        </div>

    </div>
    <div class="row border-footer">
        <div class="col-md-4 red"></div>
        <div class="col-md-4 green"></div>
        <div class="col-md-4 blue"></div>
    </div>
    <div class="row footer">
        <div class="col-md-4">
            <p>PT. PERTAMINA Refenery Unit II</p>
            <p>JL Raya Kilang Putri Tujuh, 28815, Tj. Palas, Dumai Tim., Kota Dumai, Riau</p>
            <p>(0765) 31244</p>
        </div>
        <div class="col-md-4 col-md-offset-4 text-right">
            <p class="text-footer">Hak Cipta &copy;  2012 PT Pertamina. Semua Hak telah Diberikan</p>

        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
