﻿<!-- line modal -->
<div class="modal fade" id="@ViewBag.ID" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @RenderBody()
        </div>
    </div>
</div>

