﻿@using ProjectPertamina.Common

@model ProjectPertamina.Entities.Models.SuratEdaran
@{
    Layout = null;
}
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title Surat Edaran</h4>
        </div>
        <form id="FormPopup">
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.UpdatedDate)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Judul, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Judul, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Judul, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-3  col-md-8">
                            @Html.HiddenFor(i => i.Gambar)
                            <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.SuratEdaran, ImageName = Model.Gambar })" class="img-responsive img-popup" />
                        </div>
                    </div>
                    <div class="form-group" data-provides="fileupload">
                        @Html.LabelFor(model => model.Gambar, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            <input type="file" class="form-control" name="InputGambar" id="InputGambar" accept="image/x-png,image/gif,image/jpeg" />
                            @Html.ValidationMessageFor(model => model.Gambar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-offset-3  col-md-8">
                            @Html.HiddenFor(i => i.Attachment, new { @id = "HiddenAttachment" })
                            @Html.Hidden("Deleted", "false", new { @id = "Deleted" })
                            <label id="DisplayAttachment">@Model.Attachment</label>
                        </div>
                    </div>
                    <div class="form-group" data-provides="fileupload">
                        @Html.LabelFor(model => model.Attachment, htmlAttributes: new { @class = "control-label col-md-3 col-sm-2" })
                        <div class="col-md-7 col-sm-11">
                            <input type="file" class="form-control" name="InputAttachment" id="InputAttachment" accept="application/msword, application/vnd.ms-excel, application/pdf"  onclick="Upload()"/>
                            @Html.ValidationMessageFor(model => model.Attachment, "", new { @class = "text-danger" })
                        </div>
                        @if (ViewBag.Title == "Edit")
                        {
                            <label class="btn btn-danger btn-sm" onclick="DeleteAttachment()">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true" />
                            </label>
                        }
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Sumber, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Sumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary btn-sm" value="Save" id="ButtonSave" data-url="@Url.Action("CreateEdit","SuratEdaran")" />
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>

</div>

<script>
    $("#ButtonSave").on("click", function () {
        var url = $(this).data("url");

        var data = new FormData();
        var files1 = $("#InputGambar").get(0).files;
        var files2 = $("#InputAttachment").get(0).files;
        if (files1.length > 0) {
            data.append("InputGambar", files1[0]);
        }
        if (files2.length > 0) {
            data.append("InputAttachment", files2[0]);
        }

        $.ajax({
            url: url + '?' + $("#FormPopup").serialize(),
            type: "POST",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                CreateSuccess(data);
            },
            error: function (err) {
                alert(err.statusText);
            }
        });

    });

    function DeleteAttachment() {
        $("#DisplayAttachment").html("");
        $("#Deleted").val("true");
    }

    function Upload() {
        $("#Deleted").val("false");
    }
</script>