﻿@using ProjectPertamina.Common;
@model IEnumerable<ProjectPertamina.Entities.Models.TimOnDuty>
<div class="container-content">
    <div class="title">
        TEAM ON DUTY
    </div>
    @foreach (var item in Model)
    {
        <div class="isi-content">
            <h5><strong>@item.Judul.ToUpper()</strong></h5>
            @if (item.Gambar != null)
            {
                <p><img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.TeamOnDuty, ImageName = item.Gambar })" /></p>
            }
            else
            {
            }

            @if (item.Attachment != null)
            {
                @Html.ActionLink("Download", "Download", "TimOnDuty", new { file = item.Attachment}, null);
                <p><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> @item.Judul</p>
            }
            else
            {
            }
        </div>
        
    }
</div>