﻿@model ProjectPertamina.Entities.Models.NoTelp

<div class="container-content">
    <div class="title-admin">
        No Telepon
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                <form class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(i => i.Judul, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(i => i.Judul, new { @class = "form-control", id = "Judul" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.Telp, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(i => i.Telp, new { @class = "form-control", id = "Telp" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row table-header">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-url="@Url.Action("Create","NoTelp")" id="btnCreate">Add No Telp</button>
            </div>
        </div>
        <div class="row">
            <div class="panel-body">
                <table id="NoTelpTable" class="table table-striped table-bordered" style="width:100%;"></table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#NoTelpTable').DataTable({
                        "ordering": false,
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","NoTelp")",
                            "data": function (data) {
                                //function search
                                data.Judul = $("#Judul").val();
                                data.Telepon = $("#Telp").val();
                            }
                        },
                        "columns": [
                            {
                                "title": "",
                                "data": "Id",
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "searchable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Create", "NoTelp")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> <a href="@Url.Action("Delete","NoTelp")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Deskripsi", "data": "Judul", "sortable": false },
                            { "title": "No. Telp", "data": "NoTelp", "sortable": false },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }

            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#NoTelpTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#NoTelpTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

        });

    </script>
}
