﻿
@{
    Layout = null;
}

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">ERROR</h4>
        </div>
        <form id="FormPopup">
            <div class="modal-body">
                <div class="form-horizontal">
                    <h4>Proses upload gagal. Ditemukan satu atau lebih data yang sudah tersimpan di database. Mohon upload data yang baru.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Ok</button>
            </div>
        </form>
    </div>
</div>

