﻿@model ProjectPertamina.Presentation.ViewModels.ReportAnalisaDischargeLossViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-content" id="OilMovement">
    <div class="title-admin">
        ANALISA DISCHARGE LOSS
    </div>
    <div class="isi-content">
        @using (Html.BeginForm("ExportExcel", "ReportAnalisaDischargeLoss", FormMethod.Post))
        {
            <div class="row sorting-table">
                <div class="col-md-10">

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Tanggal BL", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalBL, new { @class = "form-control", id = "txtTanggalBlDari", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.TanggalBLSampai, new { @class = "form-control", id = "txtTanggalBlSampai", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Shipment Number", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.ShipmentNo, "", new { @id = "txtShipmentNo", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Material", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.Material, "", new { @id = "txtMaterial", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Export Excel" id="btnSubmit" hidden />
        }

        <div class="table-header">
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Upload", "ReportAnalisaDischargeLoss")" id="btnUploadExcel">Upload SAP Supply Loss</button> &nbsp;
            <button type="button" class="btn btn-primary btn-sm" id="ButtonDownload">Download Template</button> &nbsp;
            <input type="button" class="btn btn-primary btn-sm" value="Export Excel" onclick="return submitClick();" />
        </div>
        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>
<input type="hidden" id="hdalertfailed" value="@TempData["MessageFailed"]" />


@section Scripts{
    <script>
        $(document).ready(function () {
            var notifFailed = $('#hdalertfailed').val();
            if (notifFailed != '')
            { swal("Failed", notifFailed, "error"); }
        });
    </script>

    <script type="text/javascript">

        $("#ButtonDownload").on("click", function (e) {
            e.preventDefault();  //stop the browser from following
            window.location.href = 'ExcelTemplate/ReportAnalisaDischargeLoss_Template.xlsx';
        });

        function submitClick() {
            document.getElementById("btnSubmit").click();
        }

        $("#btnUploadExcel").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        //Table Script
        var assetListVM;

        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#grid').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("Get", "ReportAnalisaDischargeLoss")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                data.vShipmentNumber = $("#txtShipmentNo").val();
                                data.vMaterial = $("#txtMaterial").val();
                                data.TanggalBL = $("#txtTanggalBlDari").val();
                                data.TanggalBLSampai = $("#txtTanggalBlSampai").val();
                            }
                        },
                        "columns": [
                            { "title": "No Shipment", "data": "NoShipment", "sortable": false },
                            { "title": "Region", "data": "Region", "sortable": false },
                            { "title": "Last Disc. Port", "data": "LastDiscPort", "sortable": false },
                            { "title": "Material Number", "data": "MaterialNumber", "sortable": false },
                            { "title": "UoM", "data": "UoM", "sortable": false },
                            { "title": "B/L SAP", "data": "BL_SAP", "sortable": false },
                            { "title": "SFAL SAP", "data": "SFAL_SAP", "sortable": false },
                            { "title": "SFBD SAP", "data": "SFBD_SAP", "sortable": false },
                        ],

                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $("#btnSearch").on("click", function () {
                assetListVM.refresh();
            });
            assetListVM.init();
        });

    </script>

}