﻿
@using ProjectPertamina.Common
@model ProjectPertamina.Presentation.ViewModels.UploadBeritaAcaraViewModel

@{
    Layout = null;
}

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">UPLOAD BERITA ACARA</h4>
            </div>
            <form id="FormPopup">
                <div class="modal-body">
                    <div class="form-horizontal required">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("Bulan", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class='col-md-3'>
                                @Html.DropDownListFor(x => x.Bulan, new SelectList(ViewBag.ddlBulan, "Value", "Text"), new { @class = "form-control", id = "ddlBulanUpload" })
                                <p class="text-danger" id="BulanMsg">@Html.Raw(ViewBag.Error)</p>
                            </div>
                        </div>
                        <div class="form-group required">
                            @Html.Label("Tahun", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class='col-md-3'>
                                @Html.DropDownListFor(x => x.Tahun, new SelectList(ViewBag.ddlTahun, "Value", "Text"), new { @class = "form-control", id = "ddlTahunUpload" })
                                <p class="text-danger" id="TahunMsg">@Html.Raw(ViewBag.Error)</p>
                            </div>
                        </div>

                        <div class="form-group required divgambar" data-provides="fileupload">
                            @Html.Label("BeritaAcara", "Berita Acara", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-8">
                                <input type="file" class="form-control" name="InputBeritaAcara" id="InputBeritaAcara" accept="application/pdf,application/msword" />
                                <p class="text-danger" >* .pdf</p>
                                <p class="text-danger" id="ErrorMsg">@Html.Raw(ViewBag.Error)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary btn-sm" value="Save" id="ButtonSave" />
                    <button type="button" id="ButtonCancelUpload" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
     //Untuk Handling ModalUpload
        $("#ButtonSave").on("click", function () {
            console.log($("#Bulan").val());
            if ($("#ddlBulanUpload").val() <= 0) {
                $("#BulanMsg").html("Bulan harus diisi");
            }
            else {
                $("#BulanMsg").html("");
            }

            if ($("#ddlTahunUpload").val() <= 0) {
                $("#TahunMsg").html("Tahun harus diisi");
            }
            else {
                $("#TahunMsg").html("");
            }

            

            var data = new FormData();
            var files1 = $("#InputBeritaAcara").get(0).files;
            if (files1.length > 0) {
                data.append("UploadBeritaAcara", files1[0]);
            }
            else {
                $("#ErrorMsg").html("Harap masukan file pdf");
            }

            if ($("#ddlBulanUpload").val() <= 0 || $("#ddlTahunUpload").val() <= 0 || files1.length <= 0) {
                return;
            }
            data.append("Bulan", $("#ddlBulanUpload").val());
            data.append("Tahun", $("#ddlTahunUpload").val());

            LoadingBar();

            $.ajax({
                url: '@Url.Action("SaveBeritaAcara", "UploadBeritaAcara")',
                type: "POST",
                data: data,
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.Message.includes("Failed"))
                    {
                        swal("Error", data.Message, "error");
                    } else
                    {
                        swal("Success", data.Message, "success");
                        assetListVM.refresh();
                        document.getElementById("ButtonCancelUpload").click();
                    }
                    
                },
                error: function (data) {
                    swal("Error", data.responseText, "error");
                    //alert(data.statusText);
                }
            });

        });

    </script>
