﻿@model ProjectPertamina.Presentation.ViewModels.UploadBeritaAcaraViewModel
<div class="container-content">
    <div class="title-admin">
        UPLOAD BERITA ACARA
    </div>
    <div class="isi-content">
        @*@using (Html.BeginForm("Get", "UploadBeritaAcara", FormMethod.Post))
            {*@
        <div class="row sorting-table">
            <div class="col-md-10">

                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Bulan", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class='col-md-3'>
                                @Html.DropDownListFor(x => x.Bulan, new SelectList(ViewBag.ddlBulan, "Value", "Text"), new { @class = "form-control", id = "ddlBulan" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Tahun", htmlAttributes: new { @class = "control-label col-md-1" })
                            <div class='col-md-3'>
                                @Html.DropDownListFor(x => x.Tahun, new SelectList(ViewBag.ddlTahun, "Value", "Text"), new { @class = "form-control", id = "ddlTahun" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-1 col-md-9">
                                <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* } *@
        @if (ViewBag.Create == true)
        {
            <div class="table-header">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Upload", "UploadBeritaAcara")" id="btnUpload">Upload Berita Acara</button>
            </div>
        }
        <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />
        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

        $("#btnUpload").on("click", function () {
            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });
        });

        //Table Script
        var assetListVM;
        var hapus = $('#hdActiondelete').val();
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#grid').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("Get", "UploadBeritaAcara")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                data.vBulan = $("#ddlBulan").val();
                                data.vTahun = $("#ddlTahun").val();
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "searchable": false,
                                "sortable": false,
                                "width": "10%",
                                "render": function (data, type, full, meta) {
                                    var action = "";
                                    if (hapus == "True") {
                                        action = action + ' <a href="@Url.Action("Delete", "UploadBeritaAcara")?Id=' + data + '" class="delete btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                    }
                                    return action;
                                }
                            },
                            { "title": "Bulan", "data": "NamaBulan", "sortable": false },
                            { "title": "Tahun", "data": "Tahun", "sortable": false },
                            {
                                "title": "Nama Dokumen", "data": "NamaDokumen", "sortable": false,
                                "render": function (data) {
                                    return '<a class="pdf" href="@Url.Action("GetPDF", "SupplyLoss")?NamaFile=' + data + '" target="_blank"> ' + data + '</a>';
                                }
                            },
                        ],

                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $("#btnSearch").on("click", function () {
                assetListVM.refresh();
            });
            assetListVM.init();

            $('#grid').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

        });

        function getbyID(BeritaAcaraID) {
            $.ajax({
                url: "/UploadBeritaAcara/getByID/" + BeritaAcaraID,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    $('#txtDelete').val('( ' + result.NamaBulan + ' ' + result.Tahun + ' )' + ' ?');
                    $('#hiddenID').val(result.Id);
                },
                error: function (result) {
                    swal("Failed", result.Message, "error");
                    //Notifikasi(result.Message);
                }
            });
        }

        //function deleteUploadBeritaAcara(hiddenID) {
        //    $.ajax({
        //        url: "/UploadBeritaAcara/DeleteUploadBeritaAcara/" + document.getElementById(hiddenID).value,
        //        type: "POST",
        //        contentType: "application/json;charset=UTF-8",
        //        dataType: "json",
        //        success: function (result) {
        //            assetListVM.refresh();//Reload Data

        //            $('#modalDelete').modal('hide');
        //            swal("Success", result.Message, "success");
        //            //Notifikasi(result.Message);
        //        },
        //        error: function (result) {
        //            $('#modalDelete').modal('hide');
        //            swal("Failed", result.responseJSON.Message, "error");
        //            //Notifikasi(result.responseJSON.Message);
        //        }
        //    });
        //}

    </script>

}