﻿@model ProjectPertamina.Presentation.ViewModels.RoasViewModel

<div class="container-content">
    <div class="title-admin">
        ROAS
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <form class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(i => i.TanggalDari, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBoxFor(i => i.TanggalDari, new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.LabelFor(i => i.TanggalSampai, htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBoxFor(i => i.TanggalSampai, new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.KodeOprSelected, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-5'>
                            @Html.DropDownListFor(i => i.KodeOprSelected, new SelectList(Model.KodeOpr), "", new { @class = "form-control" ,id= "KodeOprSelectedId" })
                            @*@Html.ValidationMessageFor(model => model.KodeOpr, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.TipeTransportSelected, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-5'>
                            @Html.DropDownListFor(i => i.TipeTransportSelected, new SelectList(Model.TipeTransport), "", new { @class = "form-control", id = "TipeTransportSelectedId" })
                            @*@Html.ValidationMessageFor(model => model.KodeOpr, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(i => i.TransportSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-5'>
                            @Html.DropDownListFor(i => i.TransportSelected, new SelectList(Model.Transport), "", new { @class = "form-control", id = "TransportSelectedId" })
                            @*@Html.ValidationMessageFor(model => model.KodeOpr, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.AsalTujuanSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-5'>
                            @Html.DropDownListFor(i => i.AsalTujuanSelected, new SelectList(Model.AsalTujuan), "", new { @class = "form-control", id = "AsalTujuanSelectedId" })
                            @*@Html.ValidationMessageFor(model => model.KodeOpr, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.ProdukSelected, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class='col-md-5'>
                            @Html.DropDownListFor(i => i.ProdukSelected, new SelectList(Model.Produk), "", new { @class = "form-control", id = "ProdukSelectedId" })
                            @*@Html.ValidationMessageFor(model => model.KodeOpr, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                </div>
            </form>
        </div>
        @*@if (ViewBag.Create == true)
        {*@
            <div class="table-header">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Upload", "Roas")" id="btnUploadExcel">Upload ROAS</button>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" id="ButtonDownload">Download Template</button>
            </div>
@*        }*@
        @*<input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
            <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />*@
        <table id="Table" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

<script type="text/javascript">
    $("#ButtonSave").on("click", function () {
        var url = $(this).data("url");

        var data = new FormData();
        var files1 = $("#InputExcel").get(0).files;
        if (files1.length > 0) {
            data.append("FileUpload", files1[0]);
        }
        else {
            $("#ErrorMsg").html("Harap masukan file Excel");
            return;
        }

        $.ajax({
            url: url + '?' + $("#FormPopup").serialize(),
            type: "POST",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                CreateSuccess(data);
            },
            error: function (err) {
                alert(err.statusText);
            }
        });

    });

    //Table Script
    var assetListVM;
    //var edit = $('#hdActionedit').val();
    //var hapus = $('#hdActiondelete').val();
    //var visible = true;
    //if (edit == "False" && hapus == "False")
    //    visible = false;
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#Table').removeAttr('width').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "searching": false,
                    "ordering": false,
                    "ajax": {
                        "url": "@Url.Action("Get","Roas")",
                        "type": "POST",
                        "data": function (data) {
                            //function search
                            if (Date.parse($("#TanggalDari").val()) != null)
                                data.TanggalDari = Date.parse($("#TanggalDari").val()).toISOString();
                            if (Date.parse($("#TanggalSampai").val()) != null)
                                data.TanggalSampai = Date.parse($("#TanggalSampai").val()).toISOString();
                            data.KodeOpr = $("#KodeOprSelectedId").val();
                            data.TipeTransport = $("#TipeTransportSelectedId").val();
                            data.TransportName = $("#TransportSelectedId").val();
                            data.AsalTujuan = $("#AsalTujuanSelectedId").val();
                            data.NamaProduk = $("#ProdukSelectedId").val();
                        }
                    },
                    "scrollX": true,
                    "columnDefs": [
                    //    {
                    //        "targets": [0],
                    //        "visible": visible
                    //    },
                        {
                            "targets": [1],
                            "render": function (data, type, row) {
                                if (data != null) {
                                    return moment(data).format('DD MMM YYYY');

                                }
                                else {
                                    return '-';
                                }
                            },
                        },
                        {
                            "targets": [4],
                            "render": function (data, type, row) {
                                if (data != null) {
                                    return moment(data).format('DD MMM YYYY');

                                }
                                else {
                                    return '-';
                                }
                            },
                        },
                        {
                            "targets": [49],
                            "render": function (data, type, row) {
                                if (data != null) {
                                    return moment(data).format('DD MMM YYYY');

                                }
                                else {
                                    return '-';
                                }
                            },
                        },
                        {
                            "targets": [51],
                            "render": function (data, type, row) {
                                if (data != null) {
                                    return moment(data).format('DD MMM YYYY');

                                }
                                else {
                                    return '-';
                                }
                            },
                        },
                    ],
                    "autoWidth": true,
                    "columns": [
                        {
                            "className": "dt-center",
                            "width": "30px",
                            "title": "<span class='glyphicon glyphicon-cog'></span>",
                            "data": "Id",
                            "sortable": false,
                            "render": function (data, type, full, meta) {
                                var action = "";
                                //if (edit == "True") {
                                    //action = '<a class="btn btn-primary btn-sm editAsset" href="@Url.Action("Create", "Port")?Id=' + data + '"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>';
                                //}
                                //if (hapus == "True") {
                                    action = action + ' <a href="@Url.Action("Delete", "Roas")?Id=' + data + '" class="delete btn btn-danger btn-xs delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                //}
                                return action;
                            }
                        },
                        { "title": "Doc. Date", "data": "DocDate", "sortable": false, "width": "70px" },
                        { "title": "Doc. No", "data": "DocNo", "sortable": false},
                        { "title": "Bl Asal", "data": "BlAsal", "sortable": false, "width": "100px" },
                        { "title": "Bl Date", "data": "BlDate", "sortable": false, "width": "70px" },
                        { "title": "Plant", "data": "Plant", "sortable": false },
                        { "title": "Refenery Name", "data": "RefineryName", "sortable": false, "width": "90px" },
                        { "title": "Kode Produk", "data": "KodeProduk", "sortable": false, "width": "100px" },
                        { "title": "Nama Produk", "data": "NamaProduk", "sortable": false, "width": "200px" },
                        { "title": "Kd Material", "data": "KdMaterial", "sortable": false },
                        { "title": "Kode Fml Produk", "data": "KodeFmlProduk", "sortable": false, "width": "100px" },
                        { "title": "Nama Fml Produk", "data": "NamaFmlProduk", "sortable": false, "width": "120px" },
                        { "title": "Kode Opr", "data": "KodeOpr", "sortable": false, "width": "100px" },
                        { "title": "Transport Type", "data": "TransportType", "sortable": false, "width": "100px" },
                        { "title": "Transport Name", "data": "TransportName", "sortable": false, "width": "150px" },
                        { "title": "Asal - Tujuan", "data": "AsalTujuan", "sortable": false, "width": "260px" },
                        { "title": "Pau Info", "data": "PauInfo", "sortable": false, "width": "100px" },
                        { "title": "Liter Obs", "data": "LiterObs", "sortable": false, "width": "100px" },
                        { "title": "Liter 15", "data": "Liter15", "sortable": false, "width": "100px" },
                        { "title": "Mton", "data": "Mton", "sortable": false },
                        { "title": "Barrels", "data": "Barrels", "sortable": false },
                        { "title": "Lton", "data": "Lton", "sortable": false },
                        { "title": "Liter Obs Ptm", "data": "LiterObsPtm", "sortable": false, "width": "100px" },
                        { "title": "Liter 15 Ptm", "data": "Liter15Ptm", "sortable": false, "width": "100px" },
                        { "title": "Mton Ptm", "data": "MtonPtm", "sortable": false, "width": "100px" },
                        { "title": "Barrels Ptm", "data": "BarrelsPtm", "sortable": false, "width": "100px" },
                        { "title": "Lton Ptm", "data": "LtonPtm", "sortable": false, "width": "100px" },
                        { "title": "Liter Obs Al", "data": "LiterObsAl", "sortable": false, "width": "100px" },
                        { "title": "Liter 15 Al", "data": "Liter15Al", "sortable": false, "width": "100px" },
                        { "title": "Mton Al", "data": "MtonAl", "sortable": false },
                        { "title": "Barrels Al", "data": "BarrelsAl", "sortable": false, "width": "100px" },
                        { "title": "Lton Al", "data": "LtonAl", "sortable": false },
                        { "title": "Liter Obs Bd", "data": "LiterObsBd", "sortable": false, "width": "100px" },
                        { "title": "Liter 15 Bd", "data": "Liter15Bd", "sortable": false, "width": "100px" },
                        { "title": "Mton Bd", "data": "MtonBd", "sortable": false, "width": "100px" },
                        { "title": "Barrels Bd", "data": "BarrelsBd", "sortable": false, "width": "100px" },
                        { "title": "Lton Bd", "data": "LtonBd", "sortable": false, "width": "100px" },
                        { "title": "Liter Obs Rob", "data": "LiterObsRob", "sortable": false, "width": "100px" },
                        { "title": "Liter 15 Rob", "data": "Liter15Rob", "sortable": false, "width": "100px" },
                        { "title": "Mton Rob", "data": "MtonRob", "sortable": false, "width": "100px" },
                        { "title": "Barrels Rob", "data": "BarrelsRob", "sortable": false, "width": "100px" },
                        { "title": "Lton Rob", "data": "LtonRob", "sortable": false, "width": "100px" },
                        { "title": "Po Number", "data": "PoNumber", "sortable": false },
                        { "title": "Del Order Number", "data": "DelOrderNumber", "sortable": false, "width": "120px" },
                        { "title": "Shipment Number", "data": "ShipmentNumber", "sortable": false, "width": "120px" },
                        { "title": "Peb Number", "data": "PebNumber", "sortable": false, "width": "100px" },
                        { "title": "Sap Material Doc", "data": "SAPMaterialDoc", "sortable": false, "width": "100px" },
                        { "title": "Interface", "data": "Interface", "sortable": false },
                        { "title": "Roas Created By", "data": "RoasCreatedBy", "sortable": false, "width": "100px" },
                        { "title": "Roas Created On", "data": "RoasCreatedOn", "sortable": false, "width": "100px" },
                        { "title": "Roas Updated By", "data": "RoasUpdatedBy", "sortable": false, "width": "100px" },
                        { "title": "Roas Updated On", "data": "RoasUpdatedOn", "sortable": false, "width": "110px" },

                    ],
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "dom": '<"top">rt<"bottom"lip><"clear">'
                }).columns.adjust();;
            },

            refresh: function () {
                dt.ajax.reload();
            }
        }
        $('#btnSearch').on("click", assetListVM.refresh);

        assetListVM.init();

        $("#btnCreate").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $("#btnUploadExcel").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#Table').on("click", ".delete", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $("#ButtonDownload").on("click", function (e) {
            e.preventDefault();  //stop the browser from following
            window.location.href = 'ExcelTemplate/Roas_Template.xlsx';
        });

    });

</script>
