﻿
<table id="grid" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>Tanggal</th>
            <th>Oncall/Stanby</th>
            <th>Status</th>
            <th>Nama</th>
            <th colspan="2">Aktivitas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td><input type="text" id="txtTanggal" style="background:none; background-color:transparent; border:none; outline: none" /></td>
            <td><input type="text" id="txtOncall" style="background:none; background-color:transparent; border:none; outline: none" value="On Call" /></td>
            <td><input type="text" id="txtStatus" style="background:none; background-color:transparent; border:none; outline: none" /></td>
            <td><input type="text" id="txtNama" style="background:none; background-color:transparent; border:none; outline: none" /></td>
            <td colspan="2"><input type="text" id="txtAktivitasJetty" style="background:none; background-color:transparent; border:none; outline:none" value="Jetty/Dermaga" /></td>
        </tr>
            @{
                foreach (var item in Model.Jetty)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.NamaJetty; @item.NamaKapal; @item.NamaCargo; @item.Qty; @item.Start; @item.Rate; @item.Stop</td>
                    </tr>
                }

            }

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">Pipa</td>
        </tr>
            @{
                foreach (var item in Model.Pipa)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.FromTo @item.NamaCargo @item.Qty @item.Start @item.Stop</td>
                    </tr>
                }
            }

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">Mobil Tangki</td>
        </tr>
            @{
                foreach (var item in Model.Tangki)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.FromTo @item.Qty</td>
                    </tr>
                }
            }

    </tbody>
</table>

