﻿@model ProjectPertamina.Presentation.ViewModels.ReportOilCustodyViewModel

<div class="container-content" id="OilMovement">
    <div class="title-admin">
        LAPORAN OIL CUSTODY
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("ExportExcel", "ReportOilCustody", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Tanggal", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBoxFor(x => x.Tanggal , new { @id = "Tanggal", @class = "form-control", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Shift", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(x => x.ShiftId, new SelectList(ViewBag.shift, "Id", "Description", ViewBag.SelectShfit), new { @class = "form-control", id = "ddlShift" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("PIC Keuangan", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(x => x.PICKeuanganId, new SelectList(ViewBag.picKeuangan, "Id", "Nama", ViewBag.SelectPic), new { @class = "form-control", id = "ddlPic" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    @*<input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />*@
                                    <a class="btn btn-primary btn-sm" id="btnPrint" href="@Url.Action("Get", "ReportOilCustody")" onclick="addURL(this);">Search</a>
                                </div>
                            </div>
                        </div>
                    </div>
                 <input type="submit" value="Export Excel" id="btnSubmit" hidden />
                }
            </div>
        </div>
        <div class="table-header">
            <input type="button" class="btn btn-primary btn-sm" value="Export Excel" onclick="return submitClick();" />
        </div>
        @*Render Table If There is a Data*@
        @{ 
            if(Model.Jetty.Count() > 0 || Model.Pipa.Count() > 0 || Model.Tangki.Count() > 0)
            {
               Html.RenderPartial("_TableReportOilCustody");
            }
        }
        
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        //On Pege Load(Jquery Mode)
        $(function () {
            $('#Tanggal').datetimepicker({
                format: 'DD MMM YYYY',
                defaultDate: new Date()
            });
            $('#txtTanggal').val($('#Tanggal').val());
            $('#txtOncall').val('On Call');
            $('#txtStatus').val($('#ddlShift option:selected').text());
            $('#txtNama').val($('#ddlPic option:selected').text());

            //LoadTable();
        });

        function submitClick() {
            document.getElementById("btnSubmit").click();
        }

        function addURL(element) {
            $(element).attr('href', function () {
                var Tanggal = $('#Tanggal').val();
                var ShiftId = $('#ddlShift').val();
                var PICKeuanganId = $('#ddlPic').val();

                var querystring = 'Tanggal=' + Tanggal + '&ShiftId=' + ShiftId + '&PICKeuanganId=' + PICKeuanganId;
                return this.href + '?' + querystring;
            });
        }

        //function LoadTable() {
        //    var Tanggal = $('#Tanggal').val();
        //    var ShiftId = $('#ddlShift').val();
        //    var PICKeuanganId = $('#ddlPic').val();

        //    $.ajax({
        //        type: "POST",
        //        contentType: "application/json; charset=utf-8",
        //        url: "ReportOilCustody/Get",
        //        data: "{Tanggal:'" + Tanggal + "', ShiftId :'" + ShiftId + "', PICKeuanganId :'" + PICKeuanganId + "'}",
        //        dataType: "json",
        //        success: function (Result) {
        //            //console.log(Result);
        //        },
        //        error: function (Result) {
        //            alert("Error");
        //        }
        //    });
        //}

      
    </script>
}