﻿@model ProjectPertamina.Entities.Models.SupplyLossDischarge
<div class="container-content">
    <div class="title-admin">
        SUPPLY LOSS DISCHARGE
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <form class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(i => i.BlDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("BlDate", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("BlDateSampai", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(i => i.TanggalBongkar, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("TanggalBongkar", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                        <div class='col-md-4'>
                            <div class='input-group datetimepicker'>
                                @Html.TextBox("TanggalBongkarSampai", "", new { @class = "form-control", @readonly = "" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Tipe Transportasi", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.DropDownList("TipeTransportasi", new SelectList(ViewBag.TipeTransportasi), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.Label("Loading Port", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBox("LoadingPort", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Nama Kapal", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBox("NamaKapal", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("No BL", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-5">
                            @Html.TextBox("NoBl", "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </form>
        </div>


        @if (ViewBag.Create == true || ViewBag.Edit == true)
            {
            <div class="table-header">
                @if (ViewBag.Create == true)
                {
                    <input type="button" class="btn btn-primary btn-sm" value="Proses Data Supply Loss Discharge" onclick="location.href='@Url.Action("CreateEdit", "SupplyLossDischarge")'" />
                }
                @if (ViewBag.Edit == true)
                {
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("Upload", "SupplyLossDischarge")" id="btnUploadExcel">Upload Excel</button>
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" id="ButtonDownload">Download Template</button>
                }
            </div>
        }
        @*<input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
            <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />*@
        <table id="Table" class="table table-striped table-bordered" cellspacing="0" style="width:100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

<script type="text/javascript">
    $("#ButtonDownload").on("click", function (e) {
        e.preventDefault();  //stop the browser from following
        window.location.href = 'ExcelTemplate/Format Upload Accounting Doc.xlsx';
    });
    //Table Script
    var assetListVM;
    //Login
    //var edit = $('#hdActionedit').val();
    //var hapus = $('#hdActiondelete').val();
    //var visible = true;
    //if (edit == "False" && hapus == "False")
    //    visible = false;
    //Login
    $(function () {
        assetListVM = {
            dt: null,

            init: function () {
                dt = $('#Table').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "searching": false,
                    "ordering": false,
                    "ajax": {
                        "url": "@Url.Action("Get", "SupplyLossDischarge")",
                        "type": "POST",
                        "data": function (data) {
                            //function search
                            data.TipeTransportasi = $("#TipeTransportasi").val();
                            data.LoadingPort = $("#LoadingPort").val();
                            data.NamaKapal = $("#NamaKapal").val();
                            data.NoBl = $("#NoBl").val();
                            if (Date.parse($("#BlDate").val()) != null)
                                data.TanggalBL = Date.parse($("#BlDate").val()).toISOString();
                            if (Date.parse($("#BlDateSampai").val()) != null)
                                data.TanggalBLSampai = Date.parse($("#BlDateSampai").val()).toISOString();
                            if (Date.parse($("#TanggalBongkar").val()) != null)
                                data.TanggalBongkar = Date.parse($("#TanggalBongkar").val()).toISOString();
                            if (Date.parse($("#TanggalBongkarSampai").val()) != null)
                                data.TanggalBongkarSampai = Date.parse($("#TanggalBongkarSampai").val()).toISOString();
                        }
                    },
                    "columns": [
                        { "title": "Doc Date", "data": "DocDate", "sortable": false },
                        { "title": "Doc No", "data": "DocNo", "sortable": false },
                        { "title": "Tipe Transport", "data": "TipeTransport", "sortable": false },
                        { "title": "Muatan", "data": "Muatan", "sortable": false },
                        { "title": "No BL", "data": "NoBl", "sortable": false },
                        { "title": "BL Gross", "data": "BLGross", "sortable": false },
                        { "title": "AR Gross", "data": "ARGross", "sortable": false },
                        { "title": "Tanggal Bongkar", "data": "TanggalBongkar", "sortable": false },
                        { "title": "Accounting Doc", "data": "AccountingDoc", "sortable": false },
                        { "title": "Amount1", "data": "Amount1", "sortable": false },
                        { "title": "Amount2", "data": "Amount2", "sortable": false },
                    ],
                    "columnDefs": [
                            {
                                "targets": [0],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                            {
                                "targets": [7],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                    ],
                    "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                    "dom": '<"top">rt<"bottom"lip><"clear">'
                });
            },

            refresh: function () {
                dt.ajax.reload();
            }
        }
        $('#btnSearch').on("click", assetListVM.refresh);

        assetListVM.init();

        $("#btnUploadExcel").on("click", function () {

            var url = $(this).data("url");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#Table').on("click", ".editAsset", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

        $('#Table').on("click", ".delete", function (event) {

            event.preventDefault();

            var url = $(this).attr("href");

            $.get(url, function (data) {
                $('#createContainer').html(data);

                $('#createModal').modal('show');
            });

        });

    });

</script>


