﻿@using ProjectPertamina.Common;
@model IEnumerable<ProjectPertamina.Entities.Models.Berita>
<div class="container-content">
    <div class="title">
        <p style="text-align:left; margin-left:10px">@Html.ActionLink("Berita & Info", "Index", "Home", null, new { @class = "detail-content" }) &gt; <a class="detail-content" href='@Url.Action("Index", "Berita", new { @Id = ViewBag.IdKat})'>@ViewBag.KategoriBerita</a> &gt; @ViewBag.JudulBerita </p>
    </div>
    @foreach (var item in Model)
    {
        <div class="isi-content">
            <strong>@Html.ActionLink(item.Judul, "Detail", "Berita", new { @id = item.Id }, new { @class = "detail-content" })</strong>
            <h6>@item.Penulis | @item.CreatedDate.Value.ToString("dd MMM yyyy")</h6>

            @Html.Raw(HttpUtility.HtmlDecode(item.IsiBerita))
            <div class="row container-img">
                @{
                    foreach (var itemDetail in ViewData["BeritaDetail"] as List<ProjectPertamina.Entities.Models.BeritaDetail>)
                    {
                        <div class="col-md-2 img-berita">
                            <a href="#" class="pop">
                                <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.Berita, ImageName = itemDetail.Gambar })" />
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
      }
</div>