﻿@using PagedList.Mvc;
@using ProjectPertamina.Common;
@model PagedList.IPagedList<ProjectPertamina.Entities.ViewModel.BeritaViewModel>
<div class="container-content">
    <div class="title">
        <p style="text-align:left; margin-left:10px">@Html.ActionLink("Berita & Info", "Index", "Home", null, new { @class = "detail-content" }) &gt; @ViewBag.KategoriBerita </p>

    </div>
    @foreach (var item in Model)
    {
        <div class="row isi-content">
            <p><strong>@Html.ActionLink(item.Judul, "Detail", "Berita", new { @id = item.Id }, new { @class = "detail-content" })</strong></p>
            <p><h6>@item.Penulis | @item.Tanggal.ToString("dd MMM yyyy")</h6></p>

            @Html.Raw(HttpUtility.HtmlDecode(item.IsiBerita))
            <div class="row container-img">
                @{
                    //int i = 0;
                    foreach (var itemDetail in (ViewData["BeritaDetail"] as List<ProjectPertamina.Entities.Models.BeritaDetail>).Where(m => m.BeritaId == item.Id))
                    {
                        <div class="col-md-2 img-berita">
                            <a href="#" class="pop">
                                <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.Berita, ImageName = itemDetail.Gambar })"/>
                            </a>
                        </div>
                        //i++;
                    }
                }
            </div>
        </div>
    }
    <div class="row paging">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <img src="" class="imagepreview" style="width: 100%;">
            </div>
        </div>
    </div>
</div>

