﻿@using ProjectPertamina.Presentation.Common
@model ProjectPertamina.Presentation.ViewModels.ReportRekonsilisasiViewModel
<div>
    <ul class="nav nav-tabs" role="tablist">
        @{
            int i = 1;
            foreach (var item in Model.StreamList)
            {
                if (i == 1)
                {
                    <li role="presentation" class="active"><a href="#tabs-@i" aria-controls="tabs-@i" role="tab" data-toggle="tab">@item.StreamName</a></li>
                    @*<li class="@Html.ActivePage("ReportRekonsiliasi", "Get")">@Html.ActionLink("" + @item.StreamName + "", "Get", "ReportRekonsiliasi", new { Bulan = Model.Bulan, Tahun = Model.Tahun, kodeProduk = Model.kodeProduk, Stream = Model.Stream, TagNumber = Model.TagNumber }, null)</li>*@
                }
                else
                {
                    <li role="presentation"><a href="#tabs-@i" aria-controls="tabs-@i" role="tab" data-toggle="tab" onclick="return TabClick(@item.Id,'tabs-@i');">@item.StreamName</a></li>
                    @*<li class="@Html.ActivePage("ReportRekonsiliasi", "Get")">@Html.ActionLink("" + @item.StreamName + "", "Get", "ReportRekonsiliasi", new { Bulan = Model.Bulan, Tahun = Model.Tahun, kodeProduk = Model.kodeProduk, Stream = Model.Stream, TagNumber = Model.TagNumber }, null)</li>*@
                }


                i++;
            }
        }
    </ul>

    <div class="tab-content">
        @{
            int x = 1;
            foreach (var item in Model.StreamList)
            {
                if (x == 1)
                {
                    <div role="tabpanel" class="tab-pane active" id="tabs-@x">

                        @if (Model.kodeProduk == ConstantTipeProdukKode.Oil)
                        {
                            Html.RenderPartial("_TableRekonsiliasiOil");
                            //Html.Partial("_TableRekonsiliasiOil",Model);
                    }
                        else
                        {
                            Html.RenderPartial("_TableRekonsiliasiNonOil");
                            //Html.Partial("_TableRekonsiliasiNonOil", Model);
                        }

                    </div>
                }
                else
                {
                    <div role="tabpanel" class="tab-pane fade" id="tabs-@x">
                       
                        @if (Model.kodeProduk == ConstantTipeProdukKode.Oil)
                        {
                            //Html.RenderPartial("_TableRekonsiliasiOil");
                            Html.Partial("_TableRekonsiliasiOil", Model);
                        }
                        else
                        {
                            //Html.RenderPartial("_TableRekonsiliasiNonOil");
                            Html.Partial("_TableRekonsiliasiNonOil", Model);
                        }
                    </div>

                }


                x++;
            }
        }
    </div>
</div>

 <script type="text/javascript">
      function TabClick(streamId,TabId)
      {
          $("#" + TabId).load("@Url.Action("RenderPartial", "ReportRekonsiliasi")"
              + "?Bulan=" + $("#ddlBulan").val() + "&Tahun=" + $("#ddlTahun").val()
              + "&KodeProduk=" + $("#ddlTipeProduk").val() +
              "&Streamid=" + streamId + "&TagNumber=" + $("#txtTagNumber").val());
      }
</script>


