﻿@model ProjectPertamina.Presentation.ViewModels.ReportRekonsilisasiViewModel

<table id="grid" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th rowspan="2" class="text-center" style="vertical-align: middle">Date</th>
            <th colspan="3" class="text-center">Mton</th>
            <th colspan="3" class="text-center">Liter 15</th>
            <th colspan="3" class="text-center">BB60</th>
        </tr>
        <tr>
            <th class="text-center">RUII</th>
            <th class="text-center">PTSK</th>
            <th class="text-center">Delta</th>
            <th class="text-center">RUII</th>
            <th class="text-center">PTSK</th>
            <th class="text-center">Delta</th>
            <th class="text-center">RUII</th>
            <th class="text-center">PTSK</th>
            <th class="text-center">Delta</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int x = 0; x < Model.TableReport.Count(); x++)
            {
                <tr>
                    <td>@Model.TableReport.ElementAt(x).Tanggal</td>
                    <td>@Model.TableReport.ElementAt(x).RUUII</td>
                    <td>@Model.TableReport.ElementAt(x).PTSK</td>
                    <td>@Model.TableReport.ElementAt(x).DELTA</td>
                    <td>@Model.TableReportOil.ElementAt(x).RUUII_Liter15</td>
                    <td>@Model.TableReportOil.ElementAt(x).PTSK_Liter15</td>
                    <td>@Model.TableReportOil.ElementAt(x).DELTA_Liter15</td>
                    <td>@Model.TableReportOil.ElementAt(x).RUUII_BB60</td>
                    <td>@Model.TableReportOil.ElementAt(x).PTSK_BB60</td>
                    <td>@Model.TableReportOil.ElementAt(x).DELTA_BB60</td>
                </tr>

            }

            @*for (int x = 0; x < @Model.TableReport.Count(); x++)
            {
                <tr>
                    <td>Model.TableReport[x].Tanggal</td>
                    <td>Model.TableReport[x].RUUII</td>
                    <td>Model.TableReport[x].PTSK</td>
                    <td>Model.TableReport[x].DELTA</td>
                    <td>Model.TableReportOil[x].RUUII_Liter15</td>
                    <td>Model.TableReportOil[x].PTSK_Liter15</td>
                    <td>Model.TableReportOil[x].DELTA_Liter15</td>
                    <td>Model.TableReportOil[x].RUUII_BB60</td>
                    <td>Model.TableReportOil[x].PTSK_BB60</td>
                    <td>Model.TableReportOil[x].DELTA_BB60</td>
                </tr>

            }*@
         }
    </tbody>
</table>

