﻿
@model ProjectPertamina.Presentation.ViewModels.ReportRekonsilisasiViewModel

<table id="grid" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>RU II</th>
            <th>PSTK</th>
            <th>DELTA</th>
        </tr>
    </thead>
    <tbody>
        @{
            for (int x = 0; x < Model.TableReport.Count(); x++)
            {
                @*<tr>
                    <td>Model.TableReport[x].Tanggal</td>
                    <td>Model.TableReport[x].RUUII</td>
                    <td>Model.TableReport[x].PTSK</td>
                    <td>Model.TableReport[x].DELTA</td>
                </tr>*@

                <tr>
                    <td>@Model.TableReport.ElementAt(x).Tanggal</td>
                    <td>@Model.TableReport.ElementAt(x).RUUII</td>
                    <td>@Model.TableReport.ElementAt(x).PTSK</td>
                    <td>@Model.TableReport.ElementAt(x).DELTA</td>
                </tr>
            }
                    }

        @*<tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>*@

            @*@{
                foreach (var item in Model.Jetty)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.NamaJetty; @item.NamaKapal; @item.NamaCargo; @item.Qty; @item.Start; @item.Rate; @item.Stop</td>
                    </tr>
                }*@

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
            @*@{
                foreach (var item in Model.Pipa)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.FromTo @item.NamaCargo @item.Qty @item.Start @item.Stop</td>
                    </tr>
                }
            }*@

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
            @*@{
                foreach (var item in Model.Tangki)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>@item.FromTo @item.Qty</td>
                    </tr>
                }
            }*@

    </tbody>
</table>

