﻿@using ProjectPertamina.Presentation.Common

@model ProjectPertamina.Presentation.ViewModels.ReportRekonsilisasiViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-content" id="OilMovement">
    <div class="title-admin">
        REKONSILIASI
    </div>
    <div class="isi-content">
        @using (Html.BeginForm("Get", "ReportRekonsiliasi", FormMethod.Post))
        {
            <div class="row sorting-table">
                <div class="col-md-10">

                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Bulan", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    @Html.DropDownListFor(x => x.Bulan, new SelectList(ViewBag.ddlBulan, "Value", "Text"), new { @class = "form-control", id = "ddlBulan" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tahun", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    @Html.DropDownListFor(x => x.Tahun, new SelectList(ViewBag.ddlTahun, "Value", "Text"), new { @class = "form-control", id = "ddlTahun" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Tipe Produk", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownListFor(x => x.kodeProduk, new SelectList(ViewBag.ddlTipeProduk, "Kode", "Deskripsi"), new { @class = "form-control", id = "ddlTipeProduk" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Stream", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.Stream, "", new { @id = "txtStream", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tag Number", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.TagNumber, "", new { @id = "txtTagNumber", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

      

        @{
            if (Model.StreamList != null && Model.isTableEmpty == false) 
            {
                Html.RenderPartial("_TabsPage");
            }
        }
    </div>


</div>
