﻿@using ProjectPertamina.Common

@model ProjectPertamina.Entities.Models.BackgroundNoTelp

@{
    Layout = null;
}

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Background No Telp</h4>
        </div>
        <form id="FormPopup">
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.UpdatedDate)
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-3 divgambar">
                            @Html.HiddenFor(i => i.Gambar)
                            <img src="@Url.Action("imagerRDP", "Base", new { KeyKonfigParam = ConstantKonfigurasiParameter.BackgroundNoTel, ImageName = Model.Gambar })" class="img-responsive img-popup" />
                        </div>
                    </div>

                    <div class="form-group" data-provides="fileupload">
                        @Html.Label("NamaFile", "Gambar", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            <input type="file" class="form-control" name="InputGambar" id="InputGambar" accept="image/x-png,image/gif,image/jpeg" />
                            @Html.ValidationMessageFor(model => model.Gambar, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary btn-sm" value="Save" id="ButtonSave" data-url="@Url.Action("Create", "BackgroundNoTelp")" />
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    $("#ButtonSave").on("click", function () {
        var url = $(this).data("url");

        var data = new FormData();
        var files1 = $("#InputGambar").get(0).files;
        if (files1.length > 0) {
            data.append("NamaFile", files1[0]);
        }

        $.ajax({
            url: url + '?' + $("#FormPopup").serialize(),
            type: "POST",
            data: data,
            contentType: false,
            processData: false,
            success: function (data) {
                CreateSuccess(data);
            },
            error: function (err) {
                alert(err.statusText);
            }
        });

    });

</script>