﻿@{
    ViewBag.Title = "Index";
}
<div class="container-content">
    <div class="title-admin">
        Background No Telepon
    </div>
    <div class="isi-content">

        @*<div class="row table-header">
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-url="@Url.Action("CreateEdit","MainApp")" id="btnCreate">Add Main App</button>
                </div>
                <div class="col-md-11">
                    @Html.Partial("_Alerts")
                </div>
            </div>*@

        <table id="MainAppTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#MainAppTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","BackgroundNoTelp")",
                            "data": function (data) {
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("CreateEdit", "BackgroundNoTelp")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>';
                                }
                            },
                        { "title": "Gambar", "data": "Gambar", "sortable": false },

                        ],
                        "columnDefs": [
                            {
                                "targets": [1],
                                "render": function (data, type, row) {
                                    console.log('data= ' + data + '' + type + 'row');
                                    return '<img class="img-responsive" width="100px" src="/UploadedFiles/' + data + '"/>';
                                },
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $('#MainAppTable').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#MainAppTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });
        });


    </script>
}
