﻿<div class="container-content">
    <div class="title">
        PEJABAT SEMENTARA
    </div>
    <div class="isi-content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="~/Content/Image/pejabat_1.jpg" /></td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td><img src="~/Content/Image/pejabat_1.jpg" /></td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td><img src="~/Content/Image/pejabat_1.jpg" /></td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

