﻿
@{
    ViewBag.Title = "Index";
}

@*<h2>Index </h2>
    @HttpContext.Current.User.Identity.IsAuthenticated
    <br>
    @HttpContext.Current.User.Identity.Name*@

<br />
<div class="container">
    <div class="col-md-12" style="text-align:center">
        <img width="85%" src="~/Content/Image/HomePicture.jpg" />
    </div>
</div>