﻿@{
    ViewBag.Title = "Index";
}
<div class="container-content" id="FinanceJetty">
    <div class="title-admin">
        FINANCE JETTY
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("Get", "FinanceJetty", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Tanggal Dari", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBox("TanggalDari", null, "{0:dd MMM yyyy}", new { @id = "TanggalDari", @class = "form-control", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tanggal Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBox("TanggalSampai", null, "{0:dd MMM yyyy}", new { @id = "TanggalSampai", @class = "form-control", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Shift", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownList("Shift", new SelectList(ViewBag.shift, "Id", "Description"), new { @class = "form-control", id = "Shift" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("PIC Keuangan", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownList("PICKeuangan", new SelectList(ViewBag.picKeuangan, "Id", "Nama"), new { @class = "form-control", id = "PICKeuangan" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("PIC Loading Master", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.DropDownList("PICLoading", new SelectList(ViewBag.picLoading, "Id", "Nama"), new { @class = "form-control", id = "PICLoading" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Jetty", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBox("Jetty", null, new { @class = "form-control", id = "Jetty" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        @if (ViewBag.Create == true)
        {
            <div class="row table-header">
                <div class="col-md-1">
                    <input type="button" class="btn btn-primary btn-sm" value="Add Finance Jetty" onclick="location.href='@Url.Action("IndexDetail", "FinanceJetty")'" />
                </div>
            </div>
        }
        <input type="hidden" id="hdActionedit" value="@ViewBag.Edit.ToString()" />
        <input type="hidden" id="hdActiondelete" value="@ViewBag.Delete.ToString()" />

        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">


        var assetListVM;
        var edit = $('#hdActionedit').val();
        var hapus = $('#hdActiondelete').val();
        var visible = true;
        if (edit == "False" && hapus == "False")
            visible = false;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#grid').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("Get", "FinanceJetty")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                if (Date.parse($("#TanggalDari").val()) != null)
                                    data.TanggalDari = Date.parse($("#TanggalDari").val()).toISOString();
                                if (Date.parse($("#TanggalSampai").val()) != null)
                                    data.TanggalSampai = Date.parse($("#TanggalSampai").val()).toISOString();
                                data.IDShift = $("#Shift").val();
                                data.IDPICKeuangan = $("#PICKeuangan").val();
                                data.IDLoadingMaster = $("#PICLoading").val();
                                data.Jetty = $("#Jetty").val();
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    var action = "";
                                    if (edit == "True") {
                                        action = '<a href="@Url.Action("IndexDetail", "FinanceJetty")?Id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>';
                                    }
                                    if (hapus == "True") {
                                        action = action + ' <a href="@Url.Action("Delete", "FinanceJetty")?Id=' + data + '" class="btn btn-danger btn-sm delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>';
                                    }
                                    return action;
                                }
                            },
                            { "title": "Tanggal", "data": "Tanggal", "sortable": false },
                            { "title": "Shift", "data": "Shift", "sortable": false },
                            { "title": "PIC Keuangan", "data": "PICKeuangan", "sortable": false },
                            { "title": "PIC Loading Master", "data": "PICLoadingMaster", "sortable": false },
                            { "title": "Jumlah Tangki", "data": "JumlahTangki", "sortable": false },
                            { "title": "Jetty", "data": "Jetty", "sortable": false },
                            { "title": "Quantity", "data": "Quantity", "sortable": false },
                            { "title": "Estimasi Start", "data": "EstimasiStart", "sortable": false },
                            { "title": "Estimasi Stop", "data": "EstimasiStop", "sortable": false },

                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "visible": visible
                            },
                            {
                                "targets": [1],
                                "render": function (data, type, row) {
                                    return '' + getDate(data) + '';
                                },
                            },
                            {
                                "targets": [8],
                                "render": function (data, type, row) {
                                    if (data != null) {
                                        return '' + getDate(data) + '';
                                    }
                                    else {
                                        return '-';
                                    }
                                },
                            },
                            {
                                "targets": [9],
                                "render": function (data, type, row) {
                                    if (data != null) {
                                        return '' + getDate(data) + '';
                                    }
                                    else {
                                        return '-';
                                    }
                                },
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $("#btnCreate").on("click", function () {

                var url = $(this).data("url");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#grid').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });


        });


    </script>
}