﻿@model ProjectPertamina.Entities.Models.FinanceJetty

<div class="title-admin">
    @ViewBag.Title FINANCE JETTY
</div>
<div class="isi-content">
    <div class="row sorting-table">
        <div class="col-md-10">
            @using (Html.BeginForm("CreateEdit", "FinanceJetty", FormMethod.Post, new { id = "CreateEditForm", @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id, new { id = "FinanceJettyId" })
                <div class="form-group required">
                    @Html.LabelFor(i => i.Tanggal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group datetimepicker'>
                            @Html.EditorFor(i => i.Tanggal, new { htmlAttributes = new { @class = "form-control", id = "Tanggal", @readonly = "" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.Tanggal, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.NoPo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.NoPo, new { htmlAttributes = new { @class = "form-control", maxlength = "20" } })
                        @Html.ValidationMessageFor(model => model.NoPo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.Label("Shift", "Shift/On Call", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(i => i.ShiftId, new SelectList(ViewBag.shift, "Id", "Description"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group required">
                    @Html.Label("PICKeuangan", "PIC Keuangan", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(i => i.PICKeuanganId, new SelectList(ViewBag.picKeuangan, "Id", "Nama"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PICKeuanganId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.Label("PICKeuangan", "PIC Loading Master", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(i => i.PICLoadingMasterId, new SelectList(ViewBag.picLoading, "Id", "Nama"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PICLoadingMasterId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.Jetty, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.Jetty, new { htmlAttributes = new { @class = "form-control", maxlength = "100" } })
                        @Html.ValidationMessageFor(model => model.Jetty, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.PumpRate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.PumpRate, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                        @Html.ValidationMessageFor(model => model.PumpRate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.Qty, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.EditorFor(i => i.Qty, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01" } })
                        @Html.ValidationMessageFor(model => model.Qty, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.EstimasiStart, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group' id="EstimasiDateFrom">
                            @Html.EditorFor(i => i.EstimasiStart, "{0:dd MMM yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.EstimasiStart, "", new { @class = "text-danger" })
                    </div>
                    @*<label class="btn btn-danger btn-xs" onclick="DeleteEstimasiStart()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" />
                        </label>*@
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.EstimasiStop, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group' id="EstimasiDateTo">
                            @Html.EditorFor(i => i.EstimasiStop, "{0:dd MMM yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.EstimasiStop, "", new { @class = "text-danger" })
                    </div>
                    @*<label class="btn btn-danger btn-xs" onclick="DeleteEstimasiStop()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" />
                        </label>*@
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.RealisasiStart, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group' id="RealisasiDateFrom">
                            @Html.EditorFor(i => i.RealisasiStart, "{0:dd MMM yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.RealisasiStart, "", new { @class = "text-danger" })
                    </div>
                    @*<label class="btn btn-danger btn-xs" onclick="DeleteRealisasiStart()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" />
                        </label>*@
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.RealisasiStop, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        <div class='input-group' id="RealisasiDateTo">
                            @Html.EditorFor(i => i.RealisasiStop, "{0:dd MMM yyyy}", new { htmlAttributes = new { @class = "form-control" } })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(model => model.RealisasiStop, "", new { @class = "text-danger" })
                    </div>
                    @*<label class="btn btn-danger btn-xs" onclick="DeleteRealisasiStop()">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" />
                        </label>*@
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.Keterangan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.EditorFor(i => i.Keterangan, new { htmlAttributes = new { @class = "form-control", maxlength = "500" } })
                        @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group required">
                    @Html.LabelFor(i => i.Catatan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9">
                        @Html.TextAreaFor(i => i.Catatan, new { @class = "form-control", rows = "5", maxlength = "500" })
                        @Html.ValidationMessageFor(model => model.Catatan, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        @Html.ActionLink("Back", "Index", "FinanceJetty", null, new { @class = "btn btn-default" })
                    </div>
                </div>

            }
        </div>
        <input type="hidden" id="hdalertsucces" value="@TempData["MessageSucces"]" />
    </div>
    <div id="gridDetail">
        <table id="Table" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <tfoot class="footertable">
                <tr>
                    <th><button class="save-user btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button><input type="hidden" id="Id" value='0' /></th>
                    <th><select id="ddlNomorTangki" class="form-control ddlNomorTangki"></select></th>
                    <th><select id="ddlNamaCargo" class="form-control ddlCargo"></select></th>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
        <div id="createContainer">
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var notif = $('#hdalertsucces').val();
            if (notif != '')
                Notifikasi(notif);
            console.log(notif);
        });

        $(function () {
            setFromDateTimePicker("#EstimasiDateFrom", $("#EstimasiStop").val(), 'DD MMM YYYY HH:mm');
            setToDateTimePicker("#EstimasiDateTo", $("#EstimasiStart").val(), 'DD MMM YYYY HH:mm');
            setFromDateTimePicker("#RealisasiDateFrom", $("#RealisasiStop").val(), 'DD MMM YYYY HH:mm');
            setToDateTimePicker("#RealisasiDateTo", $("#RealisasiStart").val(), 'DD MMM YYYY HH:mm');

            $("#EstimasiDateFrom").on('dp.change', function (e) {
                $('#EstimasiDateTo').data('DateTimePicker').minDate(e.date)
            });

            $("#EstimasiDateTo").on('dp.change', function (e) {
                $('#EstimasiDateFrom').data('DateTimePicker').maxDate(e.date)
            });

            $("#RealisasiDateFrom").on('dp.change', function (e) {
                $('#RealisasiDateTo').data('DateTimePicker').minDate(e.date)
            });

            $("#RealisasiDateTo").on('dp.change', function (e) {
                $('#RealisasiDateFrom').data('DateTimePicker').maxDate(e.date)
            });

            bindDropdown();
        });

        function DeleteEstimasiStart() {
            $('#EstimasiStart').val('');
            $('#EstimasiDateTo').data('DateTimePicker').minDate(false)
        }
        function DeleteEstimasiStop() {
            $('#EstimasiStop').val('');
            $('#EstimasiDateFrom').data('DateTimePicker').maxDate(false)
        }
        function DeleteRealisasiStart() {
            $('#RealisasiStart').val('');
            $('#RealisasiDateTo').data('DateTimePicker').minDate(false)
        }
        function DeleteRealisasiStop() {
            $('#RealisasiStop').val('');
            $('#RealisasiDateFrom').data('DateTimePicker').maxDate(false)
        }

    </script>
    <script>
        function bindDropdown() {
            $.getJSON('@Url.Action("getDlCargo", "FinanceJetty")', function (data) {
                $('.ddlCargo').empty();
                $.each(data, function (index, item) {
                    $('.ddlCargo').append(
                         $('<option></option>').val(item.Id).html(item.Description)
                     );
                });
            });
            $.getJSON('@Url.Action("getDlTangki", "FinanceJetty")', function (data) {
                $('.ddlNomorTangki').empty();
                $.each(data, function (index, item) {
                    $('.ddlNomorTangki').append(
                         $('<option></option>').val(item.Id).html(item.Code)

                     );
                });
            });
        }
        function bindDropdownCargoEdit(id) {
            $.getJSON('@Url.Action("getDlCargo", "FinanceJetty")', function (data) {
                $('.ddlCargo').empty();
                $.each(data, function (index, item) {
                    $('.ddlCargo').append(
                         $('<option></option>').val(item.Id).html(item.Description)
                     );
                    $('.ddlCargo').val(id);
                });
            });
        }
        function bindDropdownTangkiEdit(id) {
            $.getJSON('@Url.Action("getDlTangki", "FinanceJetty")', function (data) {
                $('.ddlNomorTangki').empty();
                $.each(data, function (index, item) {
                    $('.ddlNomorTangki').append(
                         $('<option></option>').val(item.Id).html(item.Code)
                     );
                    $('.ddlNomorTangki').val(id);
                });
            });
        }
    </script>
    <script type="text/javascript">
        //Table Script
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#Table').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ordering": false,
                        "ajax": {
                            "url": "@Url.Action("GetDetailJetty", "FinanceJetty")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                data.IDHeader = $("#FinanceJettyId").val();
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<button class="edit-user display-mode btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button> ' +
                                            '<a href="@Url.Action("DeleteDetail", "FinanceJetty")?Id=' + data + '" class="btn btn-danger btn-sm delete delete-user display-mode"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>' +
                                            '<button class="save-user edit-mode btn btn-primary btn-sm"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></button> ' +
                                            '<button class="cancel-user edit-mode btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></button>' +
                                            '<input type="hidden" id="Id" value=' + data + '>';
                                }
                            },
                            {
                                "title": "No Tangki", "data": "NomorTangki", "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return ' <span class="display-mode">' + data +
                                            '</span>' +
                                            '<select id="ddlNomorTangki" class="form-control edit-mode ddlNomorTangki"></select>' +
                                            '<input type="hidden" id="idTangki" value="' + full.IdTangki + '" class="display-mode idTangki" />';
                                }
                            },
                            {
                                "title": "Nama Cargo", "data": "NamaCargo", "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return ' <span class="display-mode">' + data +
                                        '</span>' +
                                        '<select id="ddlNamaCargo" class="form-control edit-mode ddlCargo"></select>' +
                                        '<input type="hidden" id="idCargo" value="' + full.IdCargo + '" class="display-mode idCargo" />';
                                }
                            },
                        ],
                        //"lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">',
                        "initComplete": function (settings, json) {
                            $('.edit-mode').hide();
                        }
                    });
                },

                refresh: function () {
                    dt.ajax.reload(function () {
                        $('.edit-mode').hide();
                    });
                },
            }

            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $('#Table').on("click", ".delete", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });

            $('#Table').on('click', '.edit-user, .cancel-user', function () {

                $('.display-mode:hidden, .edit-mode:visible').toggle();
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
                var idCargo = tr.find('.idCargo').val();
                var idTangki = tr.find('.idTangki').val();
                bindDropdownTangkiEdit(idTangki);
                bindDropdownCargoEdit(idCargo);
                //document.getElementById("Table").deleteTFoot();
            });

            $('#Table').on('click', '.cancel-user', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit-mode, .display-mode').toggle();
            });

            $('#Table').on('click', '.save-user', function () {
                var tr = $(this).parents('tr:first');

                var FinanceJettyId = $("#FinanceJettyId").val();
                if (FinanceJettyId == "0") {// check sudah ada header apa belum
                    alert("Harap masukan Header terlebih dahulu");
                    return;
                }

                var Id = tr.find("#Id").val();
                var FinanceJettyId = $("#FinanceJettyId").val();
                var NomorTangki = tr.find("#ddlNomorTangki").val();
                var NamaCargo = tr.find("#ddlNamaCargo").val();
                //if (Id == 0) { //check data sudah ada apa belum
                var valid = true;
                $('#Table > tbody  > tr').each(function () {
                    var trCheck = $(this);
                    if (NomorTangki == trCheck.find("#idTangki").val() &&
                        NamaCargo == trCheck.find("#idCargo").val() &&
                        Id != trCheck.find("#Id").val()
                        ) {
                        valid = false;
                        return;
                    }
                });

                if (!valid) {
                    alert("Data Sudah Ada");
                    return;
                }
                //}

                var Model =
                  {
                      "Id": Id,
                      "FinanceJettyId": FinanceJettyId,
                      "TangkiId": NomorTangki,
                      "CargoId": NamaCargo,
                  };

                $.ajax({
                    url: '@Url.Action("SaveDetail", "FinanceJetty")',
                    data: JSON.stringify(Model),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        Notifikasi(successMessage());
                        assetListVM.refresh();
                        tr.find('.edit-mode, .display-mode').toggle();
                        $('.add-mode').val("");

                    },
                    error: function (data) {
                        alert("Error : \n" + data);
                    }
                });
            });

        });

    </script>

}
