﻿@model ProjectPertamina.Entities.Models.Footer

@{
    ViewBag.Title = "Index";
}
<div class="container-content">
    <div class="title-admin">
        Footer
    </div>
    <div class="isi-content">        
        
        <div class="row table-header">
            <div class="col-md-12">
                @Html.Partial("_Alerts")
            </div>
        </div>
        <!-- Modal -->

        <table id="FooterTable" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="CreateAssetModal" aria-hidden="true" data-backdrop="static">
    <div id="createContainer">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        var assetListVM;
        $(function () {
            assetListVM = {
                dt: null,

                init: function () {
                    dt = $('#FooterTable').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "searching": false,
                        "ajax": {
                            "url": "@Url.Action("Get","Footer")",
                            "data": function (data) {
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "100px",
                                "title": "<span class='glyphicon glyphicon-cog'></span>",
                                "data": "Id",
                                "searchable": false,
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return '<a href="@Url.Action("Edit", "Footer")?id=' + data + '" class="btn btn-primary btn-sm editAsset"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>';
                                }
                            },
                            { "title": "Address", "data": "Address", "sortable": false },
                            { "title": "Company", "data": "Company", "sortable": false },
                            { "title": "Phone", "data": "Phone", "sortable": false },
                            { "title": "Email", "data": "Email", "sortable": false },
                            { "title": "Copyright", "data": "Copyright", "sortable": false },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", assetListVM.refresh);

            assetListVM.init();

            $('#FooterTable').on("click", ".editAsset", function (event) {

                event.preventDefault();

                var url = $(this).attr("href");

                $.get(url, function (data) {
                    $('#createContainer').html(data);

                    $('#createModal').modal('show');
                });

            });
        });


    </script>
}
