﻿@model ProjectPertamina.Entities.Models.WebCustodyTransfer.SGHidrogen

@{
    Layout = null;
}

<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">@ViewBag.Title NILAI SG HIDROGEN</h4>
        </div>
        @using (Ajax.BeginForm("CreateEdit", "SGHidrogen", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "CreateSuccess" }, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Bulan, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            @if (ViewBag.Title == "ADD")
                            {
                                @Html.DropDownListFor(model => model.Bulan, new SelectList(ViewBag.BulanList, "Item2", "Item1"), new { @class = "form-control" })
                            }
                            else
                            {
                                @Html.DropDownList("Bulan", new SelectList(ViewBag.BulanList, "Item2", "Item1"), new { @class = "form-control", @disabled="disabled" })
                                @Html.Hidden("Bulan")
                            }
                            @Html.ValidationMessageFor(model => model.Bulan, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Tahun, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            @if (ViewBag.Title == "ADD")
                            {
                                @Html.EditorFor(model => model.Tahun, new { htmlAttributes = new { @class = "form-control", type = "number" } })
                            }
                            else
                            {
                                @Html.Editor("Tahun", new { htmlAttributes = new { @class = "form-control", type = "number", @readonly = "" } })
                            }
                            @Html.ValidationMessageFor(model => model.Tahun, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NilaiSG, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.NilaiSG, new { @class = "form-control", type = "number", step ="0.0001" })
                            @Html.ValidationMessageFor(model => model.NilaiSG, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary btn-sm" value="Save" />
                @*                <input type="button" class="btn btn-primary btn-sm" value="Save" id="ButtonSave" data-url="@Url.Action("CreateEdit","Cargo")" />*@
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            </div>
        }
    </div>
</div>