﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<body>
    <table width="100%;">
        <tr style="height:250px;">
            <td colspan="2">Diketahui Oleh,</td>
            <td colspan="2">Dumai,........</td>
        </tr>
        <tr>
            <td colspan="2"><hr style="width:40%;float:left;" /></td>
            <td colspan="2"><hr style="width:40%;float:left;" /></td>
        </tr>
    </table>
    <p style="float:right;">[Oil Custody] Printed On @DateTime.Now by @ViewBag.User</p>

</body>
</html>