﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script>
        function subst() {
            var vars = {};
            var x = document.location.search.substring(1).split('&');
            for (var i in x) { var z = x[i].split('=', 2); vars[z[0]] = unescape(z[1]); }
            var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];
            for (var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for (var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
            }
        }
    </script>
    <style>
        .judul {
            font-family: 'Times New Roman';
            font-size: 12pt;
            font-weight: bold;
            padding-bottom: 10px;
        }
    </style>
</head>
<body style="border: 0; margin: 0;" onload="subst()">
    <img src="@Server.MapPath("~/Content/Image/pertamina_aviation.jpg")" style="width:200px; height:150px;margin-top:-30px;" />
    <div class="judul">
        <center>
            <p>
                JURNAL PENGISIAN AVTUR KE BRIDGER <br />EXDAY TANK (DT-01 & DT-02)
            </p>
        </center>
    </div>

</body>
</html>