﻿@{
    ViewBag.Title = "Index";
}
<div class="container-content" id="OilMovement">
    <div class="title-admin">
        JURNAL PENGISIAN AVTUR KE BRIDGER
    </div>
    <div class="isi-content">
        <div class="row sorting-table">
            <div class="col-md-10">
                @using (Html.BeginForm("Get", "ReportJurnalAvtur", FormMethod.Post))
                {
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.Label("Tanggal", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBox("TanggalDari", DateTime.Now, new { @id = "TanggalDari", @class = "form-control", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Sampai", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class='col-md-3'>
                                    <div class='input-group datetimepicker'>
                                        @Html.TextBox("TanggalSampai", DateTime.Now, new { @id = "TanggalSampai", @class = "form-control", @readonly = "" })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Tujuan", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBox("Tujuan", "", new { @id = "Tujuan", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Nomor Polisi", htmlAttributes: new { @class = "control-label col-md-1" })
                                <div class="col-md-3">
                                    @Html.TextBox("Nopol", "", new { @id = "Nopol", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-9">
                                    <input type="button" class="btn btn-primary btn-sm" value="Search" id="btnSearch" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="table-header">
            <a class="btn btn-primary btn-sm" id="btnPrint" href="@Url.Action("Print", "ReportJurnalAvtur")" onclick="addURL(this);" target="_blank">Cetak Laporan</a>
            @*<a class="btn btn-primary btn-sm" id="btnPrint" href="@Url.Action("Print", "ReportJurnalAvtur")" >Cetak Laporan</a>*@
            @*@Html.ActionLink("Cetak Laporan", "Print", "ReportJurnalAvtur",null, new { @target = "_blank", @class= "btn btn-primary btn-sm" })*@  
        </div>
        <table id="grid" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
    </div>
</div>



@section Scripts
{
    <script type="text/javascript">
        var grid;        
        $(function () {
            grid = {
                dt: null,

                init: function () {
                    dt = $('#grid').DataTable({
                        "serverSide": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("Get", "ReportJurnalAvtur")",
                            "type": "POST",
                            "data": function (data) {
                                //function search
                                if (Date.parse($("#TanggalDari").val()) != null)
                                    data.TanggalDari = Date.parse($("#TanggalDari").val()).toISOString();
                                if (Date.parse($("#TanggalSampai").val()) != null)
                                    data.TanggalSampai = Date.parse($("#TanggalSampai").val()).toISOString();
                                data.Tujuan = $("#Tujuan").val();
                                data.Nopol = $("#Nopol").val();
                                Nopol = data.Nopol;
                                Tujuan = data.Tujuan;
                                TanggalDari = data.TanggalDari;
                                TanggalSampai = data.TanggalSampai;
                            }
                        },
                        "columns": [
                            {
                                "className": "dt-center",
                                "width": "50px",
                                "title": "No",
                                "sortable": false,
                                "render": function (data, type, full, meta) {
                                    return meta.row + meta.settings._iDisplayStart + 1;
                                }
                            },
                            { "title": "Jam", "data": "JamAwal", "sortable": false },
                            { "title": "No Polisi", "data": "Nopol", "sortable": false },
                            { "title": "Tujuan", "data": "Tujuan", "sortable": false },
                            { "title": "Meter Awal", "data": "MeterAwal", "sortable": false },
                            { "title": "Meter Akhir", "data": "MeterAkhir", "sortable": false },
                            { "title": "Kap. Bridger", "data": "Bridger", "sortable": false },
                            { "title": "Ket", "data": "Ket", "sortable": false }
                        ],
                        "columnDefs": [
                            {
                                "targets": [1],
                                "render": function (data, type, row) {
                                    return moment(data).format('HH:mm');
                                },
                            },
                            {
                                "targets": [7],
                                "render": function (data, type, row) {
                                    return moment(data).format('HH:mm');
                                },
                            },
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]],
                        "dom": '<"top">rt<"bottom"lip><"clear">'
                    });
                },

                refresh: function () {
                    dt.ajax.reload();
                }
            }
            $('#btnSearch').on("click", grid.refresh);
            grid.init();
        });


    </script>

    <script>
        function addURL(element) {
            $(element).attr('href', function () {                
                var Nopol = $("#Nopol").val();
                var Tujuan = $("#Tujuan").val();
                console.log(Tujuan);
                var TanggalDari;
                var TanggalSampai;
                if (Date.parse($("#TanggalDari").val()) != null)
                    TanggalDari = Date.parse($("#TanggalDari").val()).toISOString();
                if (Date.parse($("#TanggalSampai").val()) != null)
                    TanggalSampai = Date.parse($("#TanggalSampai").val()).toISOString();
                var querystring = 'Nopol=' + Nopol + '&Tujuan=' + Tujuan + '&TanggalDari=' + TanggalDari + '&TanggalSampai=' + TanggalSampai;
                return this.href +'?'+ querystring;
            });
        }
    </script>
}




