﻿@model List<ProjectPertamina.Entities.Models.OilMovement>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportGenerate</title>
    <style>
        .noborder, .noborder tr, .noborder th, .noborder td {
            border: none;
        }

        .tableJudul {
            border-collapse: collapse;
            width: 100%;
        }

        .tableJudul, th, td {
            border: 0px;
        }

        .tablesatu {
            border-collapse: collapse;
            width: 95%;
        }

        .tablesatu, th, td {
            border: 1px solid black;
        }



        .head {
            font-family: Calibri;
            font-size: 12pt;
            font-weight: bold;
        }

        td {
            font-family: Calibri;
            font-size: 12pt;
        }

        .divjudul {
            margin-top: -30px;
        }

        .judul {
            font-family: 'Times New Roman';
            font-size: 12pt;
            font-weight: bold;
            margin-top: 30%;
            text-align: center;
            padding-right: 300px;
        }

        .judulIPM {
            font-family: 'Times New Roman';
            font-size: 12pt;
            margin-top: 8%;
        }

        .judulkanan {
            float: right;
            padding-right: 100px;
            margin-top: -50px;
            border: none;
        }

        .divnote {
            height: 150px;
            width: 85%;
            border: solid;
            border-width: 1px;
            margin-top: 15px;
            font-family: Calibri;
            font-size: 12pt;
        }

        .paraf {
            margin-top: 65px;
            width: 95%;
            bottom: 20px;
            position: relative;
        }

        .kanan {
            /*float:right;*/
            font-family: 'Times New Roman';
            font-size: 10pt;
        }

        .kiri {
            float: left;
            font-family: 'Times New Roman';
            font-size: 10pt;
            width: 75.5%;
        }
        /*footer {
            position: absolute;
            padding-bottom: 0;
            width: 100%;
            height: 60px;
            text-align: center;
        }*/
        html, body {
            margin: 0px;
            padding: 0px;
            min-height: 100%;
            height: 100%;
        }

        #wrapper {
            min-height: 100%;
            height: auto !important;
            margin-bottom: -50px; /* the bottom margin is the negative value of the footer's total height */
        }

            #wrapper:after {
                content: "";
                display: block;
                height: 50px; /* the footer's total height */
            }

        #content {
            height: 100%;
            margin-top: -15px;
        }

        #footer {
            width: 100%;
            position: absolute;
            bottom: 0;
            height: 20px;
            margin-top: 30px;
        }

        .divfooter {
            font-family: 'Times New Roman';
            font-size: 10pt;
        }
    </style>
</head>
<body>

    <div class="divjudul">
        <div style="float:left;margin-top:-5%;"><img src="@Server.MapPath("~/Content/Image/pertamina_aviation.jpg")" style="width:200px; height:150px;" /></div>
        <div class="judul">
            <p>
                JURNAL PENGISIAN AVTUR KE BRIDGER <br />EXDAY TANK (DT-01 & DT-02)
            </p>
        </div>
        @*<center>

            </center>*@
        <div class="judulkanan">
            <table class="tableJudul noborder">
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Ex. Tank No</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Density 15<sup>o</sup> C</td>
                    <td>:</td>
                </tr>
                <tr>
                    <td>Temp. Obs</td>
                    <td>:</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="judulIPM"><p>IPM No</p></div>
    <div id="wrapper">

        <div id="content" style="page-break-inside: avoid;">

            <table class="tablesatu">
                    <tr>
                        <td class="head">No </td>
                        <td class="head">Jam</td>
                        <td class="head">No Polisi</td>
                        <td class="head">Tujuan</td>
                        <td class="head">Pt. Meter Awal</td>
                        <td class="head">Pt. Meter Akhir</td>
                        <td class="head">Kap. Bridger</td>
                        <td class="head">Ket</td>
                    </tr>
                
                <tbody>
                    @{
                        int i = 0;
                        decimal jml = 0;
                        foreach (var item in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@item.JamMulai.ToString(@"hh\:mm")</td>
                                <td>@item.NoPolisi</td>
                                <td>@item.Tujuan</td>
                                <td>@item.MeterAwal</td>
                                <td>@item.MeterAkhir</td>
                                <td>@item.KapBridger</td>
                                <td>@item.JamSelesai.ToString(@"hh\:mm")</td>
                            </tr>
                            jml = jml + @item.KapBridger;
                        }
                        <tr>
                            <td colspan="6">Jumlah</td>
                            <td colspan="2">@jml ltr</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="divnote">
                <p>Note :</p>
            </div>
        </div>

        <div class="paraf">
            <div class="kiri">
                Diketahui Oleh,
                <br />
                <br />
                <br />
                <hr style="width:40%;float:left;margin-top:60px;" />
            </div>
            <div class="kanan">
                Dumai,......................................................
                <br />
                <br />
                <br />
                <hr style="margin-top:60px;" />
            </div>
        </div>

    </div>
    <footer id="footer">
        <div style="width:50%;"></div>
        @*<div class="divfooter" style="float:right;width:50%;">
                [Oil Custody] Printed On @DateTime.Now by @ViewBag.User
            </div>*@
    </footer>
</body>
</html>
